<? $downloads = new \Downloads\Model\Downloads(); ?>
<? $downloads = (object) array('count' => $downloads->getItemCount()); ?>

<? $menu = new \MenusAdmin\Model\Menu(); ?>
<? $menus = $menu->generateMenu(); ?>

<? $footer = new \FooterAdmin\Model\Footer(); ?>
<? $footers = $footer->generateFooter(); ?>


<header class="header">
    <nav class="header__nav--top">
        <div class="wrapper">
            <div class="tablet--hidden mobile--hidden cf">
                <ul class="float--left cf">
                    <li class="quick-links">
                        <a href="#" class="icon icon--bookmark"><?= \Index\Model\Index::strtoupper($this->translate('Quick links')); ?></a>
                        <div class="quick-links__dropdown">
                            <ul>
                                <li>
                                    <a href="/gallery"><?= \Index\Model\Index::strtoupper($this->translate('Gallery')); ?></a>
                                </li>
                                <li>
                                    <a href="/releases"><?= \Index\Model\Index::strtoupper($this->translate('Press Releases')); ?></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/<?= \Newspress::config()->social->twitter->username ?>" target="_blank" class="icon icon--twitter"><?= \Index\Model\Index::strtoupper($this->translate('Twitter')); ?></a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/<?= \Newspress::config()->social->facebook->username ?>"  target="_blank" class="icon icon--facebook"><?= \Index\Model\Index::strtoupper($this->translate('Facebook')); ?></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="/<?= \Newspress\String::makeUrlFriendly('Contact'); ?>" class="icon icon--mail"><?= \Index\Model\Index::strtoupper($this->translate('Contact')); ?></a>
                    </li>
                    <li class="search">
                        <form action="/search" method="get">
                            <span class="icon icon--search-small"></span>
                            <input class="search-input" type="text" name="query" placeholder="<?= \Index\Model\Index::strtoupper($this->translate('Search')); ?>">
                        </form>
                    </li>
                </ul>
                <div class="top__links float--right">
                    <? if ($this->layout()->hasIdentity) : ?>
                        <div class="profile__link">
                            <a href="/profile"><?= \Index\Model\Index::strtoupper($this->translate('Profile')); ?></a>
                        </div>
                    <? endif; ?>
                    <div class="language">
                        <div class="language__flags">
                            <ul>
                                <? foreach (\Newspress::getLocales() as $locale): ?>
                                    <? $localeName = \Newspress\Locale::getThreeLetterName($locale['locale']); ?>
                                    <? if (!$localeName): continue; endif; ?>
                                    <li><a href="/locale?locale=<?= $locale['locale']; ?>" class="icon icon--flag-<?= \Newspress\Locale::getLocaleFlagStringFromId($locale['id']); ?>"> <?= $localeName ?></a></li>
                                <? endforeach ?>
                            </ul>
                        </div>
                        <a href="#" class="icon--after">
                            <span class="language__flag icon icon--flag-<?= \Newspress\Locale::getUrlFromLocale(\Newspress::getCurrentLocale()); ?>"> <?= \Newspress\Locale::getThreeLetterName() ?></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="header__nav--mobile">
                <a href="#" class="mobile__nav animated icon icon--hamburger"></a>
                <a href="/downloads" class="mobile__downloads downloads<?= ($downloads->count > 0) ? ' downloads--active' : ''; ?> icon icon--downloads"><?= $downloads->count; ?></a>
                <a href="/" class="mobile__logo"><img class="logo" src="<?= $this->basePath() ?>/img/mclaren-logo.png" alt="McLaren"></a>
            </div>
        </div>
    </nav>
    <nav class="header__nav">
        <div class="wrapper">
            <div class="header__nav__right">
                <div class="downloads-wrapper">
                    <div class="downloads-overview">
                        <h2 class="downloads-overview__title"><?= $this->translate('Downloads Overview'); ?></h2>
                        <div class="downloads-overview__wrapper">
                            <div class="downloads-overview__content"></div>
                            <div class="downloads__pagination">
                                <a href="#" class="icon icon--arrow-left-grey icon--margin--right downloads__pagination-action downloads__pagination-action--prev"></a>
                                <span>Page 1 of 2</span>
                                <a href="#" class="icon icon--arrow-right-grey icon--margin--left downloads__pagination-action downloads__pagination-action--next"></a>
                            </div>
                            <a href="/downloads" class="downloads__button button button--solid icon icon--arrow-right-white icon--margin--right"><?= $this->translate('Your Downloads'); ?></a>
                        </div>
                    </div>
                    <a href="/downloads" class="downloads<?= ($downloads->count > 0) ? ' downloads--active' : ''; ?> icon icon--downloads"><?= $downloads->count; ?></a>
                </div>
                <a href="/"><img class="logo" src="<?= $this->basePath() ?>/img/mclaren-logo.png" alt="McLaren"></a>
            </div>
            <ul class="mobile__quick-links cf">
                <? $links = array(
                    0 => (object) array(
                        'text' => 'Quick links',
                        'icon' => 'bookmark',
                        'link' => '#'
                    ),
                    1 => (object) array(
                        'text' => 'Contact',
                        'icon' => 'mail',
                        'link' => 'contact'
                    ),
//					2 => (object) array(
//							'text' => 'Search',
//							'icon' => 'search-small',
//							'link' => 'search'
//						)
                ); ?>
                <li>
                    <form action="/search" method="get" class="mobile__search">
                        <input class="search-input" type="text" name="query" placeholder="<?= \Index\Model\Index::strtoupper($this->translate('Search')); ?>">
                        <span class="icon icon--search-small" id="mobile-search-submit"></span>
                    </form>
                </li>

                <? foreach ($links as $link): ?>
                    <li>
                        <? if ($link->text == 'Quick links'): ?>
                            <a href="#" class="select-dropdown icon icon--<?= $link->icon; ?>"><?= \Index\Model\Index::strtoupper($this->translate($link->text)); ?></a>
                            <div class="dropdown">
                                <ul>
                                    <li>
                                        <a href="/gallery"><?= \Index\Model\Index::strtoupper($this->translate('Gallery')); ?></a>
                                    </li>
                                    <li>
                                        <a href="/releases"><?= \Index\Model\Index::strtoupper($this->translate('Press Releases')); ?></a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/<?= \Newspress::config()->social->twitter->username ?>" class="icon icon--twitter"><?= \Index\Model\Index::strtoupper($this->translate('Twitter')); ?></a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/<?= \Newspress::config()->social->facebook->username ?>" class="icon icon--facebook"><?= \Index\Model\Index::strtoupper($this->translate('Facebook')); ?></a>
                                    </li>
                                </ul>
                            </div>
                        <? else: ?>
                            <a href="/<?= \Newspress\String::makeUrlFriendly($link->link); ?>" class="icon icon--<?= $link->icon; ?>"><?= \Index\Model\Index::strtoupper($this->translate($link->text)); ?></a>
                        <? endif ?>
                    </li>
                <? endforeach; ?>
            </ul>
            <ul class="cf">

                <? foreach ($menus as $name => $menu): ?>
                    <li>
                        <a <?= (!is_array($menu['children'])? 'href="/'.$menu['slug'].'"':'') ?>  <?= (is_array($menu['children'])) ? ' class="select-dropdown icon icon--arrow-mobile-down-orange icon--after icon--after--arrow-dropdown-grey icon--margin--left--small"' : ' class="select-dropdown--false"'; ?>>
                            <?= \Index\Model\Index::strtoupper($name); ?>
                        </a>
                        <? if(is_array($menu['children'])): ?>
                            <div class="dropdown">
                                <div class="wrapper">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <? foreach($menu['children'] as $model => $children): ?>

                                                <? if($children['slug'] != null): ?>
                                                    <a href="<?=  '/' .  \MenusAdmin\Model\Menu::formatUrl($name) ?>/<?= $children['slug'] ?>" class="dropdown__title icon icon--arrow-mobile-down-orange margin--top-30">
                                                        <?= \Index\Model\Index::strtoupper($this->translate($model)) ?>
                                                    </a>
                                                <? else: ?>
                                                    <h3 class="dropdown__title margin--top-30 icon icon--arrow-mobile-down-orange"><?= \Index\Model\Index::strtoupper($this->translate($model)) ?></h3>
                                                <? endif;  ?>

                                                <? if(!empty($children['children'])): ?>
                                                    <ul>
                                                        <? foreach($children['children'] as $key =>  $child): ?>
                                                            <li>

                                                                <a href="<?=  '/' .  \MenusAdmin\Model\Menu::formatUrl($name) ?>/<?= $child['slug'] ?>" data-image="<?=(new \Newspress\Asset\Image((int) $child['dropdown']))->getUrl('dropdown');?>"><?= \Index\Model\Index::strtoupper($child['name']); ?></a>

                                                                <? if(!empty($child['children'])): ?>
                                                                    <ul>
                                                                        <? foreach($child['children'] as $k =>  $c): ?>
                                                                            <li>
                                                                                <a href="<?=  '/' .  \MenusAdmin\Model\Menu::formatUrl($name) ?>/<?= $c['slug'] ?>" data-image="<?=(new \Newspress\Asset\Image((int) $c['dropdown']))->getUrl('dropdown');?>"><?= \Index\Model\Index::strtoupper($c['name']); ?></a>
                                                                            </li>
                                                                        <? endforeach ?>
                                                                    </ul>
                                                                <? endif; ?>

                                                            </li>
                                                        <? endforeach ?>
                                                    </ul>
                                                <? endif;  ?>

                                                <? if($children['column_order']): ?>
                                            </td><td>
                                                <?  endif ?>

                                                <? endforeach ?>
                                            </td>
                                            <? if($name == 'Models' || $name == 'Press Kits'): ?>
                                                <td class="align--right dropdown__td-image">
                                                    <img class="image dropdown__image-preview" src="<?= $this->basePath() ?>/img/placeholders/press-kits/preview.jpg" alt="Press Kit">
                                                </td>
                                            <? endif ?>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        <? endif; ?>
                    </li>
                <? endforeach; ?>
            </ul>
        </div>
    </nav>
</header>
<div class="content">
    <?= $this->content; ?>
</div>
<footer class="footer animated">
    <div class="wrapper cf">

        <? foreach ($footers as $children) : ?>

        <? if ($children['name'] == 'Copyright') : ?>
            <div class="footer__copyright">
                <? foreach ($children['children'] as $key => $copyright) : ?>
                    <?
                    if ($copyright['slug'] != null) {
                        $cpright = '<a href="'.$copyright['slug'].'" target="_blank">'.$copyright['name'].'</a>';
                    } else {
                        $cpright = $copyright['name'];
                    }
                    ?>
                    <p class="footer__copyright__text"><?= $cpright ?></p>
                <? endforeach;?>
            </div>
        <? endif; ?>

        <? if ($children['name'] == 'Social') : ?>
            <div class="footer__social">
                <div class="footer__social__links">
                    <? foreach ($children['children'] as $key => $social) : ?>
                        <? $name = strtolower($social['name']) ?>
                        <? if (isset(\Newspress::config()->social->$name)) : ?>
                            <a href="<?= $social['slug'] ?><?= \Newspress::config()->social->$name->username ?>" target="_blank" class="icon icon--<?= $name ?>"></a>
                        <? else : ?>
                            <a href="/<?=$social['slug']?>" class="icon icon--<?=$social['slug']?>" target="_blank"></a>
                        <? endif;?>
                    <? endforeach;?>
                </div>
            </div>
        <? endif; ?>

        <? if ($children['name'] == 'Links') : ?>
        <div class="footer__links">
            <nav class="footer__links__nav">
                <ul>
                    <? if ($this->layout()->hasIdentity) : ?>
                        <li><a href="/logout"><?= \Index\Model\Index::strtoupper($this->translate('Logout')); ?></a></li>
                    <? else : ?>
                        <li><a href="/login"><?= \Index\Model\Index::strtoupper($this->translate('Login')); ?></a></li>
                    <? endif; ?>

                    <? foreach ($children['children'] as $key => $link) : ?>
                        <li><a href="<?=$link['slug']?>"><?= \Index\Model\Index::strtoupper($this->translate($link['name'])); ?></a></li>
                    <? endforeach;?>
                </ul>
        </div>
    </div>
    <? endif; ?>

    <? if ($children['name'] == 'Copyright Mobile') : ?>
        <div class="footer__copyright footer__copyright--mobile">
            <? foreach ($children['children'] as $key => $copyright) : ?>
                <p class="footer__copyright__text"><?= $this->translate($copyright['name']) ?></p>
            <? endforeach;?>
        </div>
    <? endif; ?>

    <? endforeach;?>

    </div>
    <script type="text/javascript">
        // Google Analytics
        		var _gaq = _gaq || [];
        		_gaq.push(['_setAccount', 'UA-28448144-1']);
        		_gaq.push(['_trackPageview']);

        		(function() {
        			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        		})();

    </script>
</footer>