<?php

$published = new \DateTime($release->published);

$endsArray = array(
        '<p>Ends</p>',
        '<p>Ends.</p>',
        '<p><strong>Ends</strong></p>',
        '<p><strong>Ends.</strong></p>',
        '<p>
    Ends</p>',
        '<p>
    Ends.</p>',
        '<p>
    <strong>Ends</strong></p>',
        '<p>
    <strong>Ends.</strong></p>',
    );

$content = $release->content;
$content = str_ireplace($endsArray, '', $content);

$length = strlen('<p><strong>Further information</strong></p>');
$position = stripos($content, '<p><strong>Further information</strong></p>');
if ($position !== false) {
    $furtherInformation = '<p class="pdf__further-information__title"><strong>Further information</strong></p>';
    $furtherInformation .= substr($content, $position + $length);
    $content = substr($content, 0, $position);
}

$length = strlen('<p><strong>Notes to Editors:</strong></p>');
$position = stripos($content, '<p><strong>Notes to Editors:</strong></p>');
if ($position !== false) {
    $notesToEditors = '<p class="pdf__notes-to-editors__title"><strong>Notes to Editors:</strong></p>';
    $notesToEditors .= substr($content, $position + $length);
    $content = substr($content, 0, $position);
}

?><html>
     <head>
          <style>
                body {
                    font-family: Arial, sans-serif;
                }
                @page {
                    margin: 150px 90px;
                }
                .header {
                    left: 0px;
                    right: 0px;
                    top: -150px;
                    height: 130px;
                    position: fixed;
                }
                .footer {
                    left: 0px;
                    right: 0px;
                    height: 90px;
                    bottom: -150px;
                    position: fixed;
                    text-align: center;
                }
                a {
                    color: #e0610e;
                    text-decoration: underline;
                }
                sup {
                    vertical-align: middle;
                }
                .float--left {
                    float: left;
                }
                .float--right {
                    float: right;
                }
                .pdf {
 
                }
                .pdf__logo {
                    float: right;
                    margin-top: 60px;
                    text-align: right;
                }
                .pdf__media-information {
                    font-size: 12px;
                    font-weight: bold;
                    margin-top: -94px;
                }
                .pdf__info {
                    margin-bottom: 0;
                }
                .pdf__date {
                    margin-top: 0;
                    color: #e0610e;
                }
                .pdf__title {
                    color: #e0610e;
                    font-size: 18px;
                    font-family: 'serenelight';
                }
                .pdf__subtitle {
                    color: #666;
                    font-size: 14px;
                }
                .pdf__content {
                    font-size: 15px;
                    line-height: 1.8em;
                }
                .pdf__ends {
                    width: 200px;
                    margin: 10px 0;
                    font-size: 14px;
                    padding-top: 5px;
                    font-weight: bold;
                    border-top: 1px #000 solid;
                }
                .pdf__notes-to-editors {
                    color: #808080;
                    font-size: 12px;
                    line-height: 1.2em;
                }
                .pdf__notes-to-editors__title {
                    color: #000;
                    font-size: 14px;
                }
                .pdf__further-information {
                    font-size: 12px;
                    margin-top: 20px;
                    padding-top: 20px;
                    line-height: 1.2em;
                    border-top: 2px #000 solid;
                }
                .pdf__further-information h1,
                .pdf__further-information h2,
                .pdf__further-information h3,
                .pdf__further-information h4,
                .pdf__further-information h5,
                .pdf__further-information h6 {
                    font-size: 12px;
                }
                .pdf__further-information__title {
                    font-size: 14px;
                }
          </style>
     </head>
     <body>
          <div class="header">
               <div class="float--right">
                    <img class="pdf__logo" src="<?= realpath(__DIR__ . '/../../../../../public/img/pdf/logo.png') ?>" alt="McLaren Media" />
               </div>
          </div>
          <div class="footer">
               <img class="pdf__partners" src="<?= realpath(__DIR__ . '/../../../../../public/img/pdf/partners.png') ?>" alt="Partners" />
          </div>
          <div class="pdf">
               <div class="pdf__media-information">
                    <p class="pdf__info">Media Information</p>
                    <p class="pdf__date">EMBARGOED: <?= $published->format('H:i.T, j F Y') ?></p>
               </div>
               <h1 class="pdf__title"><?= $release->title ?></h1>
               <div class="pdf__content"><?= $content ?></div>
               <div class="pdf__ends">Ends</div>
               <? if (isset($notesToEditors)): ?>
                    <div class="pdf__notes-to-editors">
                         <?= $notesToEditors ?>
                    </div>
               <? endif ?>
               <? if (isset($furtherInformation)): ?>
                    <div class="pdf__further-information">
                         <?= $furtherInformation ?>
                    </div>
               <? endif ?>
          </div>
     </body>
</html>