<div class="grid__item one-third l-one-third m-one-half s-full">
	<article class="release">
		<? $media = (isset($release['media']) ? explode(',', $release['media']) : array(0 => null)); ?>
		<? $image = new \Newspress\Asset\Media($media[0]); ?>
		<a class="release-link-hover" href="<?= $this->url('releases/detail', array('id' => $release['id'])) ?>">
			<?= $image->getTag('thumbnail', 'image') ?>
		</a>

		<div class="release__flags cf">
			<? if (isset($release['languages']) && count($release['languages']) >= 6): ?>
				<div class="release__flags--scroll-left"></div>
			<? endif; ?>
			<div class="release__flags--scroll">
				<div class="release__flags--scroll-wrapper cf">
					<a href="<?= $this->url('releases/detail', array('id' => $release['id'])) ?>" class="flag flag--active icon icon--flag-en-gb"></a>
					<? if (isset($release['languages'])): ?>
						<? foreach ($release['languages'] as $language): ?>
							<? if ($language == 1): continue; endif; ?>
							<? $localeUrl = \Newspress\Locale::getLocaleFlagStringFromId($language); ?>
							<a href="<?= $this->url('releases/detail', array('locale' => $localeUrl, 'id' => $release['id'])) ?>" class="flag icon icon--flag-<?= $localeUrl ?>"></a>
						<? endforeach ?>
					<? endif ?>
				</div>
			</div>
			<? if (isset($release['languages']) && count($release['languages']) >= 6): ?>
				<div class="release__flags--scroll-right"></div>
			<? endif; ?>
		</div>
		<div class="release__information cf">
			<div class="release__date"><?= $this->date($release['published']) ?></div>
			<div class="release__count"><?= $this->translate('Images'); ?>: <span class="release__count--images"><?= (isset($release['media_count']['image'])) ? $release['media_count']['image'] : '0'; ?></span></div>
			<div class="release__count"><?= $this->translate('Videos'); ?>: <span class="release__count--videos"><?= (isset($release['media_count']['video'])) ? $release['media_count']['video'] : '0'; ?></span></div>
		</div>
		<div class="release__preview">
			<a href="<?= $this->url('releases/detail', array('id' => $release['id'])) ?>"><?= \Index\Model\Index::strtoupper($release['title']); ?></a>
		</div>
	</article>
</div>