<?php

$title = $this->translate('Partners');
$this->headTitle($title);

?>
<div class="wrapper">

	<section>
		<h1 class="page__title page__title--uppercase page__title--margin-bottom"><?= $title; ?></h1>
		<div class="page__content">
			<div class="grid">
				<? foreach ($partners as $partner): ?>
					<div class="grid__item full l-full m-full s-full">
						<h3 class="partners__title mobile--hidden"><?= $partner->title ?></h3>
						<div class="grid grid--flush grid--gutter-35">
                            <div class="grid__item one-fourth l-one-fourth m-full mobile--show">
                                <img class="partners__image image animated" src="<?= $this->basePath() ?><?= $partner->image . ($browser=='ie8'?'png':'svg')?>" alt="<?= $partner->title ?>">
                            </div>
							<div class="grid__item three-fourths l-three-fourths m-full s-full">
								<p class="partners__content" id="<?= strtolower($partner->title) ?>"><?= $partner->content ?></p>
							</div>
							<div class="grid__item one-fourth l-one-fourth m-full mobile--hidden">
								<img class="partners__image image animated" src="<?= $this->basePath() ?><?= $partner->image . ($browser=='ie8'?'png':'svg')?>" alt="<?= $partner->title ?>">
							</div>
						</div>
					</div>
				<? endforeach ?>
			</div>
		</div>
	</section>

</div>