<div class="modal">
	<a href="#" class="modal__close modal__action--close"><?= $this->translate('Close') ?></a>
	<div class="modal__content">
		<img class="modal__partner__image margin--bottom-20" src="<?= $partner->image . ($browser=='ie8'?'png':'svg')?>" alt="<?= $partner->title ?>">
		<p class="modal__partner__content"><?= $partner->content ?></p>
	</div>
</div>