/**
 * Newspress Ltd (http://www.newspress.co.uk)
 *
 * @link      http://www.newspress.co.uk
 * @copyright Copyright (c) 2015 Newspress Ltd (http://www.newspress.co.uk)
 * @license  ISC Licence
 *
 * Version: 1.0.0
 */
.debug{left:0;bottom:0;width:100%;z-index:99999;position:fixed;font-size:13px;font-family:Arial,Helvetica,sans-serif}.debug a{color:#fff;text-decoration:none}.debug a:hover{text-decoration:underline}.debug--active{top:0;bottom:auto;position:absolute}.debug--active .debug__content{display:block}.debug__overview{color:#fff;opacity:.95;padding:15px 0;font-weight:700;background-color:#333;border-top:3px #000 solid}.debug__overview ul{list-style:none}.debug__overview ul li{float:left;padding-right:20px}.debug__content{display:none;font-size:11px;background-color:#fff}.debug__item{padding:10px}.debug__message{padding:10px;margin-top:10px;line-height:1.6em;font-family:Courier;word-wrap:break-word;border-left:3px #333 solid}.debug__type{background-color:#f5f5f5;border-bottom:1px #c2c2c2 solid}.debug__type .debug__message{border-color:#c2c2c2}.debug__type--query{background-color:#dff0d8;border-bottom:1px #a3d48e solid}.debug__type--query .debug__message{border-color:#a3d48e}.debug__type--notice{background-color:#fbdac4;border-bottom:1px #f59e64 solid}.debug__type--notice .debug__message{border-color:#f59e64}.debug__type--info{background-color:#d9edf7;border-bottom:1px #85c5e5 solid}.debug__type--info .debug__message{border-color:#85c5e5}.debug__type--elastic{background-color:#fcf8e3;border-bottom:1px #f2e187 solid}.debug__type--elastic .debug__message{border-color:#f2e187}.debug__type--error{background-color:#f2dede;border-bottom:1px #d59595 solid}.debug__type--error .debug__message{border-color:#d59595}.debug .cf:after{clear:both;content:"";display:block}
/*# sourceMappingURL=debug.css.map */