<?php

$title = $this->translate('Press Kits');
$this->headTitle($title);

?><div class="wrapper">
    <div class="grid">
        <div class="grid__item full l-full m-full s-full">
            <h1 class="page__title page__title--margin-bottom"><?= \Index\Model\Index::strtoupper($this->translate('Press Kits') . ': ' . $pressKit->title); ?>
            <div class="release-sidebar__media-info">
                <? if ($packs): ?>
                    <a href="#documents" class="page__anchor icon icon--arrow-down-orange"><?= $this->translate('Documents') ?></a>
                <? endif ?>
                <? if ($images || $videos): ?>
                    <a href="#gallery" class="page__anchor icon icon--arrow-down-orange"><?= $this->translate('Gallery') ?></a>
                <? endif ?>
            </div>
            </h1>
            <? if (isset($pressKit->hero) && $pressKit->hero !== null): ?>
                <div class="hero height--auto">
                    <? if ($mediaObject = new \Newspress\Asset\Image($pressKit->hero)): ?>
                        <?= $mediaObject->getTag('hero', 'hero__image image'); ?>
                    <? endif ?>
                </div>
            <? endif ?>
        </div>
        <? if ($packs): ?>
            <div class="grid__item full l-full m-full s-full">
                <h1 class="page__title  page__title--margin-bottom margin--top-30" id="documents"><?= \Index\Model\Index::strtoupper($this->translate('Documents') . ': ' . $pressKit->title); ?></h1>
            </div>
            <div class="grid__item <?= ($images || $videos || $documents) ? 'two-thirds l-two-thirds' : 'full l-full'; ?> m-full s-full">
                <div class="mobile--hidden">
                    <?= $this->partial('events/partials/packs-desktop.phtml', array(
                        'packs' => $packs
                    )); ?>
                </div>

                <div class="mobile--show">
                    <?= $this->partial('events/partials/packs-mobile.phtml', array(
                        'packs' => $packs
                    )); ?>
                </div>
            </div>
            <? if ($images || $videos || $documents): ?>
                <div class="grid__item one-third l-one-third m-full s-full">
                    <div class="release-sidebar">
                        <? if ($images || $videos): ?>
                            <div class="tablet--hidden mobile--hidden">
                                <h2 class="release-sidebar__title page__subtitle--block">
                                    <?= $this->translate('Gallery'); ?>
                                    <div class="release-sidebar__media-info">
                                        <span class="release-sidebar__media-count">
                                            <?= $this->translate('Media'); ?>: <span><?= $mediaCount ?></span>
                                        </span>
                                        <a href="#gallery" class="release-sidebar__anchor icon icon--arrow-down-orange"><?= $this->translate('View Gallery') ?></a>
                                    </div>
                                </h2>
                                <div class="wrapper--grey">
                                    <div class="grid grid--flush">
                                        <? foreach ($images as $image): ?>
                                            <div class="grid__item one-half l-one-half m-one-half s-full">
                                                <a href="#gallery" class="page__anchor"><?= $image->getTag('thumbnail', 'image'); ?></a>
                                            </div>
                                        <? endforeach ?>
                                    </div>
                                </div>
                            </div>
                        <? endif ?>
                        <? if (isset($languages) && count($languages) > 0): ?>
                            <h2 class="release-sidebar__title page__subtitle--block"><?= $this->translate('Languages'); ?></h2>
                            <div class="wrapper--grey">
                                <div class="cf">
                                    <a href="<?= $this->url('press_kits/detail', array('id' => $pressKit->slug)) ?>" class="flag<?= ($this->locale == 'en_GB') ? ' flag--active' : ''; ?> icon icon--flag-en-gb"></a>
                                    <? foreach ($languages as $language): ?>
                                        <? if ($language == 1): continue; endif; ?>
                                        <? $localeUrl = \Newspress\Locale::getLocaleFlagStringFromId($language); ?>
                                        <a href="<?= $this->url('press_kits/detail', array('locale' => $localeUrl, 'id' => $pressKit->slug)) ?>" class="flag<?= ($this->locale == \Newspress\Locale::getLocaleFromId($language)) ? ' flag--active' : ''; ?> icon icon--flag-<?= $localeUrl ?>"></a>
                                    <? endforeach ?>
                                </div>
                            </div>
                        <? endif ?>
                        <? if ($documents && count($documents) > 0): ?>
                            <h2 class="release-sidebar__title page__subtitle--block"><?= $this->translate('Documents'); ?></h2>
                            <div class="wrapper--grey">
                                <form action="/downloads/direct-download" method="post">
                                    <input type="hidden" name="document" value="1">
                                    <table class="release-sidebar__documents">
                                        <tbody>
                                            <? foreach ($documents as $document): ?>
                                                <? if (!$document instanceof \Newspress\Asset\Document): ?>
                                                    <? $document = new \Newspress\Asset\Document($document); ?>
                                                <? endif ?>
                                                <? $documentTitle = $document->getTitle() . ' ' . strtoupper($this->translate('Press Kit')) ?>
                                                <tr>
                                                    <td>
                                                        <label class="checkbox">
                                                            <input type="checkbox" name="id[]" checked="checked" value="<?= $document->getId() ?>">
                                                            <span></span>
                                                        </label>
                                                        <input type="hidden" name="title" value="<?= $documentTitle ?>">
                                                    </td>

                                                    <td class="relative">
                                                        <div class="document-title-popup">
                                                            <?= $documentTitle ?>
                                                        </div>
                                                        <a href="<?= $document->getTemporaryUrl() ?>" class="document-link"><?= $documentTitle ?></a></td>
                                                    <td><?= $document->getSize('KB') ?></td>
                                                    <td><?= $document->getTypeName() ?></td>
                                                </tr>
                                            <? endforeach ?>
                                        </tbody>
                                    </table>
                                    <div class="media-download__buttons">
                                        <a href="#" class="basket-action--add-documents button button--hard button--no-border media-download__button--later margin--right-15 icon icon--list icon--margin--right"><?= $this->translate('Add to downloads'); ?></a>
                                        <a href="#" class="button button--white button--hard button--no-border media-download__button--now icon icon--download document__action-download--now"></a>
                                    </div>
                                </form>
                            </div>
                        <? endif ?>
                    </div>
                </div>
            <? endif ?>
        <? endif ?>
    </div>
    <? if ($images || $videos): ?>
        <div>
            <div class="float--right">
                <? if ((count($images) + count($videos)) > 6): ?>
                    <span class="media-count"><?= sprintf($this->translate("Images: %s  Videos: %s"), '<span> ' . $imageCount . ' </span>', '<span> ' . $videoCount . ' </span>'); ?></span>
                    <a href="/gallery/category/press-kits/<?= $pressKit->id ?>" class="view-all icon icon--arrow-right-orange icon--margin--right--small"><?= $this->translate('View all') ?></a>
                <? endif ?>
            </div>
            <h2 class="page__title page__title--margin-bottom margin--top-50" id="gallery"><?= \Index\Model\Index::strtoupper($this->translate('Gallery') . ': ' . $pressKit->title); ?></h2>
        </div>
        <div class="release__gallery">
            <div class="grid l-clearfix m-clearfix">
                <? if ($images && count($images) > 0): ?>
                    <? foreach ($images as $image): ?>
                        <?= $this->partial('gallery/partials/image.phtml', array(
                            'media'     => $image,
                            'downloads' => $downloads,
                            'download'  => true
                        )); ?>
                    <? endforeach ?>
                <? endif ?>
                <? if ($videos && count($videos) > 0): ?>
                    <? foreach ($videos as $video): ?>
                        <?= $this->partial('gallery/partials/video.phtml', array(
                            'media'     => $video,
                            'downloads' => $downloads,
                            'download'  => true,
                            'browser'   => $browser
                        )); ?>
                    <? endforeach ?>
                <? endif ?>
            </div>
        </div>
    <? endif ?>
    <div class="back-to-top__wrapper align--center">
        <a href="#top" class="back-to-top button--light-grey button--hard display--inline-block icon icon--top icon--margin--right">Back to top</a>
    </div>
</div>