<?php

$title = $this->translate('Releases');
$this->headTitle($title);

?>
<div class="wrapper">

	<h1 class="page__title page__title--margin-bottom"><?= \Index\Model\Index::strtoupper($this->translate('Releases category') . ': ' . $category->name) ?></h1>

	<div class="filters hidden">
		<form method="get" action="">
			<input type="hidden" name="order" value="">
			<input type="hidden" name="order-by" value="">
		</form>
	</div>

	<section class="sort cf">
		<div class="grid grid--gutter-30">
			<div class="grid__item one-half l-one-half m-one-half s-full">
				<span class="sort__content"><?= sprintf($this->translate("Showing %s of %s"), '<strong>' . $pageCount . '</strong>', '<strong>' . $totalCount . '</strong>'); ?></span>
			</div>
			<div class="grid__item one-half l-one-half m-one-half s-full align--right">
				<label class="sort__label padding--right-15"><?= $this->translate('Sort by'); ?></label>
				<div class="filters__select filters__select--arrow-padding display--inline-block icon icon--select-dropdown">
					<select class="sort__action--order">
						<option value=""><?= $this->translate('Select') ?></option>
						<option value="published-desc"<?= ($order && $order == 'published' && $orderBy == 'desc') ? ' selected="selected"' : ''; ?>><?= $this->escapeHtml($this->translate('Published (newest first)')) ?></option>
						<option value="published-asc"<?= ($order && $order == 'published' && $orderBy == 'asc') ? ' selected="selected"' : ''; ?>><?= $this->escapeHtml($this->translate('Published (oldest first)')) ?></option>
					</select>
				</div>
			</div>
		</div>
	</section>

	<section class="releases--preview cf">
		<div class="grid l-clearfix m-clearfix">
			<? foreach ($releases as $release): ?>
				<?= $this->partial('releases/partials/result.phtml', array(
						'release' => $release
					)); ?>
			<? endforeach; ?>
		</div>
		<?= $this->paginationControl(
		    $pagination,
		    'sliding',
		    'application/partials/paginator.phtml',
		    array(
		        'route' => 'releases/category',
		        'params' => array(
		        	'id' => (int) $category->id
		        )
		    )
		) ?>
	</section>	

</div>