<?php

$title = $this->translate('Releases');
$this->headTitle($title);

?><div class="wrapper">
	<div class="grid">
		<div class="grid__item two-thirds l-two-thirds m-full s-full">
			<h1 class="page__title page__title--margin-bottom"><?= \Index\Model\Index::strtoupper($release->title); ?></h1>
			<div class="page__content richtext">
				<p class="release__date"><?= $this->date($release->published); ?></p>
				<?= $release->content; ?>
			</div>
		</div>
		<div class="grid__item one-third l-one-third m-two-thirds s-full">
			<div class="release-sidebar">
				<? $initialImages = array_filter(array_slice($images, 0, 2)); ?>
				<? if (count($initialImages) > 0): ?>
					<h2 class="release-sidebar__title page__subtitle--block"><?= $this->translate('Gallery'); ?><div class="release-sidebar__media-info"><span class="release-sidebar__media-count"><?= $this->translate('Media'); ?>: <span><?= count($images) + count($videos) ?></span></span><a href="#gallery" class="page__anchor icon icon--arrow-down-orange"><?= $this->translate('View Gallery') ?></a></div></h2>
					<div class="wrapper--grey">
						<div class="grid grid--flush">
							<? foreach ($initialImages as $initialImage): ?>
								<? $initialImage = new \Newspress\Asset\Image($initialImage); ?>
								<div class="grid__item one-half l-one-half m-one-half s-full">
									<a href="#gallery" class="page__anchor"><?= $initialImage->getTag('thumbnail', 'image') ?></a>
								</div>
							<? endforeach ?>
						</div>
					</div>
				<? endif ?>
				<? if (isset($release->languages) && count($release->languages) > 0): ?>
					<h2 class="release-sidebar__title page__subtitle--block"><?= $this->translate('Languages'); ?></h2>
					<div class="wrapper--grey">
						<div class="cf">
							<a href="<?= $this->url('releases/detail', array('id' => $release->id)) ?>" class="flag<?= ($this->locale == 'en_GB') ? ' flag--active' : ''; ?> icon icon--flag-en-gb"></a>
                            <? foreach ($release->languages as $language): ?>

                                    <? if ($language == 1): continue; endif; ?>
                                    <? $localeUrl = \Newspress\Locale::getLocaleFlagStringFromId($language); ?>
                                    <a href="<?= $this->url('releases/detail', array('locale' => $localeUrl, 'id' => $release->id)) ?>" class="flag<?= ($this->locale == \Newspress\Locale::getLocaleFromId($language)) ? ' flag--active' : ''; ?> icon icon--flag-<?= $localeUrl ?>"></a>

                            <? endforeach ?>
						</div>
					</div>
				<? endif ?>
				<? if (count($documents) > 0): ?>
					<h2 class="release-sidebar__title page__subtitle--block"><?= $this->translate('Documents'); ?></h2>
					<div class="wrapper--grey">
						<table class="release-sidebar__documents">
						    <tbody>
								<? /* <tr>
									<? $document = new \Newspress\Asset\Document(); ?>
									<td><a href="<?= $this->url('releases/download', array('id' => $release->id)); ?>" class="document-link"><?= $release->title ?></a></td>
									<td><?= $document->convertUnit((strlen($release->title) + strlen($release->content) + 8000), 'KB') ?></td>
									<td><?= $this->translate('PDF') ?></td>
								</tr> */ ?>
							    <? foreach ($documents as $document): ?>
									<? $document = new \Newspress\Asset\Document($document);
                                    ?>
									<tr>
										<td>
                                            <label class="checkbox">
                                                <input type="checkbox" name="id" checked="checked" value="<?= $document->getId() ?>">
                                                <span></span>
                                            </label>
											<input type="hidden" name="title" value="<?= $document->getTitle() ?>">
										</td>
										<td class="relative">
                                            <div class="document-title-popup">
                                                <?= $document->getTitle() ?>
                                            </div>
                                            <a href="<?= $document->getTemporaryUrl() ?>" class="document-link"><?= $document->getTitle(20) ?></a>
                                        </td>
										<td><?= $document->getSize('KB') ?></td>
										<td><?= $document->getTypeName() ?></td>
									</tr>
								<? endforeach ?>
						    </tbody>
						</table>
						<div class="media-download__buttons">
							<a href="#" class="basket-action--add-documents button button--hard button--no-border media-download__button--later margin--right-15 icon icon--list icon--margin--right"><?= $this->translate('Add to downloads'); ?></a>
							<a href="<?= $document->getTemporaryUrl() ?>" class="button button--white button--hard button--no-border media-download__button--now icon icon--download"></a>
						</div>
					</div>
				<? endif ?>
			</div>
		</div>
	</div>
	<? if (count($images) > 0 || count($videos) > 0): ?>
			<div>
				<div class="float--right">
					<form class="release__download-all" action="/downloads/direct-download" method="post">
                        <? if (is_array($images)) : ?>
                            <? foreach ($images as $image): ?>
                                <input type="hidden" name="ids[]" value="<?= $image ?>">
                                <input type="hidden" name="types[]" value="image">
                            <? endforeach ?>
                        <? endif ?>
                        <? if (is_array($videos)) : ?>
                            <? foreach ($videos as $video): ?>
                                <input type="hidden" name="ids[]" value="<?= $video ?>">
                                <input type="hidden" name="types[]" value="video">
                            <? endforeach ?>
                        <? endif ?>
						<span class="media-count"><?= sprintf($this->translate("Images: %s  Videos: %s"), '<span> ' . count($images) . ' </span>', '<span> ' . count($videos) . ' </span>'); ?></span>
						<button name="direct-medias" class="view-all icon icon--arrow-down-orange icon--margin--right--small"><?= $this->translate('Download all media') ?></button>
					</form>
				</div>
				<h2 class="page__title page__title--uppercase page__title--margin-bottom margin--top-50" id="gallery"><?= $this->translate('Gallery'); ?></h2>
			</div>
			<div class="release__gallery">
				<div class="grid l-clearfix m-clearfix">
                    <? if (is_array($images)) : ?>
                        <? foreach ($images as $image): ?>
                            <? $object = new stdClass(); $object->id = $image; ?>
                            <?= $this->partial('gallery/partials/image.phtml', array(
                                'media' => $object,
                                'downloads' => $downloads,
                                'download' => true
                            )); ?>
                        <? endforeach ?>
                    <? endif ?>
                    <? if (is_array($videos)) : ?>
                        <? foreach ($videos as $video): ?>
                            <? $object = new stdClass(); $object->id = $video; ?>
                            <?= $this->partial('gallery/partials/video.phtml', array(
                                'media' => $object,
                                'downloads' => $downloads,
                                'download' => true,
                                'browser' => $browser
                            )); ?>
                        <? endforeach ?>
                    <? endif ?>
				</div>
			</div>
	<? endif ?>
	<? if ($previousReleaseId || $nextReleaseId): ?>
		<div class="next-previous cf">
			<? if ($previousReleaseId): ?>
				<a href="<?= $this->url('releases/detail', array('id' => $previousReleaseId, 'locale' => $urlLocale)); ?>" class="next-previous__button next-previous__button--left button--light-grey button--hard icon icon--arrow-left-grey"><?= $this->translate('Previous release') ?></a>
			<? endif ?>
			<? if ($nextReleaseId): ?>
				<a href="<?= $this->url('releases/detail', array('id' => $nextReleaseId, 'locale' => $urlLocale)); ?>" class="next-previous__button next-previous__button--right button--light-grey button--hard icon--after icon--after--arrow-right-grey"><?= $this->translate('Next release') ?></a>
			<? endif ?>
		</div>
	<? endif ?>
	<div class="back-to-top__wrapper align--center">
		<a href="#top" class="back-to-top button--light-grey button--hard display--inline-block icon icon--top icon--margin--right"><?= $this->translate('Back to top') ?></a>
	</div>
</div>