<?php

$title = $this->translate('Press Releases');
$this->headTitle($title);

?>
<div class="wrapper">

	<h1 class="page__title page__title--uppercase page__title--margin-bottom"><?= $title ?></h1>

	<form method="get" action="" class="filters--form">
		<section class="filters">
			<header class="filters__header cf">
				<h2 class="filters__title float--left"><?= $this->translate('Filter by') ?></h2>
				<a href="#" class="filters__toggle float--right"><?= $this->translate('Show filters') ?></a>
			</header>
			<div class="filters__content hidden">
                <input type="hidden" name="model_id" value="">
                <input type="hidden" name="category_ids" value="">
                <div class="grid">
                    <?= $filterHtml; ?>
                    <? $selectedModel = false; ?>

                    <div class="grid__item one-third l-one-third m-one-half s-full">
                        <label class="filters__label"><?= $this->translate('&nbsp;') ?></label>
                        <button type="submit" class="filters__button--search filters__button button">Search</button>
                    </div>
				</div>
			</div>
			<? if (count($queryParams) > 0): ?>
				<div class="filters__footer cf">
					<div class="tags float--left">
						<ul class="cf">
							<? foreach ($queryParams as $queryKey => $queryParam): ?>
								<? if ($queryKey == 'model' && $selectedModel): $queryParam = $selectedModel; ?>
                                <? elseif ($queryKey == 'model_id'): continue; ?>
                                <? elseif ($queryKey == 'category_ids'): continue; ?>
								<? elseif ($queryKey == 'language'): $queryParam = \Newspress\Locale::getLocaleNameFromId($queryParam); ?>
								<? elseif (strrpos($queryParam, '|') !== false): $queryParam = str_replace('|', ' | ', $queryParam); ?>
								<? endif ?>
								<li class="tags__tag" data-name="<?= $queryKey ?>"><?= $queryParam ?><a href="#" class="tags__tag__remove icon--after icon--after--clear"></a></li>
							<? endforeach ?>
						</ul>
					</div>
					<div class="float--right">
						<a href="#" class="filters__clear icon--after icon--margin--left icon--after--clear"><?= $this->translate('Clear all filters') ?></a>
					</div>
				</div>
			<? endif ?>
		</section>

		<section class="sort cf">
			<div class="grid">
				<div class="grid__item one-half l-one-half m-one-half s-full align--center-mobile">
					<? if ($pagination instanceof \Zend\Paginator\Paginator): ?>
                        <span class="sort__content">
                            Showing
                            <strong><?=$showing?></strong>
                            to
                            <strong><?=$showingTo?></strong>
                            of
                            <strong><?=$totalCount?></strong>
                        </span>
					<? endif ?>
				</div>

                <?= $filterSortByHtml; ?>

			</div>
		</section>
	</form>

	<section class="releases--preview cf">
		<div class="grid l-clearfix m-clearfix">
			<? if (isset($releases) && count($releases) > 0): ?>
				<? foreach ($releases as $release): ?>
					<?= $this->partial('releases/partials/result.phtml', array(
							'release' => $release
						)); ?>
				<? endforeach ?>
			<? else: ?>
				<p><?= $this->translate('Sorry, no results found.') ?></p>
			<? endif ?>
		</div>

		<? if ($pagination instanceof \Zend\Paginator\Paginator): ?>
			<?= $this->paginationControl(
			    $pagination,
			    'sliding',
			    'application/partials/paginator.phtml',
			    array(
			        'route' => 'releases'
			    )
			); ?>
		<? endif ?>
	</section>

</div>