<div class="grid__item one-third l-one-third m-one-half s-full">
	<article class="release">
		<img class="image" src="<?= $this->basePath() ?>/img/placeholders/releases/<?= $count; ?>.jpg" alt="Placeholder <?= $count; ?>">
		<div class="release__flags cf">
			<? foreach ($release->languages as $count => $language): ?>
				<a href="#" class="flag<?= ($count == 0) ? ' flag--active' : ''; ?> icon icon--flag-<?= $language; ?>"></a>
			<? endforeach; ?>
		</div>
		<div class="release__information cf">
			<div class="release__date"><?= $release->date->format('d M Y'); ?></div>
			<div class="release__count"><?= $this->translate('Images'); ?>: <span class="release__count--images"><?= $release->image_count; ?></span></div>
			<div class="release__count"><?= $this->translate('Videos'); ?>: <span class="release__count--videos"><?= $release->video_count; ?></span></div>
		</div>
		<div class="release__preview">
			<a href="#"><?= \Index\Model\Index::strtoupper($release->excerpt); ?></a>
		</div>
	</article>
</div>