<table cellspacing="0" cellpadding="0" border="0" width="100%">
	<tr>
		<td class="title">
			<h1>{title}</h1>
		</td>
	</tr>
	<tr>
		<td class="sent-from">
			<p>Sent from: <span class="sent-from__name">{name}</span></p>
		</td>
	</tr>
</table>
<table cellspacing="0" cellpadding="0" border="0" width="100%" class="downloads-table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Date Added</th>
			<th>Size</th>
			<th class="remove-right-border">File Type</th>
		</tr>
	</thead>
	<tbody>
		<? $row = 0; ?>
		<? $totalRows = count($this->items); ?>
		<? foreach($this->items as $item): ?>
			<? $row++; ?>
			<? if (strlen(substr($item['title'], 0, 25)) < strlen($item['title'])): ?>
				<? $item['title'] = substr($item['title'], 0, 25) . ' …'; ?>
			<? endif ?>
			<tr>
				<td class="item__title<?= ($row == $totalRows) ? ' remove-bottom-border' : '' ?>"><?= $item['title'] ?></td>
				<td class="item__date<?= ($row == $totalRows) ? ' remove-bottom-border' : '' ?>"><? $date = new \DateTime($item['added']); echo $date->format('jS M y'); ?></td>
				<td class="item__crop<?= ($row == $totalRows) ? ' remove-bottom-border' : '' ?>"><?= (empty($item['crop'])) ? 'Original' : ucwords($item['crop']) ?></td>
				<td class="item__type remove-right-border<?= ($row == $totalRows) ? ' remove-bottom-border' : '' ?>">
					<span class="icon-wrapper"><img class="icon" src="{site_url}/img/email/<?= $item['type'] ?>.gif" alt="<?= ucwords($item['type']) ?>" /></span> <?= ucwords($item['type']) ?></td>
			</tr>
		<? endforeach ?>
	</tbody>
</table>

<div class="button-wrapper left">
	<a href="<?= $this->url ?>" class="button">Download files</a>
</div>

<p class="left">Please note these links will expire in 24 hours after this email has been sent.<br />
Please do not respond to this message, it was sent from an unmonitored email address.<br />
For general enquires please contact us or call us on: <a href="tel:+441293852233">+44 (0)1293 852233</a></p>