<?php

$this->headTitle('Gallery');

?>
<div class="wrapper">

	<h1 class="page__title page__title--margin-bottom"><?= \Index\Model\Index::strtoupper($this->translate('Gallery category') . ': ' . $category->name) ?></h1>

	<form method="get" action="">
<!--		<input type="hidden" name="type" value="--><?//= implode(',', $type) ?><!--">-->
		

		<section class="sort cf">
			<div class="grid grid--gutter-30">
				<div class="grid__item one-third l-one-third m-one-third s-full">
					<span class="sort__content">
                        Showing
                        <strong><?=$showing?></strong>
                        to
                        <strong class="showing-to"><?=$showingTo?></strong>
                        of
                        <strong class="total-count"><?=$totalCount?></strong>
                    </span>
					<label class="sort__label--checkbox margin--left-10">
		            	<label class="checkbox">
			            	<input class="js-sort-option" type="checkbox"<? if (in_array('image', $type)): echo ' checked="checked"'; endif; ?> value="image" name="type[]">
			            	<span></span>
			            </label>
						<span><?= $this->translate('Images') ?></span>
					</label>
					<label class="sort__label--checkbox">
		            	<label class="checkbox">
			            	<input class="js-sort-option" type="checkbox"<? if (in_array('video', $type)): echo ' checked="checked"'; endif; ?> value="video" name="type[]">
			            	<span></span>
			            </label>
						<span><?= $this->translate('Videos') ?></span>
					</label>
				</div>
				<div class="grid__item one-third l-one-third m-one-third s-full align--center">
					<div class="sort__sizes">
						<span class="sort__label sort__label--vertical padding--right-15">View</span>
						<div class="sort__sizes__options cf">
							<a href="#" class="sort__size icon icon--grid-large-active"></a>
							<a href="#" class="sort__size icon icon--grid-small-inactive"></a>
						</div>
                        <? if ($itemsPerPage < $totalCount): ?>
                            <div class="sort__sizes__options cf">
                                <a href="#" class="js-sort-option sort__size sort__label icon<? if ($showAll): echo ' sort__size--show-all-active'; else: echo ' sort__size--show-all-inactive'; endif; ?>"><?= $this->translate('All') ?></a>
                                <input name="show-all" type="hidden"<? if ($showAll): echo ' value="true"'; endif; ?>>
                            </div>
                        <? endif; ?>
					</div>
				</div>
				<div class="grid__item one-third l-one-third m-one-third s-full align--right">
					<? $sorts = array(
		                		'published-desc' => $this->translate('Published (newest first)'),
		                		'published-asc' => $this->translate('Published (oldest first)'),
		                	);?>
					<label class="sort__label"><?= $this->translate('Sort by') ?></label>
					<div class="select display--inline-block">
						<input type="hidden" class="select__input" name="sort" value="<?= ($sort ? $sort : '') ?>">
						<? if ($sort): ?>
							<p class="select__text"><?= $sorts[$sort] ?></p>
						<? else: ?>
							<p class="select__text">Select</p>
						<? endif ?>
						<ul class="select__list">
							<? foreach ($sorts as $key => $value): ?>
								<li class="select__options js-sort-option" data-value="<?= $key ?>"><?= $value ?></li>
							<? endforeach ?>
						</ul>
					</div>
				</div>
			</div>
		</section>
	</form>

	<section class="releases--preview cf">
	
		<div class="grid l-clearfix m-clearfix gallery-media">
			<? foreach ($medias as $media): ?>
				<?= $this->partial('gallery/partials/media.phtml', array(
						'media' => $media,
						'downloads' => $downloads,
						'download' => true,
						'browser' => $browser
					)); ?>
			<? endforeach; ?>
		</div>

        <? if (!$showAll && $medias instanceof \Zend\Paginator\Paginator): ?>
            <?= $this->paginationControl(
                $medias,
                'sliding',
                'application/partials/paginator.phtml',
                array(
                    'route' => 'gallery/category',
                    'params' => array(
                        'id' => (int) $category->id
                    )
                )
            ) ?>
        <? endif; ?>

	</section>

</div>