<?php

$this->headTitle('Gallery');

?>
<div class="wrapper">

	<h1 class="page__title page__title--margin-bottom"><?= \Index\Model\Index::strtoupper($this->translate('Gallery event') . ': ' . $event->title) ?></h1>

	<div class="filters hidden">
		<form method="get" action="">
			<input type="hidden" name="order" value="">
			<input type="hidden" name="order-by" value="">
		</form>
	</div>

	<section class="sort cf">
		<div class="grid grid--gutter-30">
			<div class="grid__item one-third l-one-third m-one-third s-full">
				<span class="sort__content"><?= sprintf($this->translate("Showing %s of %s"), '<strong>' . $pageCount . '</strong>', '<strong>' . $totalCount . '</strong>'); ?></span>
			</div>
			<div class="grid__item one-third l-one-third m-one-third s-full align--center">
				<div class="sort__sizes">
					<span class="sort__label sort__label--vertical padding--right-15"><?= $this->translate('View') ?></span>
					<div class="sort__sizes__options cf">
						<a href="#" class="sort__size icon icon--grid-large-active"></a>
						<a href="#" class="sort__size icon icon--grid-small-inactive"></a>
					</div>
				</div>
			</div>
			<div class="grid__item one-third l-one-third m-one-third s-full align--right">
				<label class="sort__label padding--right-15"><?= $this->translate('Sort by'); ?></label>
				<div class="filters__select filters__select--arrow-padding display--inline-block icon icon--select-dropdown">
						<select class="sort__action--order">
							<option value="-1"><?= $this->translate('Select') ?></option>
							<option value="published-desc"<?= ($order && $order == 'published' && $orderBy == 'desc') ? ' selected="selected"' : ''; ?>><?= $this->translate('Published (newest first)') ?></option>
							<option value="published-asc"<?= ($order && $order == 'published' && $orderBy == 'asc') ? ' selected="selected"' : ''; ?>><?= $this->translate('Published (oldest first)') ?></option>
						</select>
					</form>
				</div>
			</div>
		</div>
	</section>

	<section class="releases--preview cf">
	
		<div class="grid l-clearfix m-clearfix">
			<? foreach ($medias as $media): ?>
				<?= $this->partial('gallery/partials/image.phtml', array(
						'media' => $media,
						'downloads' => $downloads,
						'download' => true
					)); ?>
			<? endforeach; ?>
		</div>

		<?= $this->paginationControl(
		    $medias,
		    'sliding',
		    'application/partials/paginator.phtml',
		    array(
		        'route' => 'gallery/category/event',
		        'params' => array(
		        	'id' => (int) $event->id
		        )
		    )
		) ?>

	</section>

</div>