<?php

$this->headTitle('Gallery Landing');

?>
<div class="wrapper">

	<h1 class="page__title page__title--uppercase page__title--margin-bottom"><?= $this->translate('Gallery'); ?></h1>

	<section class="filters">
		<header class="filters__header cf">
			<h2 class="filters__title float--left"><?= $this->translate('Filter by'); ?></h2>
			<a href="#" class="filters__toggle float--right"><?= $this->translate('Show filters'); ?></a>
		</header>
		<div class="filters__content hidden">
			<form method="post" action="">
				<div class="grid">
					<div class="grid__item one-third l-one-third m-one-half s-full">
						<label class="filters__label"><?= $this->translate('Category'); ?></label>
						<div class="filters__select icon icon--select-dropdown">
							<select>
								<option value="-1"><?= $this->translate('Select'); ?></option>
								<? for ($i = 1; $i <= 3; $i++): ?>
									<option>Option <?= $i; ?></option>
								<? endfor; ?>
							</select>
						</div>
					</div>
					<div class="grid__item one-third l-one-third m-one-half s-full">
						<label class="filters__label"><?= $this->translate('Model'); ?></label>
						<div class="filters__select icon icon--select-dropdown">
							<select>
								<option value="-1"><?= $this->translate('Select'); ?></option>
								<? for ($i = 1; $i <= 3; $i++): ?>
									<option>Option <?= $i; ?></option>
								<? endfor; ?>
							</select>
						</div>
					</div>
					<div class="grid__item one-third l-one-third m-one-half s-full">
						<label class="filters__label"><?= $this->translate('Location'); ?></label>
						<div class="filters__select icon icon--select-dropdown">
							<select>
								<option value="-1"><?= $this->translate('Select'); ?></option>
								<? for ($i = 1; $i <= 3; $i++): ?>
									<option>Option <?= $i; ?></option>
								<? endfor; ?>
							</select>
						</div>
					</div>
					<div class="grid__item one-third l-one-third m-one-half s-full">
						<label class="filters__label"><?= $this->translate('People'); ?></label>
						<div class="filters__select icon icon--select-dropdown">
							<select>
								<option value="-1"><?= $this->translate('Select'); ?></option>
								<? for ($i = 1; $i <= 3; $i++): ?>
									<option>Option <?= $i; ?></option>
								<? endfor; ?>
							</select>
						</div>
					</div>
					<div class="grid__item one-third l-one-third m-one-half s-full">
						<label class="filters__label"><?= $this->translate('Events'); ?></label>
						<div class="filters__select icon icon--select-dropdown">
							<select>
								<option value="-1"><?= $this->translate('Select'); ?></option>
								<? for ($i = 1; $i <= 3; $i++): ?>
									<option>Option <?= $i; ?></option>
								<? endfor; ?>
							</select>
						</div>
					</div>
					<div class="grid__item one-third l-one-third m-one-half s-full">
						<label class="filters__label"><?= $this->translate('Events'); ?></label>
						<div class="filters__select icon icon--select-dropdown">
							<select>
								<option value="-1"><?= $this->translate('Colour'); ?></option>
								<? for ($i = 1; $i <= 3; $i++): ?>
									<option>Option <?= $i; ?></option>
								<? endfor; ?>
							</select>
						</div>
					</div>
					<div class="grid__item one-third l-one-third m-one-half s-full">
						<label class="filters__label"><?= $this->translate('Composition'); ?></label>
						<div class="filters__select icon icon--select-dropdown">
							<select>
								<option value="-1"><?= $this->translate('Select'); ?></option>
								<? for ($i = 1; $i <= 3; $i++): ?>
									<option>Option <?= $i; ?></option>
								<? endfor; ?>
							</select>
						</div>
					</div>
					<div class="grid__item one-third l-one-third m-one-half s-full">
						<label class="filters__label"><?= $this->translate('Year'); ?></label>
						<div class="filters__select icon icon--select-dropdown">
							<select>
								<option value="-1"><?= $this->translate('Select'); ?></option>
								<? for ($i = 1; $i <= 3; $i++): ?>
									<option>Option <?= $i; ?></option>
								<? endfor; ?>
							</select>
						</div>
					</div>
					<div class="grid__item one-third l-one-third m-one-half s-full">
						<label class="filters__label"><?= $this->translate('Advanced search'); ?></label>
						<input type="text" class="filters__input float--left">
						<button type="submit" class="filters__button--search float--right icon icon--filter-advanced-search"></button>
					</div>
				</div>
				<div class="filters__footer cf">
					<div class="tags float--left">
						<ul class="cf">
							<li class="tags__tag">Road<a href="#" class="tags__tag__remove icon--after icon--after--clear"></a></li>
							<li class="tags__tag">Orange<a href="#" class="tags__tag__remove icon--after icon--after--clear"></a></li>
							<li class="tags__tag">Blue<a href="#" class="tags__tag__remove icon--after icon--after--clear"></a></li>
							<li class="tags__tag">Yellow<a href="#" class="tags__tag__remove icon--after icon--after--clear"></a></li>
						</ul>
					</div>
					<div class="float--right">
						<a href="#" class="filters__clear icon--after icon--margin--left icon--after--clear"><?= $this->translate('Clear all filters'); ?></a>
					</div>
				</div>
			</form>
		</div>
	</section>

	<section class="releases--preview">
		<? $landing_titles = array('Sport Series', 'Super Series', 'Ultimate Series'); ?>
		<div class="grid l-clearfix m-clearfix">
			<? for ($i = 0; $i < 18; $i++): ?>
				<? if ($i % 6 == 0): ?>
					</div>
						<div class="gallery__heading">
							<a href="#" class="view-all icon icon--arrow-right-orange icon--margin--right--small"><?= $this->translate('View all'); ?></a>
							<h2 class="gallery__title"><?= $landing_titles[($i / 6)]; ?></h2>
						</div>
					<div class="grid l-clearfix m-clearfix">
				<? endif; ?>
				<?= $this->partial('gallery/partials/image.phtml', array(
						'count' => $i,
						'download' => true
					)); ?>
			<? endfor; ?>
		</div>
	</section>

</div>