<? $video = new \Newspress\Asset\Video($videoId); ?>
<div class="modal">
	<a href="#" class="modal__close modal__action--close"><?= $this->translate('Close') ?></a>
	<h2 class="modal__title"><?= $video->getTitle() ?></h2>
	<div class="modal__content modal__content--video">
		<? if ($video->isThirdParty()): ?>
			<?= $video->getEmbedCode() ?>
		<? else: ?>
			<?= $this->partial('gallery/partials/embed.phtml', array(
				'video' => $video
			)); ?>
		<? endif ?>
	</div>
</div>