<div class="wrapper--grey">
    <form action="/downloads/direct-download" method="post">
        <input type="hidden" name="document" value="1">
        <table class="release-sidebar__documents">
            <tbody>
            <? foreach ($documents as $document): ?>
                <? if (!$document instanceof \Newspress\Asset\Document): ?>
                    <? $document = new \Newspress\Asset\Document($document); ?>
                <? endif ?>
                <? $documentTitle = $document->getTitle() . ' ' . strtoupper($this->translate('Models')) ?>
                <tr>
                    <td>
                        <label class="checkbox">
                            <input type="checkbox" name="id[]" checked="checked" value="<?= $document->getId() ?>">
                            <span></span>
                        </label>
                        <input type="hidden" name="title" value="<?= $documentTitle ?>">
                    </td>
                    <td class="relative">
                        <div class="document-title-popup">
                            <?= $documentTitle ?>
                        </div>
                        <a href="<?= $document->getTemporaryUrl() ?>" class="document-link"><?= $documentTitle ?></a></td>
                    <td><?= $document->getSize('KB') ?></td>
                    <td><?= $document->getTypeName() ?></td>
                </tr>
            <? endforeach ?>
            </tbody>
        </table>
        <div class="media-download__buttons">
            <a href="#" class="basket-action--add-documents button button--hard button--no-border media-download__button--later margin--right-15 icon icon--list icon--margin--right"><?= $this->translate('Add to downloads'); ?></a>
            <a href="#" class="button button--white button--hard button--no-border media-download__button--now icon icon--download document__action-download--now"></a>
        </div>
    </form>
</div>