<?php

$title = $this->translate('Model');
$this->headTitle($title);

?><div class="wrapper">
	<div class="grid">
		<div class="grid__item full l-full m-full s-full">
			<h1 class="page__title page__title--margin-bottom"><?= \Index\Model\Index::strtoupper($this->translate('Models') . ': ' . $category->name); ?>
			<div class="release-sidebar__media-info">
				<? if ($releases): ?>
					<a href="#releases" class="page__anchor icon icon--arrow-down-orange"><?= $this->translate('Press Releases') ?></a>
				<? endif ?>
				<? if ($packs): ?>
					<a href="#documents" class="page__anchor icon icon--arrow-down-orange"><?= $this->translate('Documents') ?></a>
				<? endif ?>
				<? if ($images || $videos): ?>
					<a href="#gallery" class="page__anchor icon icon--arrow-down-orange"><?= $this->translate('Gallery') ?></a>
				<? endif ?>
				<? if ($category->id == $mcLarenGtId): ?>
					<a href="#youtube" class="page__anchor icon icon--arrow-down-orange"><?= $this->translate('YouTube') ?></a>
					<a href="#gt-pitwall" class="page__anchor icon icon--arrow-down-orange"><?= $this->translate('GT Pitwall') ?></a>
				<? endif ?>
			</div>
			</h1>
            <? if (isset($category->hero) && $category->hero !== null): ?>
                <div class="hero height--auto">
                    <? if ($mediaObject = new \Newspress\Asset\Image($category->hero)): ?>
                        <?= $mediaObject->getTag('hero', 'hero__image image'); ?>
                    <? endif ?>
                </div>
            <? endif ?>
		</div>
		<? if ($releases): ?>
			<div class="grid__item full l-full m-full s-full">
				<section class="section section--releases padding--top-40 padding--bottom-20">
					<div class="float--right">
						<a href="/releases/category/<?= $category->id ?><?= ($category->id == 13 ? '?referer=models' : '') . '?order=published&order-by=desc'?>" class="view-all icon icon--arrow-right-orange icon--margin--right--small"><?= $this->translate('View all') ?></a>
					</div>
					<h1 class="page__title page__title--margin-bottom" id="releases">
                        <?= \Index\Model\Index::strtoupper($this->translate('Press releases') . ': ' . $category->name); ?>
                    </h1>
					<div class="releases--preview">


							<div class="grid l-clearfix m-clearfix" id="slick-slider">
								<? foreach ($releases as $release): ?>
									<?= $this->partial('releases/partials/result.phtml', array(
											'release' => $release
										)); ?>
								<? endforeach; ?>
							</div>

					</div>
				</section>
			</div>
		<? endif ?>
		<? if ($packs): ?>
			<div class="grid__item full l-full m-full s-full">
				<h1 class="page__title page__title--margin-bottom margin--top-30" id="documents"><?= $this->translate('Documents'); ?></h1>
			</div>
			<div class="grid__item <?= ($images || $videos || $documents) ? 'two-thirds l-two-thirds' : 'full l-full'; ?> m-full s-full">
                <div class="mobile--hidden">
                    <?= $this->partial('events/partials/packs-desktop.phtml', array(
                        'packs' => $packs
                    )); ?>
                </div>

                <div class="mobile--show">
                    <?= $this->partial('events/partials/packs-mobile.phtml', array(
                        'packs' => $packs
                    )); ?>
                </div>
			</div>
			<? if ($images || $videos || $documents): // @todo: Add languages ?>
				<div class="grid__item one-third l-one-third m-full s-full">
					<div class="release-sidebar">
						<? if ($images || $videos): ?>
                            <div class="mobile--hidden">
                                <h2 class="release-sidebar__title page__subtitle--block"><?= $this->translate('Gallery'); ?><div class="release-sidebar__media-info"><span class="release-sidebar__media-count"><?= $this->translate('Media'); ?>: <span><?= $mediaCount ?></span></span><a href="#gallery" class="page__anchor icon icon--arrow-down-orange"><?= $this->translate('View Gallery') ?></a></div></h2>
                                <div class="wrapper--grey">
                                    <div class="grid grid--flush">
                                        <? if ($images): ?>
                                            <? foreach ($images as $image): ?>
                                                <div class="grid__item one-half l-one-half m-one-half s-full">
                                                    <a href="#gallery" class="page__anchor"><?= $image->getTag('thumbnail', 'image'); ?></a>
                                                </div>
                                            <? endforeach ?>
                                        <? endif; ?>
                                        <? if ($videos): ?>
                                            <? foreach ($videos as $video): ?>
                                                <div class="grid__item one-half l-one-half m-one-half s-full">
                                                    <a href="#gallery" class="page__anchor"><?= $video->getTag('thumbnail', 'image'); ?></a>
                                                </div>
                                            <? endforeach ?>
                                        <? endif; ?>
                                    </div>
                                </div>
                            </div>
						<? endif ?>
						<? /* <h2 class="release-sidebar__title page__subtitle--block"><?= $this->translate('Languages'); ?></h2>
						<div class="wrapper--grey">
							<div class="cf">
								<a href="#" class="flag flag--active icon icon--flag-en-gb"></a>
								<a href="#" class="flag icon icon--flag-de"></a>
								<a href="#" class="flag icon icon--flag-fr"></a>
							</div>
						</div> */ ?>
						<? if ($documents && count($documents) > 0): ?>
                            <div class="grid">
                                <div class="grid__item l-full m-four-sixths s-full">
                                    <h2 class="release-sidebar__title page__subtitle--block"><?= $this->translate('Documents'); ?></h2>
                                    <?= $this->partial('models/partials/documents.phtml', array(
                                        'documents'     => $documents
                                    )); ?>
                                </div>

                            </div>


                        <? endif ?>
					</div>
				</div>
			<? endif ?>

		<? else: ?>

            

        <? endif ?>
	</div>
	<? if ($images || $videos): ?>
		<div>
			<div class="float--right mobile-float--none">
				<? if ($mediaCount >= 6): ?>
					<span class="media-count"><?= sprintf($this->translate("Images: %s  Videos: %s"), '<span> ' . $imageCount . ' </span>', '<span> ' . $videoCount . ' </span>'); ?></span>
					<a href="/gallery/category/<?= $category->id ?><?= ($category->id == 13 ? '?referer=models' : '') ?>" class="view-all icon icon--arrow-right-orange icon--margin--right--small"><?= $this->translate("View all"); ?></a>
				<? endif ?>
			</div>
			<h2 class="page__title page__title--margin-bottom margin--top-50" id="gallery"><?= \Index\Model\Index::strtoupper($this->translate('Gallery') . ': ' . $category->name); ?></h2>
		</div>
		<div class="release__gallery">
			<div class="grid l-clearfix m-clearfix">
				<? if ($images && count($images) > 0): ?>
					<? foreach ($images as $image): ?>
						<?= $this->partial('gallery/partials/image.phtml', array(
							'media'     => $image,
							'downloads' => $downloads,
							'download'  => true
						)); ?>
					<? endforeach ?>
				<? endif ?>
				<? if ($videos && count($videos) > 0): ?>
					<? foreach ($videos as $video): ?>
						<?= $this->partial('gallery/partials/video.phtml', array(
							'media'     => $video,
							'downloads' => $downloads,
							'download'  => true,
                            'browser'   => $browser
						)); ?>
					<? endforeach ?>
				<? endif ?>
			</div>
		</div>
	<? endif ?>
	<? if ($category->id == $mcLarenGtId): ?>
		<div>
			<div class="float--right">
				<? if ($youTubeVideoCount > 6): ?>
					<a href="/gallery/category/<?= $category->id ?><?= ($category->id == 13 ? '?referer=models' : '') ?><?= ($category->id == 6 ? '?type=youtube' : '') ?>" class="view-all icon icon--arrow-right-orange icon--margin--right--small"><?= $this->translate('View all') ?></a>
				<? endif ?>
			</div>
			<h2 class="page__title page__title--uppercase page__title--margin-bottom margin--top-50" id="youtube"><?= $this->translate('YouTube'); ?></h2>
		</div>
		<div class="release__gallery">
			<div class="grid l-clearfix m-clearfix">
				<? if ($youTubeVideos && count($youTubeVideos) > 0): ?>
					<? foreach ($youTubeVideos as $youTubeVideo): ?>
						<?= $this->partial('gallery/partials/video.phtml', array(
							'media'     => $youTubeVideo,
							'downloads' => $downloads,
							'download'  => true,
                            'browser'   => $browser
						)); ?>
					<? endforeach ?>
				<? endif ?>
			</div>
		</div>
		<div class="margin--top-40">
			<div class="grid">
				<div class="grid__item full l-full m-full s-full">
					<div class="float--right">
						<a href="<?= $mcLarenGtPitwallLink ?>" target="_blank" class="view-all icon icon--arrow-right-orange icon--margin--right--small"><?= $this->translate('Launch the GT Pitwall') ?></a>
					</div>
					<h2 class="page__title page__title--uppercase" id="gt-pitwall"><?= $this->translate('GT Pitwall'); ?></h2>
				</div>
				<div class="grid__item two-thirds l-two-thirds m-full s-full">
					<div class="page__content">
						<h2 class="page__subtitle--block text-transform--none margin--bottom-10">Welcome to the McLaren GT Pitwall</h2>
						<p>Bringing you closer to the high-octane racing action with live updates from GT championships around the world, with McLaren GT customer teams running around the world. The McLaren GT Pitwall provides real-time updates from selected rounds during the season where McLaren GT customer teams are on track, and gives an insight into the teams, the drivers, the cars and the tracks.</p>
						<p>Live updates will appear below, and further updates and image galleries will be available over race weekends on the official <a href="https://www.facebook.com/McLarenGT" target="_blank">McLaren GT Facebook page</a>.</p>
						<p>If you would like to see your message on the GT Pitwall, you can get in touch or follow McLaren GT on Twitter - <a href="https://twitter.com/McLaren_GT" target="_blank">@McLaren_GT</a>.</p>
					</div>
				</div>
				<div class="grid__item one-third l-one-third m-full s-full">
					<div class="release-sidebar">
						<h3 class="release-sidebar__title page__subtitle--block">
							<?= $this->translate('The Latest'); ?>
						</h3>
						<div class="wrapper--grey">
							<div class="grid grid--flush">
								<div class="grid__item full l-full m-full s-full">
									<? if ($pitwall): ?>
										<? $date = new \Newspress\Date($pitwall->created); ?>
										<a href="<?= $mcLarenGtPitwallLink ?>" target="_blank">
											<img class="image" src="<?= $pitwall->image ?>" alt="">
										</a>
										<div class="release-sidebar__note uppercase"><?= $date->format('d M Y - H:i T') ?></div>
										<div class="release-sidebar__content"><?= $pitwall->content ?></div>
									<? else: ?>
										<div class="release-sidebar__content"><?= $this->translate('Sorry, the feed is not currently available.') ?></div>
									<? endif ?>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<? endif ?>

	<? if ($category->id == $mcLarenGtId && $facebook !== false && $twitter !== false && $instagram !== false): ?>
		<div class="margin--top-40">
			<?= $this->partial('index/partials/social.phtml', array(
				'facebook'  => $facebook,
				'twitter'   => $twitter,
				'instagram' => $instagram
			)); ?>
		</div>
	<? endif ?>

	<div class="back-to-top__wrapper align--center">
		<a href="#top" class="back-to-top button--light-grey button--hard display--inline-block icon icon--top icon--margin--right"><?= $this->translate('Back to top') ?></a>
	</div>
</div>