<?php

$this->headTitle('Models');

?>
<div class="wrapper">

	<section>
		<h1 class="page__title  page__title--margin-bottom"><?= $this->translate('Models'); ?></h1>
		<div class="page__content margin--bottom-35">
			<p>For all press and media enquires please contact one of the following</p>
		</div>
		<div class="grid grid--gutter-50">
		</div>
	</section>

</div>