<section class="section section--social">
	<div class="grid">
		<? if ($facebook instanceof \Newspress\Social\Facebook): ?>
			<div class="grid__item one-third l-one-third m-one-third s-full">
				<a href="<?= $facebook->getUrl() ?>"  target="_blank" class="social__title uppercase icon icon--facebook-colour"><?= $this->translate('Facebook') ?></a>
				<div class="feed">
					<? foreach ($facebook->getSimplifiedData() as $data): ?>
						<article class="feed__article">
							<p><?= $data['message'] ?></p>
							<p><img class="image--border" src="<?= $data['picture'] ?>"></p>
						</article>
					<? endforeach ?>
				</div>
			</div>
		<? endif ?>
		<? if ($twitter instanceof \Newspress\Social\Twitter): ?>
			<div class="grid__item one-third l-one-third m-one-third s-full">
				<a href="<?= $twitter->getUrl() ?>" target="_blank" class="social__title uppercase icon icon--twitter-colour"><?= $this->translate('Twitter') ?></a>
				<div class="feed">
					<div class="grid l-clearfix m-clearfix">
						<? foreach ($twitter->getSimplifiedData() as $data): ?>
							<article class="feed__article">
								<div class="grid__item one-fifth l-one-fifth m-one-fifth s-one-fifth">
									<img class="image" src="<?= $data['profileImage'] ?>" alt="McLaren">
								</div>
								<div class="grid__item four-fifths l-four-fifths m-four-fifths s-four-fifths">
									<p><?= $data['content'] ?></p>
								</div>
							</article>
						<? endforeach ?>
					</div>
				</div>
			</div>
		<? endif ?>
		<? if ($instagram instanceof \Newspress\Social\Instagram): ?>
			<div class="grid__item one-third l-one-third m-one-third s-full">
				<a href="<?= $instagram->getUrl() ?>" target="_blank" class="social__title uppercase icon icon--instagram-colour"><?= $this->translate('Instagram') ?></a>
				<div class="feed feed--instagram">
					<div class="grid">
						<? foreach ($instagram->getSimplifiedData() as $data): ?>
							<div class="grid__item one-half l-one-half m-full s-one-half">
                                <a href="<?= $data['link'] ?>" target="_blank">
                                    <img class="image image--border image--border--thick" src="<?= $data['image'] ?>">
                                </a>
							</div>
						<? endforeach ?>
					</div>
				</div>
			</div>
		<? endif ?>
	</div>
</section>