<?php

$title = $this->translate('Page not found');
$this->headTitle($title);
?>
<div class="page-not-found">
	<div class="page-not-found__content">
		<p class="page-not-found__content__title"><?= $title ?></p>
		<p class="page-not-found__content__notice"><?= $this->translate('Sorry, we couldn’t find the page you were looking for.') ?></p>
		<a href="/" class="button"><?= $this->translate('Visit the homepage') ?></a>
	</div>
</div>
