<?php

$this->headTitle('Official Media Site');
$this->headScript()->offsetSetFile(10, $this->basePath() . '/core/js/slider.js');

$sliderType = 'carousel';

?>

<? /* <section class="slideshow slideshow--homepage"> */ ?>

<? /* <div class="wrapper slideshow__nav">
		<a href="#" class="slideshow__nav__item slideshow__nav__item--current"></a>
		<a href="#" class="slideshow__nav__item"></a>
		<a href="#" class="slideshow__nav__item"></a>
		<a href="#" class="slideshow__nav__item"></a>
	</div> */ ?>

<? /* <div class="slideshow__controls">
		<a href="#" class="slideshow__control slideshow__control--left"></a>
		<a href="#" class="slideshow__control slideshow__control--right"></a>
	</div>

	<div class="slideshow__slides">
		<? for ($i = 0; $i < 3; $i++): ?>
			<div class="slideshow__slide<?= ($i == 0) ? ' slideshow__slide--current' : ''; ?>">
				<div class="slideshow__content">
					<div class="wrapper"><?= \Index\Model\Index::strtoupper('McLaren Automotive appoints Senior PR Manager for the Americas'); ?></div>
				</div>
				<img class="slideshow__image" src="<?= $this->basePath() ?>/img/placeholders/index/carousel-<?= $i; ?>.jpg" alt="Carousel">
			</div>
		<? endfor ?>
	</div>

</section> */ ?>

<section class="slideshow slideshow--multiple slideshow--homepage m-hidden">

    <? foreach ($carouselSliders as $key => $slide): ?>

        <? if($key==0): ?>
            <div class="slideshow__item slideshow__two-thirds">
        <? elseif($key==1): ?>
            <div class="slideshow__item slideshow__one-third slideshow__one-third--first">
        <? elseif($key==2): ?>
            <div class="slideshow__item slideshow__one-third slideshow__one-third--last">
        <? endif; ?>
                <a href="<?= $slide['link'] ?>">
                    <div class="slideshow__content">
                        <div class="wrapper"><?= \Index\Model\Index::strtoupper($slide['title']); ?></div>
                    </div>
                    <? $image = new \Newspress\Asset\Image($slide['media_id']); echo $image->getTag('slider', 'slideshow__image'); ?>
                </a>
            </div>
    <? endforeach; ?>
</section>

<section class="m-show hidden slideshow slideshow--multiple slideshow--homepage" >
    <div class="mobile-slider" id="mobileSlider">

        <? foreach ($carouselSliders as $key => $slide): ?>


            <a href="<?= $slide['link'] ?>">
           <? $image = new \Newspress\Asset\Image($slide['media_id']); echo $image->getTag('slider', 'slideshow__image'); ?>
                <div class="mobile-slider__link"><?= \Index\Model\Index::strtoupper($slide['title']); ?></div>
                </a>


        <? endforeach; ?>
    </div>
</section>

<div class="wrapper">
    <section class="section section--releases padding--bottom-40">
        <div class="float--right">
            <a href="/releases" class="view-all icon icon--arrow-right-orange icon--margin--right--small"><?= $this->translate('View all releases') ?></a>
        </div>
        <h1 class="page__title page__title--uppercase page__title--margin-bottom"><?= \Index\Model\Index::strtoupper($this->translate('Press releases')); ?></h1>

        <div class="releases--preview mobile-hide">
            <div class="grid l-clearfix m-clearfix" id="slick-slider">
                <? foreach ($releases as $count => $release): ?>
                    <?= $this->partial('releases/partials/result.phtml', array(
                        'release' => $release,
                        'count' => $count
                    )); ?>
                <? endforeach; ?>
            </div>
        </div>

    </section>

    <section class="section section--media padding--bottom-40">
        <h1 class="page__title page__title--uppercase page__title--margin-bottom"><?= \Index\Model\Index::strtoupper($this->translate('Gallery')); ?></h1>
        <div class="media--home">
            <div class="align--right">
                <a href="/gallery?type=image" class="view-all icon icon--arrow-right-orange icon--margin--right--small"><?= $this->translate('View all images') ?></a>
            </div>
            <div class="grid l-clearfix m-clearfix">
                <? foreach ($images as $image): ?>
                    <?= $this->partial('gallery/partials/image.phtml', array(
                        'media'     => $image,
                        'downloads' => $downloads,
                        'download'  => true
                    )); ?>
                <? endforeach; ?>
            </div>
            <div class="align--right">
                <a href="/gallery?type=video" class="view-all icon icon--arrow-right-orange"><?= $this->translate('View all videos') ?></a>
            </div>
            <div class="grid l-clearfix m-clearfix">
                <? foreach ($videos as $video): ?>
                    <?= $this->partial('gallery/partials/video.phtml', array(
                        'media'     => $video,
                        'downloads' => $downloads,
                        'download'  => true,
                        'browser'   => $browser
                    )); ?>
                <? endforeach; ?>
            </div>
        </div>
    </section>

    <?= $this->partial('index/partials/social.phtml', array(
        'facebook'  => $facebook,
        'twitter'   => $twitter,
        'instagram' => $instagram
    )); ?>
</div>

<section class="section section--partners">
    <div class="wrapper">
        <div class="logos">
            <div class="grid">
                <? foreach ($partners as $partner): ?>
                    <div class="grid__item one-fourth l-one-fourth m-one-fourth s-one-half align--center">
                        <img class="image animated partner-logo" data-title="<?= $partner->title ?>" src="<?= $this->basePath() . $partner->img ?>_block.<?= $browser=='ie8'?'png':'svg'?>" alt="<?= ucfirst($partner->title); ?>">
                    </div>
                <? endforeach; ?>
            </div>
        </div>
    </div>
</section>
