<?php

$title = $this->translate('Site Map');
$this->headTitle($title);

?><div class="wrapper">
	<section class="section section--releases padding--bottom-40">
		<h1 class="page__title page__title--uppercase page__title--margin-bottom"><?= \Index\Model\Index::strtoupper($title); ?></h1>
		<div class="site-map cf">
			<div class="site-map__level--one">
				<ul>
                    <?php
                    $current_section = 1;

                    foreach ($sitemap as $key => $value) :

                        $current_parent = '';
                        $close_li = false;

                        // separate the site map in sections
                        if ($current_section !== $value['section']) :
                            $current_section = $value['section'];
                            ?>
                                </ul>
                            </div>
                            <div class="site-map__level--one">
                                <ul>
                            <?php
                        endif;

                        // means it doesn't have content to be displayed, only the title
                        if (isset($value['url'])) :
                            ?>
                            <li><span class="site-map__level--one__title"><a href="<?= $value['url']; ?>"><?= $key; ?></a></span></li>
                            <?php

                        // else if there is content to be displayed, it needs to be iterated
                        elseif (is_array($value) && isset($value[0], $value[0]['name'])) :
                            ?>
                            <li><span class="site-map__level--one__title"><?= $key; ?></span>
                                <ul>
                                    <?php
                                    foreach ($value as $k => $v) :

                                        if ($k !== 'section') :
                                            // display the li parent tag with the current parent title
                                            if ($current_parent !== $v['parent'] && $v['parent'] !== '') :
                                                $current_parent = $v['parent'];
                                                if (isset($v['parent_url'])) :
                                                    $parent_content = '<a href="'.$v['parent_url'].'">'.$v['parent'].'</a>';
                                                else :
                                                    $parent_content = $v['parent'];
                                                endif;

                                                // close the last parent li tag before open another
                                                // only if the current parent isn't the first one
                                                if ($current_parent !== $value[0]['parent']) :
                                                    ?>
                                                        </ul>
                                                    </li>
                                                    <?php
                                                endif;
                                                ?>
                                                <li><span class="site-map__content"><?= $parent_content; ?></span>
                                                    <ul>
                                                <?php
                                            endif;
                                            ?>

                                            <li><span class="site-map__content"><a href="<?= $v['url']; ?>"><?= $v['name']; ?></a></span></li>
                                        <?php
                                        endif;

                                    endforeach;

                                    // close the last li tag
                                    if ($current_parent !== '') :
                                        ?>
                                            </ul>
                                        </li>
                                        <?php
                                    endif;
                                    ?>
                                </ul>
                            </li>
                        <?php endif; ?>

                    <?php endforeach; ?>

				</ul>
			</div>
		</div>
	</section>
</div>
