<h2 class="contacts__name"><?= $contact->name; ?></h2>
<p class="contacts__title"><?= $contact->position; ?><?= isset($contact->location) ? ' - ' . $contact->location : ''; ?></p>
<div class="page__content">
	<? if (isset($contact->phone_number)): ?>
		<p class="contacts__phone">
			<span class="contacts__label"><?= $this->translate('Phone'); ?></span>
			<a href="tel:<?= \Newspress\String::cleanUpTelephoneNumber($contact->phone_number) ?>" class="contacts__link"><?= $contact->phone_number; ?></a>
		</p>
	<? endif ?>
	<? if (isset($contact->mobile_number)): ?>
		<p class="contacts__mobile">
			<span class="contacts__label"><?= $this->translate('Mobile'); ?></span>
			<a href="tel:<?= \Newspress\String::cleanUpTelephoneNumber($contact->mobile_number) ?>" class="contacts__link"><?= $contact->mobile_number; ?></a>
		</p>
	<? endif ?>
	<? if (isset($contact->email)): ?>
		<p class="contacts__email">
			<span class="contacts__label"><?= $this->translate('Email'); ?></span>
			<a href="mailto:<?= $contact->email . '?subject=Media Enquiry'; ?>" class="contacts__link"><?= $contact->email; ?></a>
		</p>
	<? endif ?>
</div>