<?php

$title = $this->translate('Contact');
$this->headTitle($title);

?>
<div class="wrapper">
	<section>
		<h1 class="page__title page__title--uppercase page__title--margin-bottom"><?= $title ?></h1>
		<div class="page__content margin--bottom-35">
			<p><?= $this->translate('For all press and media enquires please contact one of the following') ?></p>
		</div>
		<div class="grid grid--gutter-50">
			<? $count = 0; foreach ($contacts as $contact): ?>
				<div class="grid__item one-half l-one-half m-one-half s-full">
					<?= $this->partial('contacts/contacts/contact.phtml', array('contact' => $contact)); ?>
				</div>
				<? if ($count === 1): $count = 0; ?>
			</div>
			<div class="grid grid--gutter-50">
				<? else: ?>
					<? $count++; ?>
				<? endif; ?>
			<? endforeach; ?>
		</div>
	</section>

</div>