<? $count = 0; ?>
<div class="dropdown__wrapper">
	<div class="dropdown__page">
		<? if (!$this->items): ?>
			<p class="downloads-overview__empty-notice"><?= $this->translate('Your Downloads is currently empty') ?></p>
		<? else: ?>
			<? foreach ($this->items as $item): ?>
				<? $count++; ?>
				<? if (($count % 11) == 0): ?>
					</div>
					<div class="dropdown__page">
				<? endif ?>
				<div class="downloads__item">
					<a href="#" class="downloads__remove downloads-overview--remove-this icon icon--remove"></a>
					<p class="icon icon--<?= strtolower($item['type']) ?>"><?= $item['title'] ?></p>
					<input type="hidden" name="id" value="<?= $item['id'] ?>">
	            	<input type="hidden" name="type" value="<?= $item['type'] ?>">
	            	<input type="hidden" name="crop" value="<?= $item['crop'] ?>">
				</div>
			<? endforeach ?>
		<? endif ?>
	</div>
</div>