<div class="modal">
	<a href="#" class="modal__close modal__action--close"><?= $this->translate('Close') ?></a>
	<div class="modal__content">
		<p>Please enter your name and the email address you would like to send the archive to.</p>
		<p>&nbsp;</p>
		<form>
			<input class="form__input" type="text" name="name" placeholder="Your name">
			<input class="form__input" type="text" name="email" placeholder="Email address">
			<button type="button" class="button basket-action--send-archive"><?= $this->translate('Send archive') ?></button>
			<span class="basket-action--response margin--left-20"></span>
		</form>
	</div>
</div>