<div class="modal modal--small">
	<div class="modal__content">
		<div class="grid grid--flush">
			<div class="grid__item two-fourths l-two-fourths m-two-fourths s-full align--center-mobile">
				<p class="modal__content__notice">You must select a media first.</p>
			</div>
			<div class="grid__item grid__item--reverse two-fourths l-two-fourths m-two-fourths s-full align--center-mobile">
				<button class="button button--light-grey button--orange-font modal__action--close"><?= $this->translate('Continue') ?></button>
			</div>
		</div>
	</button>
</div>