<?php

$this->headTitle('Downloads');

?>
<div class="wrapper">

	<section class="download-section">
        <h1 class="page__title page__title--uppercase page__title--margin-bottom"><?= $this->translate('Your downloads'); ?></h1>
        <div class="grid">
            <div class="grid__item two-thirds l-two-thirds m-full s-full">
                <div class="page__content margin--bottom-35">
                    <h2 class="downloads__title"><?= $this->translate('Media'); ?></h2>
                    <? if (isset($downloads['media']) && count($downloads['media']) > 0): ?>
                        <table class="table table--styled table--rounded table--visible-overflow downloads__table">
                            <thead>
                            <tr>
                                <th>
                                    <label class="checkbox">
                                        <input class="basket-action--select-all" type="checkbox" checked="checked">
                                        <span></span>
                                    </label>
                                </th>
                                <th><?= $this->translate('Name') ?></th>
                                <th><?= $this->translate('Date Added') ?></th>
                                <th><?= $this->translate('Size') ?></th>
                                <th><?= $this->translate('File Type') ?></th>
                                <th>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody id="download-media">
                            <? foreach ($downloads['media'] as $key => $item): ?>
                                <? $dimensions =  $item['object']->getDimensions($item['crop']) ?>
                                <? $dimensions =  $dimensions ? $dimensions : $item['object']->getDimensions() ?>
                                <? $dimensions =  $dimensions['width'] . 'x' . $dimensions['height']; ?>
                                <? $fileSize   =  $item['object']->getSize('MB', $item['crop'], 1); ?>
                                <? $fileSize   =  $fileSize ? $fileSize : $item['object']->getSize('MB', false, 1); ?>
                                <tr>
                                    <td>
                                        <label class="checkbox">
                                            <input class="select" data-select data-select type="checkbox" checked="checked">
                                            <span></span>
                                        </label>
                                        <input type="hidden" name="id" value="<?= $item['id'] ?>">
                                        <input type="hidden" name="type" value="<?= $item['type'] ?>">
                                        <input type="hidden" name="crop" value="<?= $item['crop'] ?>">
                                    </td>
                                    <td class="media-preview__wrapper">
                                        <div class="media-preview">
                                            <?= $item['object']->getTag('thumbnail', 'image'); ?>
                                            <div class="media-preview__content">
                                                <span class="media-preview__title"><?= $item['title']; ?></span>
									            	<span class="media-preview__info">
									            		<ul class="cf">
                                                            <li><?= $item['crop']; ?></li>
                                                            <li><?= $dimensions ?></li>
                                                            <li><?= $fileSize ?></li>
                                                        </ul>
									            	</span>
                                            </div>
                                        </div>
                                        <?= $item['title'] ?>
                                    </td>
                                    <td><? $date = new \Newspress\Date($item['added']); echo $date->format('jS M y') ?></td>
                                    <td><?= $dimensions ?> <span class="file-size"><?= $fileSize ?></span></td>
                                    <td class="icon<?= ($item['type'] == 'image' ? ' icon--image' : ' icon--video')?> icon--margin--right"><?= strtoupper($item['object']->getExtension()) ?></td>
                                    <td><a href="#" class="basket-action--remove-this icon icon--bin"></a></td>
                                </tr>
                            <? endforeach ?>
                            </tbody>
                        </table>
                    <? else: ?>
                        <p><?= $this->translate('There are currently no images or videos in your downloads') ?></p>
                    <? endif ?>
                    <h2 class="downloads__title margin--top-30"><?= $this->translate('Documents'); ?></h2>
                    <? if (isset($downloads['documents']) && count($downloads['documents']) > 0): ?>
                        <table class="table table--styled table--rounded downloads__table">
                            <thead>
                            <tr>
                                <th>
                                    <label class="checkbox">
                                        <input class="basket-action--select-all" type="checkbox" checked="checked">
                                        <span></span>
                                    </label>
                                </th>
                                <th><?= $this->translate('Name') ?></th>
                                <th><?= $this->translate('Date Added') ?></th>
                                <th><?= $this->translate('Size') ?></th>
                                <th><?= $this->translate('File Type') ?></th>
                                <th>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody id="download-documents">
                            <? foreach($downloads['documents'] as $document): ?>
                                <tr>
                                    <td>
                                        <label class="checkbox">
                                            <input class="select" data-select type="checkbox" checked="checked">
                                            <span></span>
                                        </label>
                                        <input type="hidden" name="id" value="<?= $document['id'] ?>">
                                        <input type="hidden" name="type" value="<?= $document['type'] ?>">
                                        <input type="hidden" name="crop" value="<?= $document['crop'] ?>">
                                    </td>
                                    <td><?= $document['title'] //$document['object']->getTitle() ?></td>
                                    <td><? $date = new \Newspress\Date($document['added']); echo $date->format('jS M y') ?></td>
                                    <td><?= $document['object']->getSize('KB') ?></td>
                                    <td class="icon icon--document icon--margin--right"><?= $document['object']->getTypeName() ?></td>
                                    <td><a href="#" class="basket-action--remove-this icon icon--bin"></a></td>
                                </tr>
                            <? endforeach ?>
                            </tbody>
                        </table>
                    <? else: ?>
                        <p><?= $this->translate('There are currently no documents in your downloads') ?></p>
                    <? endif ?>
                </div>
            </div>
            <div class="grid__item one-third l-one-third m-full s-full">
                <div class="wrapper--grey">
                    <div class="downloads-sidebar__buttons">
                        <a href="#" class="downloads-sidebar__button downloads-sidebar__button--download button basket-action--download-selected">
                            <span class="button__icon button__icon--download icon icon--download-white"></span>
                            <span><?= $this->translate('Download selected items') ?></span>
                        </a>
                        <a href="#" class="downloads-sidebar__button downloads-sidebar__button--mail button basket-action--email-selected">
                            <span class="button__icon button__icon--mail icon icon--mail"></span>
                            <?= $this->translate('Email selected items') ?>
                        </a>
                        <a href="#" class="downloads-sidebar__button downloads-sidebar__button--bin button--light-grey basket-action--remove-selected">
                            <span class="button__icon button__icon--bin icon icon--bin"></span>
                            <?= $this->translate('Delete selected items') ?>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <? if ($loggedIn) : ?>
    <section class="download-section">
        <h1 class="page__title page__title--uppercase page__title--margin-bottom"><?= $this->translate('Your recent downloads'); ?></h1>
        <div class="grid">
            <div class="grid__item two-thirds l-two-thirds m-full s-full">
                <div class="page__content margin--bottom-35">
                    <h2 class="downloads__title"><?= $this->translate('Media'); ?></h2>
                    <? if (isset($recentDownloads['media']) && count($recentDownloads['media']) > 0): ?>
                        <table class="table table--styled table--rounded table--visible-overflow downloads__table">
                            <thead>
                            <tr>
                                <th>
                                    <label class="checkbox">
                                        <input class="basket-action--select-all" type="checkbox" checked="checked">
                                        <span></span>
                                    </label>
                                </th>
                                <th><?= $this->translate('Name') ?></th>
                                <th><?= $this->translate('Date Added') ?></th>
                                <th><?= $this->translate('Size') ?></th>
                                <th><?= $this->translate('File Type') ?></th>
                                <th>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody id="download-media">
                            <? foreach ($recentDownloads['media'] as $key => $item): ?>
                                <? $dimensions =  $item['object']->getDimensions($item['crop']) ?>
                                <? $dimensions =  $dimensions['width'] . 'x' . $dimensions['height']; ?>
                                <? $fileSize   =  $item['object']->getSize('MB', $item['crop']); ?>
                                <tr>
                                    <td>
                                        <label class="checkbox">
                                            <input class="select" data-select type="checkbox" checked="checked">
                                            <span></span>
                                        </label>
                                        <input type="hidden" name="id" value="<?= $item['id'] ?>">
                                        <input type="hidden" name="type" value="<?= $item['type'] ?>">
                                        <input type="hidden" name="crop" value="<?= $item['crop'] ?>">
                                    </td>
                                    <td class="media-preview__wrapper">
                                        <div class="media-preview">
                                            <?= $item['object']->getTag('thumbnail', 'image'); ?>
                                            <div class="media-preview__content">
                                                <span class="media-preview__title"><?= $item['title']; ?></span>
									            	<span class="media-preview__info">
									            		<ul class="cf">
                                                            <li><?= $item['crop']; ?></li>
                                                            <li><?= $dimensions ?></li>
                                                            <li><?= $fileSize ?></li>
                                                        </ul>
									            	</span>
                                            </div>
                                        </div>
                                        <?= $item['title'] ?>
                                    </td>
                                    <td><? $date = new \Newspress\Date($item['added']); echo $date->format('jS M y') ?></td>
                                    <td><?= $dimensions ?> <span class="file-size"><?= $fileSize ?></span></td>
                                    <td class="icon<?= ($item['type'] == 'image' ? ' icon--image' : ' icon--video')?> icon--margin--right"><?= strtoupper($item['object']->getExtension()) ?></td>
                                    <td><a href="#" class="basket-action--remove-this basket-action--remove-this-recent icon icon--bin"></a></td>
                                </tr>
                            <? endforeach ?>
                            </tbody>
                        </table>
                    <? else: ?>
                        <p><?= $this->translate('There are currently no images or videos in your downloads') ?></p>
                    <? endif ?>
                    <h2 class="downloads__title margin--top-30"><?= $this->translate('Documents'); ?></h2>
                    <? if (isset($recentDownloads['documents']) && count($recentDownloads['documents']) > 0): ?>
                        <table class="table table--styled table--rounded downloads__table">
                            <thead>
                            <tr>


                                <th>
                                    <label class="checkbox">
                                        <input class="basket-action--select-all" type="checkbox" checked="checked">
                                        <span></span>
                                    </label>
                                </th>
                                <th><?= $this->translate('Name') ?></th>
                                <th><?= $this->translate('Date Added') ?></th>
                                <th><?= $this->translate('Size') ?></th>
                                <th><?= $this->translate('File Type') ?></th>
                                <th>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody id="download-documents">
                            <? foreach($recentDownloads['documents'] as $document): ?>
                                <tr>
                                    <td>
                                        <label class="checkbox">
                                            <input class="select" data-select type="checkbox" checked="checked">
                                            <span></span>
                                        </label>
                                        <input type="hidden" name="id" value="<?= $document['id'] ?>">
                                        <input type="hidden" name="type" value="<?= $document['type'] ?>">
                                        <input type="hidden" name="crop" value="<?= $document['crop'] ?>">
                                    </td>
                                    <td><?= $document['title'] //$document['object']->getTitle() ?></td>
                                    <td><? $date = new \Newspress\Date($document['added']); echo $date->format('jS M y') ?></td>
                                    <td><?= $document['object']->getSize('KB') ?></td>
                                    <td class="icon icon--document icon--margin--right"><?= $document['object']->getTypeName() ?></td>
                                    <td><a href="#" class="basket-action--remove-this basket-action--remove-this-recent icon icon--bin"></a></td>
                                </tr>
                            <? endforeach ?>
                            </tbody>
                        </table>
                    <? else: ?>
                        <p><?= $this->translate('There are currently no documents in your downloads') ?></p>
                    <? endif ?>
                </div>
            </div>
            <div class="grid__item one-third l-one-third m-full s-full">
                <div class="wrapper--grey">
                    <div class="downloads-sidebar__buttons">
                        <a href="#" class="downloads-sidebar__button downloads-sidebar__button--recent downloads-sidebar__button--download button basket-action--download-selected">
                            <span class="button__icon button__icon--download icon icon--download-white"></span>
                            <?= $this->translate('Download selected items') ?>
                        </a>
                        <a href="#" class="downloads-sidebar__button basket-action--send-recent-archive downloads-sidebar__button--mail button basket-action--email-selected">
                            <span class="button__icon button__icon--mail icon icon--mail"></span>
                            <?= $this->translate('Email selected items') ?>
                        </a>
                        <a href="#" class="downloads-sidebar__button downloads-sidebar__button--bin-recent downloads-sidebar__button--bin button--light-grey basket-action--remove-selected">
                            <span class="button__icon button__icon--bin icon icon--bin"></span>
                            <?= $this->translate('Delete selected items') ?>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <? endif ?>

</div>