/* --- Import SCSS --------------------------------- */

@import './../../core/Newspress/resource/sass/includes/_variables.scss';
@import 'includes/_variables.scss';
@import 'includes/_slick-slider.scss';
@import './../../core/Newspress/resource/sass/includes/_functions.scss';
@import './../../core/Newspress/resource/sass/includes/_mixins.scss';
@import './../../core/Newspress/resource/sass/includes/_reset.scss';
@import './../../core/Newspress/resource/sass/includes/_grids.scss';


/* --- Icons --------------------------------------- */

@import 'includes/sprites';

p{
    line-height: 1.5;
}

.icon,
.svg .icon {
    &--instagram-colour:before {
        width: 22px;
        height: 22px;
        @include retina-background-image('../img/instagram-camera', '.png', '22px');
    }
}
.header__nav--top {
    .icon:before {
        margin-right: 10px;
    }
    .icon--bookmark:before {
        margin-top: -1px;
        margin-bottom: 2px;
    }
    .icon--user:before {
        margin-top: -1px;
        margin-bottom: 1px;
    }
    .icon--mail:before {
        margin-top: 1px;
        margin-bottom: 2px;
    }
}



/* --- pop-up box ---------------------------------- */

.document-title-popup {
  position: absolute;
  background: #e0610e;
  left: 0px;
  padding: 11px;
  text-align: center;
  line-height: 1.5;
  color: white;
  display: none;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;

  &:after, &:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #e0610e;
    border-width: 10px;
    margin-left: -10px;
  }
  &:before {
    border-color: rgba(55, 63, 69, 0);
    border-top-color: #e0610e;
    border-width: 11px;
    margin-left: -11px;
  }
}






/* --- Frame --------------------------------------- */

html,
body {
    min-height: 500px;
    overflow-x: hidden; // This was put here for the Google-like gallery preview
}

body {
    width: 100%;
    font-family: $font-family-base;
    background-color: $color-white;
    @include font-size($font-size-base);
}

.relative{
  position: relative;
}

.mobile--show {
  display: none;
}

.header {
    &__nav {
        padding: 0 16px;
        background-color: $color-grey;
        ul {
            li { 
                float: left;
                cursor: pointer;
                padding: 16px 8px;
                @include font-size(12px);
                color: $color-grey-light;
                a {
                    text-decoration: none;
                    color: $color-grey-light;
                    &:before {
                        display: none;
                    }
                    &:after {
                        margin-top: -2px;
                    }
                }
                &:hover {
                    & > a {
                        color: $color-orange;
                        &:after {
                            @extend .icon--after--arrow-dropdown-orange:after;
                        }
                    }
                    .dropdown {
                        display: block;
                    }
                }
            }
        }
        &__right {
            float: right;
            padding: 3px 0;
        }
        .logo {
            margin-top: 5px;
        }
        &--top {
            background-color: $color-grey-dark;
            ul {
                li {
                    float: left;
                    cursor: pointer;
                    padding: 4px 14px;
                    color: $color-white;
                    margin: 0 1px 1px 0;
                    @include font-size(11px);
                    text-transform: uppercase;
                    background-color: $color-orange;
                    a {
                        color: $color-white;
                        text-decoration: none;
                    }
                }
            }
        }
        .dropdown {
            top: 100%;
            left: 40px;
            z-index: 4;
            width: 100%;
            display: none;
            cursor: default;
            margin-left: -100%;
            padding: 23px 100%;
            position: absolute;
            background-color: $color-white;
            border-bottom: 1px #bfbfc0 solid;
            &__title {
                display: block;
                margin-right: 20px;
                margin-bottom: 7px;
                font-weight: normal;
                padding-bottom: 10px;
                @include font-size(12px);
                color: $color-link-dropdown;
                border-bottom: 1px #bebebe dotted;
                font-family: $font-family-content-bold;
                &.icon:before {
                    display: none;
                }
            }
            a.dropdown__title:hover {
                color: $color-orange;
            }
            &__subtitle {
                border-bottom: 0;
                margin: 10px 0 0 0;
                text-align: center;
                text-transform: none;
                @extend .dropdown__title;
                font-family: $font-family-content-medium;
            }
            &__td-image {
                width: 281px;
            }
            &__image-preview {
                display: inline;
                max-width: 281px;
                vertical-align: text-top;
            }
            table {
                margin-top: -30px;
            }
            ul {
                li {
                    float: none;
                    padding: 7px 0;
                    cursor: default;
                    list-style: disc;
                    margin-left: 14px;
                    font-family: $font-family-content-medium;

                    a {
                        color: $color-link-dropdown-sub;
                        &:hover {

                                color: $color-orange;

                        }
                    }
                }
            }
        }
        &--mobile {
            display: none;
            .mobile__nav {
                display: inline-block;
                padding: 14px 15px 15px;
                border-right: 1px $color-mobile-border solid;
                &:before {
                    margin-right: 0;
                }
            }
        }
    }
    .search-input {
        border: 0;
        padding: 0;
        width: 45px;
        color: $color-white;
        @include _('animate');
        background: transparent;
        @include font-size(10px);
        text-transform: uppercase;
        &:focus {
            width: 140px;
            outline: none;
            &::-webkit-input-placeholder {
                @include _(animate);
                color: $color-white;
                opacity: .7;
            }
            &:-moz-placeholder {
                @include _(animate);
                color: $color-white;
                opacity: .7;
            }
            &::-moz-placeholder {
                @include _(animate);
                color: $color-white;
                opacity: .7;
            }
            &:-ms-input-placeholder {
                @include _(animate);
                color: $color-white;
                opacity: .7;
            }
        }
        &::-webkit-input-placeholder {
            color: $color-white;
        }
        &:-moz-placeholder {
            color: $color-white;
            opacity: 1;
        }
        &::-moz-placeholder {
            color: $color-white;
            opacity: 1;
        }
        &:-ms-input-placeholder {
            color: $color-white;
        }
    }
    .quick-links {
        position: relative;
        &:hover {
            background-color: $color-grey;
            .quick-links__dropdown {
                display: block;
                li {
                    a {
                        &:hover {
                            color: $color-orange;
                        }
                        &.icon--facebook:before {
                            margin-top: -2px;
                            margin-bottom: 2px;
                        }
                    }
                }
            }
        }
        &__dropdown {
            left: 0;
            top: 100%;
            z-index: 10;
            display: none;
            min-width: 200px;
            position: absolute;
            padding-bottom: 5px;
            border: 1px solid #bfbfc0;
            border-top: none;
            background-color: $color-white;
            li {
                margin: 0;
                float: none;
                padding: 0 18px 0 18px;
                background-color: $color-white;
                &:last-child {
                    padding-bottom: 0;
                    a {
                        border: none;
                    }
                }
                a {
                    display: block;
                    padding: 15px 0;
                    @include font-size(11px);
                    color: lighten($color-grey, 15%);
                    font-family: $font-family-content-medium;
                    border-bottom: 1px solid darken($color-grey-light, 10%);
                    &.icon {
                        padding: 8px 0 9px 0;
                    }
                }
            }
        }
    }
    .top {
        &__links {
            display: flex;
        }
    }
    .profile {
        &__link {
            margin-top: 5px;
            margin-right: 15px;

            a {
                text-decoration: none;
                color: $color-white;
                @include font-size(11px);
                &:hover {
                    color: $color-orange;
                }
            }
        }
    }
    .language {
        padding: 5px 0 3px 0;
        position: relative;
        &:hover {
            .language__flags {
                float: none;
                display: block;
            }
            .language__flag {
                color: $color-orange;
            }
            a {
                &:after {
                    @include triangle('bottom', $color-orange, 6px);
                }
            }
        }
        &__flags {
            top: 100%;
            z-index: 4;
            left: -9px;
            width: 63px;
            padding: 9px;
            display: none;
            position: absolute;
            background-color: $color-white;
            ul {
                li {
                    cursor: pointer;
                    padding: 0 0 9px 0;
                    background-color: $color-white;
                    a {
                        color: #7c7c7c;
                        &:before {
                            margin: -2px 0 0 0;
                        }
                    }
                    &:last-child {
                        padding-bottom: 0;
                    }
                }
            }
        }
        &__flag {
            color: #d6d6d6;
            display: inline-block;
            @include font-size(10px);
            &:before {
                margin-right: 0;
                margin-top: -2px;
            }
        }
        a {
            display: block;
            cursor: pointer;
            text-decoration: none;
            &:after {
                @include triangle('bottom', $color-white, 6px);
            }
        }
    }
    .mobile {
        &__quick-links {
            display: none;
            .icon--search-small{
              float: right;
              border-left: 1px solid rgb(37, 37, 37);
              position: absolute;
              right: 3px;
              padding: 9px 8px;
              top: 0px;
            }
            .search-input {
              width: 100%;
            }

        }
        &__search {
          background-color: #333;
          padding: 13px 14px;
          margin: 0 11px;
          position: relative;
        }
        &__downloads {
            margin-left: 7px;
        }
        &__logo {
          float: right;
          margin: 19px 11px 0 0;
        }
    }
    .downloads {
        padding: 9px 11px;
        display: inline-block;
        text-decoration: none;
        @include font-size(12px);
        color: $color-grey-light;
        border: 1px lighten($color-grey, 15%) solid;
        &:before {
            margin-right: 7px;
        }
        &:hover {
            color: $color-orange;
            border-color: $color-orange;
        }
        &--active {
            color: $color-orange;
        }
    }
    &--fixed {
        .header__nav {
            top: 0;
            left: 0;
            padding: 0;
            z-index: 4;
            width: 100%;
            position: fixed;
            &--top {
                padding-bottom: 44px;
            }
        }
    }
}
.svg .header .logo {
    width: 237px;
    height: 27px;
    padding-left: 237px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-image: url('../img/mclaren-logo.svg');
}

.footer {
    padding: 20px 0;
    font-weight: bold;
    @include font-size(11px);
    color: $color-footer-text;
    background-color: $color-white;
    font-family: $font-family-arial;
    border-bottom: 4px $color-orange solid;
    border-top: 1px $color-footer-border solid;
    &__copyright {
        float: left;
        &--mobile {
            display: none;
        }
        &__text {
            margin-top: 4px;
        }
    }
    &__links {
        float: right;
        &__nav {
            margin-top: 5px;
            ul {
                li {
                    float: left;
                    padding-left: 20px;
                    &:first-child {
                        padding-left: 0;
                    }
                    a {
                        text-decoration: none;
                        color: $color-footer-text;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    &__social {
        float: right;
        &__links {
            a {
                margin-left: 18px;
            }
        }
    }
    &--fixed {
        left: 0;
        bottom: 0;
        width: 100%;
        position: fixed;
    }
}


/* --- Login --------------------------------------- */

.login {
    &__body {
        background-color: $color-background-body;
    }
    &__header {
        padding: 33px 0 26px 0;
        background-color: #000;
         & .logo {
            display: block;
            margin: -10px auto 0 auto;
        }
    }
    &-wrapper {
        width: 80%;
        margin: 0 auto;
        padding: 20px 0;
        max-width: 360px;
        position: relative;
        .page__title {
            color: #4b4b4b;
            padding-bottom: 20px;
            @include font-size(20px);
            font-family: $font-proxima-regular;
        }
        .form {
            position: relative;
            &__input {
                border: 1px #e0e0e0 solid;
            }
            &__section {
                float: left;
                width: 360px;
                margin-left: 20px;
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 10px;
                }
                &-wrapper {
                    width: 360px;
                    padding: 10px;
                    overflow: hidden;
                    margin-left: -10px;
                }
                &-container {
                    width: 1510px;
                    position: relative;
                }
            }
        }
        .button {
            float: right;
        }
        .previous-step,
        .next-step {
            padding: 17px 20px;
            text-transform: none;
            @include font-size(13px);
            font-family: $font-proxima-semibold;
        }
        .previous-step {
            color: #989898;
            margin-right: 17px;
            border-color: #c3c3c3;
            background-color: #e8eaea;
            &:hover {
                background-color: darken(#e8eaea, $percentage-darken);
            }
        }
        .next-step {
            border: none;
            margin-top: 1px;
        }
    }
    &__content {
        color: #5e5e5e;
        text-align: center;
        line-height: 1.5em;
        margin: -15px 0 15px 0;
        @include font-size(12px);
    }
}
.svg .login__header .logo {
    width: 237px;
    height: 27px;
    padding-left: 237px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-image: url('../img/mclaren-logo.svg');
}
.content {
    padding: 55px 0 20px 0;
}
.wrapper {
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
    padding: 0 $mobile-wrapper-gutter;
    &--grey {
        padding: $mobile-wrapper-gutter;
        margin-bottom: $mobile-wrapper-gutter;
        background-color: $color-grey-lighter;
      position: relative;
    }
    &--funnel {
        max-width: 600px;
    }
}


/* --- Page ---------------------------------------- */

.page {
    &__title {
        color: $color-title;
        font-weight: normal;
        line-height: 1.24em;
        padding-bottom: 0.4em;
        @include font-size(21px);
        font-family: $font-family-title;
        border-bottom: 1px $color-border-title solid;
        &--margin-bottom {
            margin-bottom: 30px;
        }
        &--uppercase {
            text-transform: uppercase;
        }
    }
    &__content {
        line-height: 1.6em;
        color: $color-content;
        @include font-size(13px);
        font-family: $font-family-base;
        p {
            margin-bottom: 1em;
        }
        a {
            color: $color-orange;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__subtitle {
        font-weight: normal;
        color: $color-title-sub;
        @include font-size(13px);
        font-family: $font-family-subtitle;
        &--block {
            letter-spacing: 1px;
            @extend .page__subtitle;
            text-transform: uppercase;
            font-family: $font-family-content-medium;
        }
    }
}

.richtext {
    font-family: $font-family-content;
    b,
    strong {
        font-weight: 600;

        font-family: $font-family-content-medium;
    }
    ul {
        margin: 0 0 1em 1em;
        li {

        }
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: inherit;
        font-weight: normal;
        margin: 10px 0 10px 0;
        font-family: $font-family-content-medium;
    }
    h3 {

    }
    a {
        font-weight: bold;
        color: $color-orange;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
    .prim-color {
      color: $color-orange
    }
}


/* --- Partners ------------------------------------ */

.partners {
    margin: 0 140px 40px 0;
    &--wrapper {
        color: $color-content;
        @include font-size(13px);
    }
    &__title {
        font-weight: normal;
        margin-bottom: 15px;
        font-family: $font-family-content-bold;
    }
    &__content {
        font-family: $font-family-content
    }
    &__image {
        max-height: 75px;
        max-width: 150px;
    }
}

/* --- Buttons ------------------------------------- */

.button {
    cursor: pointer;
    border-radius: 3px;
    padding: 16px 43px;
    color: $color-white;
    text-decoration: none;
    @include font-size(14px);
    text-transform: uppercase;
    background-color: $color-orange;
    font-family: $font-proxima-semibold;
    transition: background-color 0.5s ease;
    border: 1px darken($color-orange, $percentage-border-darken) solid;
    &:hover {
        background-color: darken($color-orange, $percentage-darken);
    }
    // &:focus {
    //     outline: none;
    //     border: 1px darken($color-grey, $percentage-border-darken) solid;
    // }
    // @include button('blue', $color-blue);
    // @include button('white', $color-white);
    // @include button('light-grey', $color-grey-lighter, $color-text-grey);
    &--blue {
        @extend .button;
        background-color: $color-blue;
        border: 1px darken($color-blue, $percentage-border-darken) solid;
        &:hover {
            background-color: darken($color-blue, $percentage-darken);
        }
    }
    &--white {
        @extend .button;
        background-color: $color-white;
        border: 1px darken($color-black, $percentage-border-darken) solid;
        &:hover {
            background-color: darken($color-white, $percentage-darken);
        }
    }
    &--light-grey {
        @extend .button;
        color: $color-text-grey;
        background-color: $color-grey-lighter;
        border: 1px darken($color-grey-lighter, $percentage-border-darken) solid;
        &:hover {
            background-color: darken($color-grey-lighter, $percentage-darken);
        }
    }
    &--orange-font {
        color: $color-orange;
    }
    &--full {
        width: 100%;
    }
    &--hard {
        border-radius: 0;
    }
    &--solid {
        border: 0;
        border-radius: 0;
        padding: 12px 15px;
    }
    &--no-transform {
        text-transform: none;
    }
}


/* --- Form ---------------------------------------- */

.form {
    &__input {
        margin: 0 0 17px 0;
        border-radius: 3px;
        padding: 14px 19px;
        width: calc(100% - 40px);
        @include font-size(16px);
        border: 1px $color-grey solid;
        font-family: $font-proxima-regular;
        &--wrapper {
            .form__input--half {
                float: left;
                display: block;
                width: calc(50% - 48px);
                &:first-child {
                    margin-right: 16px;
                }
            }
        }
        &--block {
            display: block;
        }
        &:focus {
            outline: none;
            box-shadow: 0px 0px 5px $color-form-focus;
            /*border: 1px darken($color-grey, $percentage-border-darken) solid;*/
        }
    }
    &__note {
        float: left;
        padding: 17px 0 18px 0;
        color: $color-form-note;
        @include font-size(15px);
    }
    label {
        float: left;
        display: block;
        cursor: pointer;
        margin-top: 19px;
        @include font-size(12px);
        color: $color-form-label;
        .form__checkbox {
            float: left;
            cursor: pointer;
            margin: -1px 7px 0 0;
        }
    }
    .input-error {
        border: 1px $color-form-error-border solid;
    }
    &__messages {
        padding: 0;
        list-style: none;
        margin: -10px 0 11px 3px;
        &--outside {
            margin: -10px 0 20px 0;
            text-align: center;
        }
        &__item {
            line-height: 1.5em;
            @include font-size(12px);
        }
        &--error {
            color: $color-form-error;
        }
        &--success {
            color: $color-form-success;
        }
    }
}

.back-from-form {
    left: 0;
    top: 24px;
    position: absolute;
    color: $color-orange;
    text-decoration: none;
    @include font-size(13px);
    font-family: $font-proxima-semibold;
    &:before {
        content: "";
        margin-right: 8px;
        display: inline-block;
        @include triangle('left', $color-orange, 6px, 8px);
    }
}

.reject,
.approve {
    text-decoration: none;
    @include font-size(13px);
    font-family: $font-proxima-semibold;
}
.reject {
    color: #db2c2c;
}
.approve {
    color: #2ac540;
}

.form-links {
    line-height: 2em;
    margin-top: 25px;
    padding-top: 20px;
    color: $color-content;
    @include font-size(15px);
    border-top: 1px $color-form-hr solid;
    a {
        color: $color-content;
        text-decoration: none;
        font-family: $font-proxima-semibold;
        &:hover {
            text-decoration: underline;
        }
    }
}


/* --- Checkbox ------------------------------------ */

.checkbox {
    margin: 0;
    padding: 0;
    width: 12px;
    height: 12px;
    position: relative;
    display: inline-block;
    input[type="checkbox"] {
        top: 0;
        left: 0;
        opacity: 0;
        z-index: 2;
        cursor: pointer;
        position: absolute;
        &:checked + span {
            border: 0;
            width: 12px;
            height: 12px;
            &:before {
                top: -2px;
                left: -2px;
                @extend .icon;
                position: absolute;
                @extend .icon--tick:before;
            }
        }
    }
    span {
        margin: 0;
        padding: 0;
        width: 10px;
        height: 10px;
        font-size: 0;
        display: inline-block;
        border: 1px solid #ddd;
    }
}


/* --- Index --------------------------------------- */

.hero,
.slideshow {
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
    // background-image: url('../img/carousel.jpg');
}
.slideshow {
    a {
        display: block;
    }
    overflow: hidden;
    max-height: 530px;
    position: relative;
    &:after {
        content: '';
        display: block;
        padding-top: 56.25%;
    }
    &--homepage {
        margin: -50px 0 60px 0;
    }
    &__slides {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
    }
    &__slide {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        visibility: hidden;
        &--current {
            z-index: 3;
            visibility: visible;
        }
    }
    &__item {
        &--clone {
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            height: 100%;
            position: absolute;
        }
    }
    &__image {
        top: 50%;
        left: 50%;
        width: 101%;
        position: absolute;
        transform: translate(-50%, -50%);
    }
    &__content {
        left: 0;
        bottom: 0;
        z-index: 1;
        width: 100%;
        color: #1f1f1f;
        padding: 17px 0;
        position: absolute;
        @include font-size(15px);
        background-color: $color-white;
        .rgba & {
            background: rgba(255, 255, 255, .7);
        }
        font-family: $font-family-content-bold;
        .wrapper {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    // &__nav {
    //     left: 50%;
    //     z-index: 2;
    //     font-size: 0;
    //     bottom: 77px;
    //     position: absolute;
    //     transform: translate(-50%, 0);
    //     &__item {
    //         width: 23px;
    //         height: 23px;
    //         margin: 0 5px;
    //         display: inline-block;
    //         background: rgba(255, 255, 255, .4);
    //         &--current {
    //             background: rgba(28, 150, 113, .4);
    //         }
    //     }
    // }
    &__slide {
        &--enter-left,
        &--enter-right,
        &--exit-left,
        &--exit-right {
            z-index: 2;
            visibility: visible;
        }
    }
    & .slideshow__slide--current {
        z-index: 3;
        visibility: visible;
    }
    &--multiple {
        max-height: none;
        background-color: $color-black;
        .slideshow {
            &__two-thirds {
                float: left;
                width: 66.6666%;
                position: relative;
            }
            &__one-third {
                right: 0;
                float: left;
                width: 33.3333%;
                position: absolute;
                &--first {
                    top: 0;
                }
                &--last {
                    bottom: 0;
                }
            }
            &__full {
                width: 100%;
                position: relative;
            }
            &__image {
                width: 100%;
                top: inherit;
                left: inherit;
                display: block;
                position: static;
                transform: translate(0, 0);
            }
        }
        &:after {
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            padding-top: 0;
            position: absolute;
            background-color: $color-white;
        }
    }
}
.svg .slideshow__controls--left,
.svg .slideshow__controls--right {
    background-image: url('../img/sprites.svg');
}
.csstransforms {
    .slideshow__slide {
        &--enter-left,
        &--exit-left {
            -webkit-transform: translateX(-100%);
            -ms-transform: translateX(-100vw);
            transform: translateX(-100vw);
        }
        &--enter-right,
        &--exit-right {
            -webkit-transform: translateX(100%);
            -ms-transform: translateX(100vw);
            transform: translateX(100vw);
        }
        &--exit-left,
        &--exit-right {
            -webkit-transition: -webkit-transform .5s ease-in-out;
            transition: transform .5s ease-in-out;
        }
        &--current {
            opacity: 1;
            -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
            -webkit-transition: -webkit-transform .5s ease-in-out, opacity .5s ease-in-out;
            transition: transform .5s ease-in-out, opacity .5s ease-in-out;
        }
    }
}

.section {
    &--partners {
        padding-top: 25px;
        border-top: 1px $color-footer-border solid;
        .image {
            opacity: .5;
            width: 75%;
            cursor: pointer;
            display: inline-block;
            &:hover {
                opacity: 1;
            }
        }
    }
    &--grey {
        background-color: $color-background-grey;
    }
}
.logos {
    font-size: 0;
    &__logo {
        width: 25%;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
     
        // Fix for IE <= 7 (don't really want to sink that low)
        // *display: inline;
        // *zoom:1;
        // *width: 16.6%;
//        @include breakpoint('portable') {
//            width: 33.33333%;
//            &:nth-child(4) {
//                display: none;
//            }
//        }
//        @include breakpoint('mobile') {
//            width: 50%;
//            &:nth-child(3) {
//                display: none;
//            }
//        }
    }
}


.social {
    &__title {
        display: block;
        letter-spacing: 1px;
        padding-bottom: 10px;
        text-decoration: none;
        @extend .page__subtitle;
        border-bottom: 1px $color-border-title solid;
        &:before {
            margin-right: 9px;
        }
        &.icon--facebook-colour:before {
            margin-top: -4px;
        }
        &.icon--twitter-colour:before {
            margin-top: -2px;
        }
        &.icon--instagram-colour:before {
            margin-top: -1px;
            margin-bottom: 1px;
        }
        &:hover {
            color: $color-orange;
        }
    }
}
.feed {
    &__article {
        color: #4e4e4e;
        margin-top: 20px;
        line-height: 1.2em;
        @include font-size(14px);
        font-family: $font-family-content-light;
        p {
            margin-bottom: 1em;
        }
        img {
            border: 1px solid #dbdbdb;
        }
        a {
            color: $color-orange;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &--instagram {
        padding-top: 20px;
    }
}
.site-map {
    ul {
        margin-left: 30px;
        list-style-type: disc;
        color: lighten($color-grey, 20%);
        li {
            @include font-size(6px);
            span {
                display: block;
                margin-bottom: 15px;
                @include font-size(13px);
                a {
                    text-decoration: none;
                    color: lighten($color-grey, 20%);
                    &:hover {
                        color: $color-orange;
                    }
                }
            }
        }
    }
    &__level {
        &--one {
            float: left;
            margin-right: 50px;
            &:last-child {
                margin: 0;
            }
            &__title {
                color: lighten($color-grey, 20%);
                font-family: $font-family-content-bold;
            }
        }
    }
    &__content {
        color: lighten($color-grey, 10%);
        font-family: $font-family-content-light;
    }
}


/* --- Page not found ------------------------------ */

.page-not-found {
    height: 600px;
    margin-top: -55px;
    text-align: center;
    margin-bottom: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url('../img/placeholders/index/404.jpg');
    &__content {
        width: 400px;
        max-width: 70%;
        margin: 0 auto;
        padding: 100px 0;
        line-height: 1.4em;
        text-transform: uppercase;
        color: $color-grey-lightest;
        &__title {
            margin-bottom: 15px;
            @include font-size(14px);
            font-family: $font-family-content;
        }
        &__notice {
            margin-bottom: 25px;
            @include font-size(21px);
            font-family: $font-family-content;
        }
        .button {
            display: inline-block;
            @include font-size(12px);
        }
    }
}


/* --- Filters ------------------------------------- */

.filters {
    padding: 30px;
    margin-bottom: 30px;
    background-color: #f5f5f5;
    &__footer {
        margin-top: 20px;
    }
    &__title,
    &__label {
        display: block;
        font-weight: bold;
        text-decoration: none;
        letter-spacing: 0.07em;
        @extend .page__subtitle, .page__title--uppercase;
    }
    a.filters__title:hover {
        color: $color-orange;
    }
    &__content {
        margin-top: 30px;
        &--hidden {
            @extend .display--none;
        }
    }
    &__label {
        margin-bottom: 12px;
    }
    &__toggle {
        color: $color-orange;
        text-decoration: none;
        @include font-size(14px);
        &:before {
            content: "+";
            margin-right: 5px;
        }
        &--open:before {
            content: "-";
        }
    }
    &__clear {
        margin-top: 12px;
        color: $color-orange;
        display: inline-block;
        text-decoration: none;
        @include font-size(14px);
        &:after {
            margin-top: -2px;
        }
    }
    &__select {
        position: relative;
        background-color: $color-white;
        border: 1px $color-grey-light solid;
        &.icon:before {
            top: 13px;
            right: 13px;
            position: absolute;
            pointer-events: none;
        }
        select {
            border: 0;
            width: 100%;
            padding: 13px;
            display: block;
            border-radius: 0;
            -moz-appearance: window;
            @include font-size(13px);
            -webkit-appearance: none;
            color: $color-input-text;
            font-family: $font-family-base;
            background-color: $color-white;
            &:focus {
                outline: none;
            }
        }
        &--arrow-padding {
            select {
                padding: 13px 42px 13px 13px;
            }
        }
    }
    &__input {
        padding: 13px;
        color: #737373;
        width: calc(100% - 30px);
        @include font-size(13px);
        font-family: $font-family-base;
        background-color: $color-white;
        border: 1px $color-grey-light solid;
        &:focus {
            outline: none;
        }
    }
    &__button {
        &--search {
            display: block;
            border-radius: 0;
            padding: 9px 9px 8px 9px;
            background-color: $color-white;
            border: 1px $color-grey-light solid;
        }
    }
    .tags {
        margin-bottom: -18px;
        &__tag {
            float: left;
            list-style: none;
            padding: 11px 21px;
            border-radius: 19px;
            margin: 0 18px 18px 0;
            color: $color-input-text;
            @include font-size(14px);
            border: 1px #b9b9b9 solid;
            &__remove {
                padding: 8px 11px;
                display: inline-block;
                margin: -8px -11px -8px 0;
                &:after {
                    margin-top: -3px;
                }
            }
        }
    }
  &__button {
    width: 100%;
    background-color: #e0610e;
    border: none;
    padding: 13px 0px;
  }
}
//Hack for FireFox
@-moz-document url-prefix() {
  .filters__button--search {
    padding: 7px 6px 8px;
  }
}



/* --- Select ------------------------------------ */

.select {
    position: relative;
    color: $color-input-text;
    font-family: $font-family-base;
    background-color: $color-white;
    border: 1px $color-grey-light solid;
    &--show {
        .select__text:after {
            transform: rotate(0deg);
        }
    }
    &__text {
        cursor: pointer;
        display: inline-block;
        line-height: 1;
        @include font-size(13px);

        padding: 14px 37px 14px 13px;
        &:after {
            right: 10px;
            bottom: 13px;
            position: absolute;
            @extend .icon--after;
            transform: rotate(180deg);
            transition: all 0.3s ease-in-out;
            @extend .icon--after--select-dropdown;
        }
    }
    &__list {
        top: 100%;
        z-index: 3;
        left: -1px;
        width: 100%;
        display: none;
        list-style: none;
        position: absolute;
        background-color: $color-white;
        border: 1px solid $color-grey-light;
    }
    &__options {
        cursor: pointer;
        padding: 5px 13px;
        @include font-size(13px);
        color: $color-input-text;
        font-family: $font-family-base;
        &:hover {
            color: $color-white;
            background-color: $color-orange;
        }
        &--parent {
            font-family: $font-family-content-medium;
        }
        &--child {
            padding-left: 23px;
        }
    }
    &__multi {
        cursor: pointer;
        padding: 10px 13px;
        @include font-size(13px);
        color: $color-input-text;
        font-family: $font-family-base;
        border-bottom: 1px solid $color-grey-light;
        &--parent {
            font-family: $font-family-content-medium;
        }
        &--child {
            padding-left: 23px;
        }
        &--selected {
            background: $color-orange;
            color: $color-white;
        }
        .icon {
            position: absolute;
            right: 12px;

            &--plus:before {
                transform: rotate(45deg);
            }
        }
    }
}


/* --- Sorting ----------------------------------- */

.sort {
    &__content {
        padding: 14px 0;
        display: inline-block;
        color: $color-text-dark;
        @include font-size(14px);
        b,
        strong {
            font-weight: normal;
            font-family: $font-family-content-bold;
        }
    }
    &__label {
        @extend .page__subtitle--block;
        &--vertical {
            display: inline-block;
            vertical-align: middle;
        }
        &--checkbox {
            cursor: pointer;
            margin-left: 5px;
            color: $color-text-dark;
            @include font-size(14px);
        }
    }
    &__sizes {
        &__options {
            display: inline-block;
            vertical-align: middle;
            border: 1px $color-grey-light solid;
        }
    }
    &__size {
        float: left;
        display: block;
        padding: 12px 10px;
        border-left: 1px $color-grey-light solid;
        &:before {
            display: block;
        }
        &:first-child {
            border-left: none;
        }
        &--show-all-inactive{
          padding: 15px 10px;
          text-decoration: none;
          color: $color-border-title;
        }
        &--show-all-active{
          padding: 15px 10px;
          text-decoration: none;
          color: $color-orange;
        }
    }
}


/* --- Releases ---------------------------------- */



.releases {
    &--preview {
        .release {
            margin-bottom: 12px;
            &-link-hover {
                display: block;
                position: relative;
                &:hover {
                    &:before {
                        content: "";
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        background: rgba(0,0,0,.5);
                    }
                }
            }
            &__information {
                padding-top: 15px;
            }
            &__date,
            &__count {
                color: #858585;
                @include font-size(11px);
                text-transform: uppercase;
            }
            &__flags {
                padding-top: 6px;
                margin-top: 22px;
                border-top: 1px $color-border-title solid;
                &--scroll-wrapper {
                    width: 1000px;
                    .flag {
                        &:first-child {
                            padding-left: 0;
                        }
                        &:last-child {
                            padding-right: 0;
                        }
                    }
                }
                &--scroll {
                    float: left;
                    height: 21px;
                    overflow: hidden;
                    max-width: 319px;
                    width: calc(100% - 30px);
                    .flag {
                        float: left;
                        display: block;
                        padding: 0 3px;
                    }
                    &-left,
                    &-right {
                        cursor: pointer;
                    }
                    &-left {
                        float: left;
                        padding-right: 10px;
                    }
                    &-right {
                        float: right;
                        padding-left: 10px;
                    }
                    &-left:before,
                    &-right:before {
                        content: "";
                        margin-top: 6px;
                        display: inline-block;
                    }
                    &-left:before {
                        @include triangle('left', $color-orange, 5px, 7px);
                    }
                    &-right:before {
                        @include triangle('right', $color-orange, 5px, 7px);
                    }
                }
            }
            &__date {
                float: left;
            }
            &__count {
                float: right;
                margin-left: 25px;
                &--images,
                &--videos {
                    font-weight: bold;
                    color: $color-orange;
                }
            }
            &__preview {
                height: 3.7em;
                overflow: hidden;
                margin-top: 12px;
                line-height: 1.3em;
                @include font-size(14px);
                font-family: $font-family-subtitle;
                a {
                    color: $color-release-preview;
                    text-decoration: none;
                    &:hover {
                       color: $color-title-sub;
                    }
                }
            }
        }
    }
}
.release {
    &__date {
        font-family: $font-family-subtitle;
    }
    &-sidebar {
        &__note {
            margin: 15px 0;
            text-align: center;
            color: $color-orange;
            @include font-size(14px);
            font-family: $font-family-content-medium;
        }
        &__content {
            text-align: center;
            line-height: 1.6em;
            color: $color-content;
            @include font-size(13px);
        }
        &__title {
            padding: 10px 0 19px 0;
            &:first-child {
                padding-top: 0;
            }
        }
        &__media {
            &-info {
                float: right;
                display: inline-block;
            }
            &-count {
                color: #858585;
                margin-right: 18px;
                @include font-size(11px);
                font-family: $font-family-content-light;
                span {
                    color: $color-orange;
                }
            }
        }
        &--fixed {
            top: 74px;
            position: fixed;
            transition: right .3s ease-in-out;
        }
        &--invisible {
            visibility: hidden;
        }
        &--absolute {
            bottom: 0;
            margin-bottom: #{$default-grid-gutter}px;
            position: absolute;
        }
        &__anchor {
            color: $color-orange;
            text-decoration: none;
            @include font-size(10px);
            &:hover {
                text-decoration: underline;
            }
            &:before {
                margin: -1px 5px 0 0;
            }
        }
        &__documents {
            width: 100%;
        }
        td {
            color: #8b8b8b;
            max-width: 100px;
            @include font-size(13px);
            & > .document-link {
                color: #161616;
                display: block;
                overflow: hidden;
                white-space: nowrap;
                text-decoration: none;
                text-overflow: ellipsis;
                &:hover {
                    text-decoration: underline;
                    color: $color-orange;
                }
            }
        }
    }
}
.flag {
    float: left;
    opacity: .5;
    padding: 7px;
    display: block;
    &--active {
        opacity: 1;
    }
}


/* --- Packs ------------------------------------- */

.pack {
    display: none;
    &--active {
        display: block;
    }
}


/* --- Gallery ----------------------------------- */

.media {

    position: relative;

    &--active {
        margin-bottom: 430px; // @todo: Sort the height of the media download container
        &:after {
            left: 50%;
            content: "";
            bottom: -11px;
            display: block;
            position: absolute;
            transform: translate(-50%, 100%);
            @include triangle('top', $color-background-header, 9px, 17px);
        }
    }
    &--active,
    &:hover {
        cursor: pointer;
        position: relative;
        &:before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            background: rgba(0, 0, 0, .5);
        }
        .media__thumbnail-title{
          opacity: 1;
        }

    }
    &--no-hover:hover {
        &:before {
            display: none;
        }
    }
    &-download {
        display: none;
        height: 410px;
        padding: 0 50%;
        position: absolute;
        background-color: #333;
        margin: -410px 0 0 -50%;
        width: calc(100% - 20px);
        overflow: hidden;
        // @todo: Issue with page being wider than needed. Fix with: html, body { overflow-x: hidden; }
        &__fours {
            &.media-download {
                &--second {
                    margin-left: -75%;
                }
                &--third {
                    margin-left: -100%;
                }
                &--fourth {
                    margin-left: -125%
                }
            }
        }
        &__threes {
            &.media-download {
                &--second {
                    margin-left: -83.33333%;
                }
                &--third {
                    margin-left: -116.66666%;
                }
            }
        }
        &__embed-code {
            border: 0;
            padding: 7px;
            color: #303030;
            display: block;
            margin-top: 20px;
            border-radius: 0;
            @include font-size(13px);
            background-color: $color-white;
        }
        &__meta {
            color: $color-white;
            display: inline-block;
            @include font-size(12px);
            padding: 20px 25px 10px 0;
        }
        .wrapper {
            padding: 40px 0;
        }
        &__close {
            top: 17px;
            z-index: 3;
            right: -13px;
            padding: 13px;
            position: absolute;
        }
        &__image {
            box-shadow: 2px 2px 2px 0px rgba(34, 30, 31, 0.6);
        }
        &__title {
            max-width: 90%;
            border-bottom: 0;
            padding-bottom: 0;
            @extend .page__title;
            @include font-size(20px);
            color: $color-content-modal;
        }
        &__info {
            font-size: 13px;
            padding-bottom: 7px;
            &--prime {
                width: 130px;
                overflow: hidden;
                color: $color-black;
                white-space: nowrap;
                padding-right: 15px;
                text-decoration: none;
                display: inline-block;
                text-overflow: ellipsis;
                &:hover {
                    text-decoration: underline;
                }
            }
            &--alt {
                color: #8b8b8b;
                &:last-child {
                    padding-left: 15px;
                }
            }
        }
        &__description {
            color: #c2c2c2;
            margin-top: 20px;
            line-height: 1.46em;
            @include font-size(13px);
            a {
                text-decoration: none;
                color: $color-white;
                &:hover {
                    color: $color-orange;
                }
            }
        }
        &__table {
            display: block;
            padding-top: 23px;
            @include font-size(13px);
            color: $color-grey-lighter;
            tr {
                td {
                    padding: 5px 20px 5px 5px;
                    &:first-child {
                        padding-right: 5px;
                    }
                }
            }
        }
        &__buttons {
            margin-top: 10px;
        }
        &__button {
            &--later,
            &--now {
                padding: 14px 22px;
                display: inline-block;
                text-decoration: none;
                @include font-size(11px);
                font-family: $font-family-subtitle;
            }
            &--later {
                &:before {
                    margin-top: -1px;
                    margin-bottom: 1px;
                }
            }
            &--now {
                padding: 13px 22px 12px;
                border: 1px #d0d0d0 solid;
                background-color: $color-grey-lighter;
            }
        }
        &__notice {
            margin-top: 30px;
            line-height: 1.36em;
            @include font-size(11px);
            color: $color-content-modal;
        }
      &__link {

          background-color: #ededed;
          padding: 5px;

      }
    }
    &--play-button {
        top: 50%;
        left: 50%;
        cursor: pointer;
        position: absolute;
        transform: translate(-50%, -50%);
    }
    &--label {
        top: 15px;
        right: 15px;
        position: absolute;
    }
    &__title {
        padding: 15px 0;
        margin-top: 25px;
        @extend .page__subtitle;
        @include font-size(14px);
        border-top: 1px $color-border-title solid;
    }
    &-count {
        color: #858585;
        margin-right: 10px;
        @include font-size(11px);
        font-family: Arial,Helvetica,sans-serif;
        span {
            padding-right: 10px;
            color: $color-orange;
        }
    }

  .media__thumbnail-title {
    position: absolute;
    bottom: 0px;
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.78);
    opacity: 0;
    width: calc(100% - 20px);
  }
}

.downloads {
    &-wrapper {
        float: left;
        position: relative;
        padding-bottom: 2px;
        margin: 0 25px -2px 0;
        &:hover {
            .downloads-overview {
                display: block;
            }
        }
    }
    &-overview {
        top: 35px;
        z-index: 4;
        right: -45px;
        width: 235px;
        display: none;
        position: absolute;
        border-radius: 3px;
        @include font-size(12px);
        border: 1px #cecece solid;
        background-color: $color-white;
        box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, .5);
        &--show {
            display: block;
        }
        &__content {
            padding: 15px 0;
            overflow: hidden;
            max-height: 250px;
            .dropdown {
                &__wrapper {
                    width: 3000px;
                }
                &__page {
                    float: left;
                    width: 197px;
                    margin-right: 10px;
                }
            }
        }
        &__empty-notice {
            color: lighten($color-grey, 10%);
            margin: 20px 0 20px 0;
            font-family: $font-family-content-medium;
        }
        &__title,
        &__subtitle {
            font-family: $font-family-content-medium;
        }
        &__title {
            padding: 15px;
            color: #5a5a5a;
            text-align: center;
            text-transform: uppercase;
            border-bottom: 1px #cecece solid;
        }
        &__subtitle {
            color: #616161;
            margin-top: 15px;
            margin-bottom: 10px;
        }
        &__wrapper {
            overflow: hidden;
            padding: 0 19px 17px 19px;
        }
    }
    &__item {
        color: #616161;
        margin-bottom: 7px;
        font-family: $font-family-content;
        .icon:before {
            margin-top: -2px;
            margin-right: 5px;
        }
        .icon--image:before {

        }
        .icon--video:before {

        }
        .icon--document:before {
            margin-left: 5px;
            margin-right: 10px;
        }
        p {
            overflow: hidden;
            white-space: nowrap;
            margin-right: 19px;
            text-overflow: ellipsis;
        }
    }
    &__remove {
        float: right;
        padding: 3px 0;
    }
    &__pagination {
        color: #616161;
        text-align: center;
        padding: 10px 0 20px 0;
        font-family: $font-family-content;
        .icon--arrow-left-grey:hover:before {
            @extend .icon--arrow-left-orange:before;
        }
        .icon--arrow-right-grey:hover:before {
            @extend .icon--arrow-right-orange:before;
        }
    }
    &__button {
        text-align: center;
        display: inline-block;
        width: calc(100% - 30px);
        @include font-size(12px);
        font-family: $font-family-content-medium;
        &--passive {
            cursor: default;
            background-color: $color-grey-light;
            &:hover {
                background-color: $color-grey-light;
            }
        }
    }
    &__title {
        @include font-size(16px);
        @extend .page__subtitle--block;
    }
    &__table {
        tr {
            overflow: visible;
            td {
                position: relative;
                &:first-child {
                    cursor: pointer;
                }
                .file-size {
                    margin-left: 5px;
                    @include font-size(11px);
                }
                &.media-preview {
                    &__wrapper {
                        overflow: visible;
                        position: relative;
                        &:hover .media-preview {
                            display: block;
                        }
                    }
                }
                .media-preview {
                    left: 70px;
                    top: -190px;
                    z-index: 200;
                    width: 519px;
                    display: none;
                    position: absolute;
                    color: $color-white;
                    background-color: $color-black;
                    box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.6);
                    &__content {
                        width: 100%;
                        display: table;
                        border-top: 1px solid $color-grey;
                    }
                    &__title,
                    &__info {
                        width: 50%;
                        padding: 20px;
                        display: table-cell;
                        vertical-align: middle;
                    }
                    &__title {
                        text-align: left;
                        @include font-size(14px);
                        font-family: $font-family-content-medium;
                    }
                    &__info {
                        text-align: right;
                        @include font-size(13px);
                        font-family: $font-family-content-bold;
                        ul {
                            list-style: none;
                            display: inline-block;
                            li {
                                float: left;
                                padding: 0 15px;
                                border-left: 1px $color-white solid;
                                &:first-child {
                                    border-left: 0;
                                }
                                &:last-child {
                                    padding-right: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &-sidebar {
        &__buttons {

        }
        &__button {
            display: block;
            margin-top: 15px;
            padding: 13px 15px 11px;
            @include font-size(12px);
            @extend .button--solid;
            &:first-child {
                margin-top: 0;
            }
            &--bin {
                border: 1px darken($color-grey-lighter, 10) solid;
            }
            .button__icon {
                margin: 0 20px 0 -15px;
                border-right: 1px transparent solid;
                &--download,
                &--mail {
                    border-color: darken($color-orange, 10);
                }
                &--download {
                    padding: 12px 15px 12px 17px;
                }
                &--mail {
                    padding: 11px 12px 11px 13px;
                }
                &--bin {
                    padding: 13px 15px 12px 16px;
                    border-color: darken($color-grey-lighter, 10);
                }
            }
        }
    }
}

.gallery {
    &__title {
        margin-top: 15px;
        margin-bottom: 30px;
        padding-bottom: 10px;
        @extend .page__subtitle--block;
        border-bottom: 1px $color-border-title solid;
    }
    &__heading {
        position: relative;
        .view-all {
            float: right;
            margin-top: -10px;
        }
    }
}


/* --- Scroll messages ---------------------------- */
.loading-content {
  text-align: center;
  color: #767676;
  font-weight: 400;
  line-height: 1.24em;
  padding-bottom: .4em;
  font-size: 21px;
  font-size: 1.3125rem;
  font-family: "InterFace W02 Bold1373151",HelveticaNeueW01-65Medi,Arial,Helvetica,sans-serif;
  &--uppercase {
    text-transform: uppercase;
  }
}

/* --- Press kits -------------------------------- */

.orange-link {
    padding: 13px;
    display: block;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    color: $color-title-sub;
    @include font-size(13px);
    border: 1px $color-grey-light solid;
    border-top: 6px $color-grey-light solid;
    font-family: $font-family-content-medium;
    border-left: 0;
    &--active,
    &:hover {
        color: $color-orange;
        border-top: 6px $color-orange solid;
        &:before {
            top: -6px;
            right: -1px;
            height: 6px;
            content: "";
            display: block;
            position: absolute;
            width: calc(100% + 2px);
            background: $color-orange;
        }
    }
    &--td {
        position: relative;
        vertical-align: middle;
        border: 1px $color-grey-light solid;
        border-top: 6px $color-grey-light solid;
        &.orange-link--active,
        &:hover {
            color: $color-orange;
            border-top: 6px $color-orange solid;
            .orange-link {
                color: $color-orange;
            }
            &:before {
                top: -6px;
                right: -1px;
                height: 6px;
                content: "";
                display: block;
                position: absolute;
                width: calc(100% + 2px);
                background: $color-orange;
            }
        }
        .orange-link {
            border: 0;
            &.orange-link--active,
            &:hover {
                color: $color-orange;
                border-top: 0;
                &:before {
                    display: none;
                }
            }
        }
    }
}
.table tr:first-child td:first-child .orange-link,
.grid__item:first-child .orange-link {
    border-left: 1px $color-grey-light solid;
}
.table tr:first-child td.orange-link--td:first-child .orange-link {
    border-left: 0;
}
.grid__item > .orange-link {
    &:hover,
    &--active {
        &:before,
        &:after {
            width: calc(100% + 3px);
        }
    }
}

.accordion {
    padding: 20px 0;
    &__article {
        position: relative;
        border: 1px $color-grey-light solid;
        border-top: 0;
        &:first-child {
            border-top: 1px $color-grey-light solid;
        }
        &--active {
            display: block;
            .accordion__title {
                &:before {
                    content: "-";
                }
            }
            .accordion__content {
                display: block;
            }
            .accordion__title {
                color: $color-orange;
            }
        }
    }
    h3 {
        &.accordion__title {
            margin: 0;
        }
    }
    &__title {
        cursor: pointer;
        padding: 15px 20px;
        @extend .page__subtitle;
        &:hover {
            color: $color-orange;
        }
        &:before {
            top: 15px;
            right: 16px;
            width: 12px;
            content: "+";
            cursor: pointer;
            text-align: center;
            position: absolute;
            color: $color-orange;
            @include font-size(20px);
            font-family: $font-family-content-medium;
        }
        a {
            text-decoration: none;
            color: $color-title-sub;
            @extend .page__subtitle;
            &:focus {
                outline: none;
            }
            &:hover {
                color: $color-orange;
            }
        }
    }
    &__content {
        display: none;
        @extend .animated;
        line-height: 1.46em;
        color: $color-content;
        @include font-size(13px);
        padding: 0 20px 15px 20px;
        font-family: $font-family-content;
        p {
            margin-top: 1em;
            &:first-child {
                margin-top: 0;
            }
        }
    }
}


/* --- Events ------------------------------------ */

.hero {
    position: relative;
    &__title {
        top: 50%;
        left: 50%;
        color: #fff;
        display: block;
        padding: 20px 40px;
        position: absolute;
        @include font-size(25px);
        text-transform: uppercase;
        background: rgba(0, 0, 0, .65);
        transform: translate(-50%, -50%);
        font-family: $font-family-content;
    }
}
.events__title {
    margin: 30px 0 20px 0;
    @extend .page__subtitle--block;
}
.document-links {
    margin-top: 20px;
    &__item {
        display: block;
        color: #161616;
        margin-right: 40px;
        text-decoration: none;
        @include font-size(13px);
        &:hover,
        &--active {
            color: $color-orange;
            &:before {
                @extend .icon--document-orange:before;
            }
        }
        &:last-child {
            margin-right: 0;
        }
    }
    &__date {
        margin-left: 5px;
        @include font-size(11px);
    }
}
.documents {
    @include font-size(13px);
    .document {
        &__name,
        &__size,
        &__type {
            padding-bottom: 10px;
        }
        &__name {
            color: #161616;
        }
        &__size,
        &__type {
            color: #8b8b8b;
            padding-left: 12px;
        }
    }
}


/* --- Pitwall ----------------------------------- */

.pitwall {
    padding: 40px 0;
    &__lead-image {
        margin-top: 4px;
    }
    &__post {
        text-align: center;
        margin-bottom: 30px;
        background-color: $color-white;
        border-top: 3px $color-orange solid;
    }
    &__content {
        padding: 20px;
        line-height: 1.6em;
        color: $color-content;
        @include font-size(13px);
        a {
            color: $color-orange;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__time {
        color: $color-orange;
        padding-bottom: 10px;
        text-transform: uppercase;
        font-family: $font-family-content-medium;
    }
    &__date {
        padding-top: 10px;
        @include font-size(12px);
    }
    &__image {

    }
}


/* --- Contacts ---------------------------------- */

.contacts {
    &__name,
    &__title {
        line-height: 1.54em;
        color: $color-title-sub;
        @include font-size(13px);
        text-transform: uppercase;
        font-family: $font-family-subtitle;
    }
    &__title {
        color: #a5a5a5;
        padding-bottom: 15px;
    }
    &__label {
        width: 45px;
        display: inline-block;
        font-family: $font-family-subtitle;
    }
    &__info {
        color: $color-content;
    }
    &__link {
        color: $color-content;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}


/* --- Biographies ---------------------------------- */

.bio {
    margin: 10px 0 20px 0;
    border-bottom: 1px solid $color-grey-light;
    &__name,
    &__position {
        line-height: 1.54em;
        color: $color-title-sub;
        @include font-size(16px);
    }
    &__name {
        cursor: pointer;
        &:hover {
            color: $color-orange;
        }
        &:after {
            content: '+';
            margin-left: 10px;
        }
        .bio__content--show & {
            &:after {
                content: '-';
            }
        }
    }
    &__position {
        color: #a5a5a5;
        margin-bottom: 0;
    }
    &__content {
        display: none;
        color: $color-content;
        @extend .page__content;
    }
    &__date {
        text-align: right;
        color: $color-content;
        font-family: $font-family-subtitle;
    }
}

/* --- Pagination ---------------------------------- */

.pagination {
    float: right;
    margin-top: 20px;
    &__count {
        float: left;
        color: #bcbcbc;
        font-size: 13px;
        padding: 16px 17px;
        margin-right: 16px;
        text-transform: uppercase;
        border: 1px #d6d6d6 solid;
        background-color: $color-white;
        font-family: $font-proxima-regular;
    }
    &__nav {
        float: right;
        ul {
            list-style: none;
            li {
                float: left;
            }
        }
    }
    &__link {
        display: block;
        margin-left: -1px;
        text-decoration: none;
        color: $color-text-dark;
        @include font-size(13px);
        border: 1px #d6d6d6 solid;
        padding: 16px 17px 16px 16px;
        background-color: $color-white;
        font-family: $font-family-content-medium;
        &:hover {
            background-color: darken($color-white, 5%);
        }
        &--disabled {
            color: #bcbcbc;
            cursor: not-allowed;
            &:hover {
                background-color: $color-white;
            }
        }
    }
}

/* --- Global ------------------------------------ */

@import './../../core/Newspress/resource/sass/includes/global';

.table {
    width: 100%;

    &--styled {
        color: #666;
        border-spacing: 0;
        border-collapse: separate;
        font-family: $font-family-arial;
        tbody {
            border: 1px #e4e4e4 solid;
        }
        tr {
            &:first-child {
                td {
                    border-top: 1px #d9d9d9 solid;
                }
            }
            &:last-child {
                td {
                    border-bottom: 1px #d9d9d9 solid;
                }
            }
            th, td {
                padding: 15px;
                @include font-size(13px);
            }
            th {
                text-align: left;
            }
            td {
                max-width: 200px;
                overflow: hidden;
                // white-space: nowrap;
                background-color: #fff;
                text-overflow: ellipsis;
                border-top: 1px #e4e4e4 solid;
                border-right: 1px #e4e4e4 solid;
                &:first-child {
                    border-left: 1px #e4e4e4 solid;
                }
            }
        }
    }
    &--alternating {
        tbody {
            tr:nth-child(even) td {
                background-color: #f2f2f2;
            }
        }
        tr {
            td {
                border-top: 0;
                background-color: #fafafa;
            }
        }
    }
    &--rounded {
        tbody {
            border-radius: 5px;
        }
        tr {
            &:first-child {
                td {
                    &:first-child {
                        border-top-left-radius: 5px;
                    }
                    &:last-child {
                        border-top-right-radius: 5px;
                    }
                }
            }
            &:last-child {
                td {
                    &:first-child {
                        border-bottom-left-radius: 5px;
                    }
                    &:last-child {
                        border-bottom-right-radius: 5px;
                    }
                }
            }
        }
    }
    &--visible-overflow {
        tr {
            td {
                overflow: visible;
            }
        }
    }
}
.view-all {
    border: 0;
    outline: 0;
    cursor: pointer;
    background: none;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 11px 0 18px;
    color: $color-orange;
    display: inline-block;
    text-decoration: none;
    @include font-size(10px);
    text-transform: uppercase;
    font-family: $font-family-arial;
    &:before {
        margin: -2px 7px 0 0;
    }
}
.image {
    width: 100%;
    height: auto;
    display: block;
    &--border {
        border: 2px $color-border-image solid;
        &--thick {
            border-width: 3px;
        }
    }
}
.next-previous {
    padding: 50px 0;
    &__button {
        color: #777;
        padding: 16px;
        @include font-size(13px);
        &--left {
            float: left;
            &:before {
                margin-top: -4px;
                margin-right: 7px;
                &:hover {
                    @extend .icon--arrow-left-orange:before;
                }
            }
        }
        &--right {
            float: right;
            &:after {
                margin-top: -4px;
                margin-left: 7px;
                &:hover {
                    @extend .icon--after--arrow-right-orange:after;
                }
            }
        }
        &:hover {
            color: $color-orange;
        }
    }
}
.back-to-top {
    padding: 15px 24px;
    &:before {
        margin-top: -3px;
    }
    &__wrapper {
        margin-bottom: -21px;
    }
}
.modal {
    top: 50%;
    left: 50%;
    width: 90%;
    z-index: 10;
    max-width: 600px;
    position: fixed;
    background-color: $color-white;
    transform: translate(-50%, -50%);
    // background-color: $color-grey-light;
    &--grey {
        background-color: $color-grey-light;
    }
    &__loader {
        top: 50%;
        left: 50%;
        z-index: 9;
        position: absolute;
        transform: translate(-50%, -50%);
    }
    &--large {
        max-width: 1000px;
    }
    &--small {
        max-width: 455px;
    }
    &--overlay:before {
        z-index: 8;
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        position: fixed;
        background: rgba(0, 0, 0, .8);
    }
    &__close {
        top: 10px;
        right: 10px;
        position: absolute;
        color: $color-orange;
        text-decoration: none;
        @include font-size(13px);
        text-transform: uppercase;
        font-family: $font-family-content-medium;
        background-color: rgb(255, 255, 255);
    }
    &__content,
    &__footer {
        padding: 30px;
    }
    &__title {
        margin: 20px 0 20px 20px;
        font-weight: normal;
        @include font-size(16px);
        font-family: $font-family-content-bold;
    }
    &__content {
        color: #4d4d4d;
        @include font-size(14px);
        background-color: inherit;
        &--video {
            height: 305px;
            padding-top: 0;
        }
        .modal__title {
            margin-left: 0;
        }
        &--scroll {
            max-height: 400px;
            overflow: scroll;
        }
        &__notice {
            padding: 18px 0;
        }
    }
    &__footer {

    }
    &__partner {
        &__image {
            max-width: 150px;
            max-height: 150px;
            width: 150px;
        }
        &__content {
            line-height: 1.6em;
            font-family: $font-family-content;
        }
    }
}
.page__anchor {
    color: $color-orange;
    text-decoration: none;
    @include font-size(12px);
    text-transform: uppercase;
    &:hover {
        text-decoration: underline;
    }
    &:before {
        margin: -1px 5px 0 0;
    }
}
.overflow {
    &--visible {
        overflow: visible;
    }
    &--hidden {
        overflow: hidden;
    }
}

/* --- Responsive styling ------------------------ */

@include breakpoint('portable') {
    .header {
        .wrapper {
            padding: 0;
        }
        &__nav {
            padding: 0 5px 0 0;
            ul {
                li {
                    padding: 16px 7px;
                    @include font-size(10px);
                }
            }
        }
    }
    .footer {
        &__copyright {
            display: none;
            color: #c5c5c5;
            line-height: 1.4em;
            &--mobile {
                width: 80%;
                display: block;
            }
        }
        &__links {
            float: left;
            &__nav {
                ul {
                    li {
                        float: none;
                        padding-left: 0;
                        padding-bottom: 9px;
                    }
                }
            }
        }
        &__social {
            &__links {
                a {
                    display: block;
                    margin-top: 15px;
                    text-align: center;
                    &:first-child {
                        margin-top: 0;
                    }
                }
            }
        }
    }
  .m-clearfix {
    .m-one-half:nth-child(3n+1),
    .m-one-third:nth-child(4n+1),
    .m-one-fourth:nth-child(5n+1),
    .m-one-quarter:nth-child(6n+1),
    .m-one-fifth:nth-child(7n+1),
    .m-one-sixth:nth-child(8n+1),
    .m-one-tenth:nth-child(11n+1) {
      clear: both;
      content: "";
      display: table;
    }
  }
}


/* --- Reset mobile styling ---------------------- */

.mobile-scroll {
    &__controls {
        display: none;
    }
}

/* --- Set mobile styling ------------------------ */

@include breakpoint('tablet') {
    body {
//        overflow: visible;
        position: relative;
        @include _(animate);
    }
    .body {
        &--mobile {
            &__show-nav {
                width: 100%;
                margin-left: 269px;
                overflow-x: visible;
                .mobile__nav {
                    background-color: $color-orange;
                }
                .header__nav {
                    left: 0;
                }
                .header {
                    &--fixed {
                        .header__nav {
                            left: 0;
                        }
                        &--mobile {
                            .header__nav {
                                left: -269px;
                            }
                        }
                    }
                }
                .release-sidebar {
                    &--fixed {
                        right: -300px !important; //Don't like important but needed to override inline style added with javascript
                    }
                }
                .footer {
                    &--fixed {
                        left: 269px;
                    }
                }
            }
        }
    }
    .content {
        padding-top: 104px;
    }
    .tablet--hidden {
        display: none;
    }
    .header {
        &__nav {
            top: 0;
            padding: 0;
            z-index: 4;
            height: 100%;
            left: -269px;
            width: 269px;
            position: fixed;
            @include _(animate);
            background-color: $color-mobile-background-nav;
            ul {
                li {
                    padding: 0;
                    float: none;
                    @include font-size(16px);
                    font-family: $font-family-content-medium;
                    a {
                        display: block;
                        color: $color-mobile-nav;
                        padding: 12px 0 11px 15px;
                        &:before {
                            display: inline-block;
                            margin: -3px 9px 0 0;
                        }
                        &:after {
                            display: none;
                        }
                        &.icon {
                            padding-left: 9px;
                        }
                        &.select-dropdown--false {
                            margin-left: 23px;
                        }
                        &.dropdown {
                            &--active {
                                &.select-dropdown {
                                    padding-bottom: 0;
                                    color: $color-orange;
                                }
                            }
                        }
                    }
                    &:hover {
                        & > a {
                            color: $color-mobile-nav;
                        }
                        .dropdown {
                            display: none;
                            &--active {
                                & + .dropdown {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
            .logo {
                margin-top: 0;
            }
            &__right {
                float: none;
                text-align: right;
                padding: 12px 16px;
                background-color: $color-grey;
            }
            .dropdown {
                left: 0;
                border: 0;
                padding: 0;
                width: 100%;
                margin: 0 0 15px 0;
                position: relative;
                background-color: $color-mobile-background-nav;
                &--active {
                    a {
                        color: $color-orange;
                    }
                    & + .dropdown {
                        display: block;

                    }
                }
                &__image-preview {
                    display: none;
                }
                table {
                    display: block;
                    margin-top: 0;
                    margin-left: 5px;
                }
                tbody {
                    display: block;
                }
                tr {
                    display: block;
                }
                td {
                    display: block;
                    ul {
                        display: none;
                        
                    }
                    .active {
                        display: block;
                    }
                }
                &__title {
                    border: none;
                    cursor: pointer;
                    font-size: 100%;
                    margin-top: 20px;
                    padding-left: 36px;
                    color: $color-mobile-nav;
                    font-family: $font-family-content-medium;
                    &.icon:before {
                        display: inline-block;
                        margin-right: 10px;
                    }
                    &.dropdown--active {
                        color: $color-orange;
                    }
                }
                .active {
                    .dropdown__title {
                        &.icon:before {
                            transform: rotate(180deg);
                        }
                    }
                }
                &--active {
                    &.icon:before {
                        transform: rotate(180deg);
                    }
                }
                &__subtitle {
                    display: none;
                }
                ul {
                    li {
                        list-style: none;
                        &:hover {
                            a {
                                color: $color-orange;
                            }
                        }
                        a {
                            font-size: 0.8em;
                            padding: 0 0 0 0;
                            margin: 0 0 0 38px;
                            color: $color-white;
                        }
                    }
                }
            }
            .downloads-wrapper {
                display: none;
            }
            &--mobile {
                z-index: 4;
                width: 100%;
                display: block;
                position: fixed;
                background-color: $color-background-header;
            }
            .mobile {
                &__quick-links {
                    display: block;
                    padding: 14px 0 10px 0;
                    li {
                        color: $color-white;
                        @include font-size(12px);
                        a {
                            color: $color-white;
                            &.icon--bookmark {
                                margin-left: 4px;
                                margin-right: 4px;
                            }
                        }
                    }
                }
            }
        }
        &--fixed {
            .header__nav {
                left: -269px;
                width: 269px;
                &--top {
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
            }
            &--mobile {
                .header__nav {
                    position: absolute;
                    @include _(no-animate);
                }
            }
        }
    }
  .nav-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 4;
    display: none;
  }
  .mobile-scroll {
        position: relative;
        &__controls {
            z-index: 1;
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
        }
        &__control {
            top: calc(39.5% - 58px);
            z-index: 1;
            padding: 14px;
            position: absolute;
            background: rgba(0,0,0,.65);
            border: none;
            &--left {
                left: -#{$mobile-wrapper-gutter};
            }
            &--right {
                right: -#{$mobile-wrapper-gutter};
            }
        }
        &__content {
            overflow: hidden;
            position: relative;
            margin-left: -#{$mobile-wrapper-gutter};
            width: calc(100% + (2 * #{$mobile-wrapper-gutter}));
            .grid {
                padding-left: $mobile-wrapper-gutter;
                // padding-right: $mobile-wrapper-gutter;
                // width: calc(300% - ((2 * #{$mobile-wrapper-gutter}) + (3 * #{$mobile-grid-gutter})));
                width: calc(300% - (3 * #{$mobile-grid-gutter})); // Change to wrapper gutter
                &__item {
                    width: calc(33.333333% - (#{$mobile-wrapper-gutter} - #{$mobile-grid-gutter}));
                    padding-right: $mobile-grid-gutter;
                    // &:last-child {
                    //     padding-right: 0;
                    // }
                }
            }
        }
    }
    .orange-link {
        @include font-size(12px);
    }
    .partner {
        margin: 0 0 40px 0;
    }
    .sort__sizes {
      display: none;
    }
    .margin--top-50 {
      margin-top: 0;
    }
    .grid__item:nth-child(even) .media-download{
      padding: 0;
    }
    .grid__item:nth-child(odd) .media-download{
      margin: -410px 0 0 0;
      padding: 0;
    }
  .tablet--float-right {
    float: right;
  }
  .media-download__close {
    top: -1px;
    right: -2px;
  }

  .m-clearfix {
    .m-one-half, .m-one-half:nth-child(3n+1) {
      clear: none;
      content: "";
      display: table;
    }
  }

}




/* --- Mobile styling ---------------------------- */

@include breakpoint('mobile') {
    .grid__item > .orange-link {
        border-left: 1px $color-grey-light solid;
    }
    #slick-slider .grid__item {
      padding: 0;
    }

  .media-download {
    height: 627px;
    margin: -627px 0 0 -50%;
  }
  .media--active {
    margin-bottom: 647px;
  }
  .media-download__close {
    top: -4px;
    right: -24px;
  }
  .sort__sizes {
    display: none;
  }
  .align--center-mobile {
    text-align: center;
  }
  .mobile--hidden {
    display: none;
  }
  .mobile--show {
    display: block;
  }
  .table tr td, .table tr th {
    padding: 0;
  }
  .header {
    .logo {
      background-size: 150px;
    }

  }
  .pagination__nav {
    float: left;
  }
  .pagination__link {
    margin-top: 10px;
    padding: 15px;
  }
  .downloads-sidebar__button {
    font-size: 10px;
  }
  .header .mobile__logo {
    width: 150px;
  }
  .margin--top-50 {
    margin-top: 0;
  }
  .modal__content {
    max-height: 450px;
    overflow-y: auto;
  }
  .releases--preview .m-clearfix .grid__item{
    display: block;
  }
  .header__nav .header__nav__right .logo {
    padding: 0;
    background-image: none;
  }
//  .grid__item:nth-child(even) .media-download{
//    padding: 0 50%;
//  }
  .media-download__button--later {
    padding: 14px 10px 14px 7px;
  }
  .next-previous__button--left, .next-previous__button--right, .release-sidebar__media-info, .mobile-float--none {
    float: none;
  }
  .next-previous {
    padding: 12px 0 33px 0px;
    text-align: center;
  }

  .media-download {
    padding: 0;
    margin: -627px 0 0 0;
  }
  .grid--gutter-30.grid {
    padding: 0 16px;
  }
  .media-download__close {
    top: -5px;
    right: -4px;
  }
  .grid__item:nth-child(odd) .media-download {
    margin:  -627px 0 0 0;
    padding: 0;
  }

}

.ui-loader {
    display: none;
}


/* --- Mobile Slider --------------------------- */
.mobile-slider {
    .slick-slide{
        position: relative;
    }

    &__link{
        position: absolute;
        width: 100%;
        bottom: 1px;
        background-color: rgba(255,255,255,.7);
        padding: 10px;
        color: #1f1f1f;
        font-family: "InterFace W02 XBold1373167",HelveticaNeueW01-75Bold,Arial,Helvetica,sans-serif;
    }

}
/* --- Browser Styling --------------------------- */

.ie7,
.ie8,
.ie9 {
    .filters__select {
        select {
            padding-right: 13px;
        }
        &.icon:before {
            display: none;
        }
    }
    .release-sidebar td > .document-link {
        white-space: normal;
    }

}





@import './../../core/Newspress/resource/sass/includes/global-after';
