<table class="table">
    <tbody>
    <tr>
        <? $count = 0; foreach ($packs as $key => $pack): ?>
            <td>
                <a class="orange-link<?= ($count === 0 ? ' orange-link--active' : '') ?> show-pack" data-pack="<?= $key ?>" href="#"><?= \Index\Model\Index::strtoupper(ucwords(str_replace('-', ' ', $key))) ?></a>
            </td>
            <? $count++; endforeach; ?>
    </tr>
    </tbody>
</table>

<? $count = 0; foreach ($packs as $key => $pack): ?>
    <div class="page__content pack<?= ($count === 0 ? ' pack--active' : '') ?>" id="<?= $key ?>">

        <? if (count($packs) > 1): ?>

            <div class="document-links">
                <? $packItemCount = 0; foreach ($pack as $packItem): ?>
                    <a href="#" class="document-links__item icon icon--document-black icon--margin--right <?= $packItemCount==0?'document-links__item--active':''; ?> show-pack__item" data-pack-item="<?= $key . '-' . $packItemCount ?>"><?= $packItem['title'] ?> <span class="document-links__date"><?= $this->date($packItem['created']) ?></span></a>
                    <? $packItemCount++; endforeach; ?>
            </div>

        <? endif ?>

        <? $packItemCount = 0; foreach ($pack as $packItem): ?>
            <div class="pack pack__item<?= ($packItemCount === 0 ? ' pack--active' : '') ?> richtext <?= $key . '-' . $packItemCount ?>" >
                <h2><?= $packItem['title'] ?></h2>
                <?= $packItem['content'] ?>
            </div>
            <? $packItemCount++; endforeach; ?>

    </div>
    <? $count++; endforeach; ?>