<?php

$pageTitle = ($content->title) ? $content->title : $this->translate('Content');
$this->headTitle($pageTitle);

$images = isset($images) ? $images : null;
$videos = isset($videos) ? $videos : null;
$documents = isset($documents) ? $documents : null;

?><div class="wrapper">
	<div class="grid">
		<div class="grid__item full l-full m-full s-full">
			<? if ($title = $content->title): ?>
				<h1 class="page__title page__title--margin-bottom"><?= \Index\Model\Index::strtoupper($title) ?></h1>
			<? endif ?>
		</div>

		<div class="grid__item <?= ($images || $videos || $documents) ? 'two-thirds l-two-thirds' : 'full l-full'; // @todo: Add languages ?> m-full s-full">
			<? if ($pageContent = $content->content): ?>
				<div class="page__content">
					<?= $pageContent ?>
				</div>
			<? endif ?>
		</div>
		<? if ($images || $videos || $documents): // @todo: Add languages ?>
			<div class="grid__item one-third l-one-third m-full s-full">
				<div class="release-sidebar">
					<? if ($images || $videos): ?>

						<h2 class="release-sidebar__title page__subtitle--block"><?= $this->translate('Gallery'); ?><div class="release-sidebar__media-info"><span class="release-sidebar__media-count"><?= $this->translate('Media'); ?>: <span><?= $mediaCount ?></span></span><a href="#gallery" class="page__anchor icon icon--arrow-down-orange"><?= $this->translate('View Gallery') ?></a></div></h2>
						<div class="wrapper--grey">
							<div class="grid grid--flush">
								<? foreach ($images as $image): ?>
									<div class="grid__item one-half l-one-half m-one-half s-full">
										<a href="#gallery" class="page__anchor"><?= $image->getTag('thumbnail', 'image'); ?></a>
									</div>
								<? endforeach ?>
							</div>
						</div>
					<? endif ?>
					<? /* <h2 class="release-sidebar__title page__subtitle--block"><?= $this->translate('Languages'); ?></h2>
					<div class="wrapper--grey">
						<div class="cf">
							<a href="#" class="flag flag--active icon icon--flag-en-gb"></a>
							<a href="#" class="flag icon icon--flag-de"></a>
							<a href="#" class="flag icon icon--flag-fr"></a>
						</div>
					</div> */ ?>
					<? if ($documents): ?>
						<h2 class="release-sidebar__title page__subtitle--block"><?= $this->translate('Documents'); ?></h2>
						<div class="wrapper--grey">
							<? foreach ($documents as $document): ?>
								<div class="media-download__info">
									<a href="<?= $document->getUrl() ?>" class="media-download__info--prime"><?= $document->getTitle() ?></a>
									<span class="media-download__info--alt"><?= $document->getSize('KB') ?></span>
									<span class="media-download__info--alt">PDF</span>
								</div>
							<? endforeach ?>
							<? /* <div class="media-download__buttons">
								<a href="#" class="button button--hard button--no-border media-download__button--later margin--right-15 icon icon--list icon--margin--right"><?= $this->translate('Add to downloads'); ?></a>
								<a href="#" class="button button--white button--hard button--no-border media-download__button--now icon icon--download"></a>
							</div> */ ?>
						</div>
					<? endif ?>
				</div>
			</div>
		<? endif ?>
	</div>
	<? if ($images || $videos): ?>

		<!--<h2 class="page__title page__title--uppercase page__title--margin-bottom margin--top-50" id="gallery"><?= $this->translate('Gallery'); ?></h2> -->
		<div>
			<div class="float--right mobile-float--none">
				<? if (isset($mediaCount) && $mediaCount >= 6): ?>
					<span class="media-count"><?= sprintf($this->translate("Images: %s  Videos: %s"), '<span> ' . $imageCount . ' </span>', '<span> ' . $videoCount . ' </span>'); ?></span>
					<a href="/gallery/category/<?= ($content->id == 1 ? 89 : $content->id )?>" class="view-all icon icon--arrow-right-orange icon--margin--right--small"><?= $this->translate("View all"); ?></a>
				<? endif ?>
			</div>
			<h2 class="page__title page__title--margin-bottom margin--top-50" id="gallery"><?= \Index\Model\Index::strtoupper($this->translate('Gallery') . ': ' . $content->title); ?></h2>
		</div>

		<div class="release__gallery">
			<div class="grid l-clearfix m-clearfix">
				<? if ($images && count($images) > 0): ?>
					<? foreach ($images as $image): ?>
						<?= $this->partial('gallery/partials/image.phtml', array(
							'media'     => $image,
							'downloads' => $downloads,
							'download'  => true
						)); ?>
					<? endforeach ?>
				<? endif ?>
				<? if ($videos && count($videos) > 0): ?>
					<? foreach ($videos as $videos): ?>
						<?= $this->partial('gallery/partials/video.phtml', array(
							'media'     => $video,
							'downloads' => $downloads,
							'download'  => true,
                            'browser'   => $browser
						)); ?>
					<? endforeach ?>
				<? endif ?>
			</div>
		</div>
	<? endif ?>
	<div class="back-to-top__wrapper align--center">
		<a href="#top" class="back-to-top button--light-grey button--hard display--inline-block icon icon--top icon--margin--right"><?= $this->translate('Back to top'); ?></a>
	</div>
</div>