.icon:before,
.icon--after:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    // background-image: url('../resource/images/sprites.svg');
    background-image: url('../img/sprites.png');
}
.svg .icon:before,
.svg .icon--after:after {
    // background-image: url('../resource/images/sprites.svg');
    background-image: url('../img/sprites.svg');
}

.icon {
    &--arrow-down-orange:before,
    &--after--arrow-down-orange:after {
        width: 17.56px;
        height: 12.78px;
        background-position: 65.74562229335342% 75.16244787120552%;
    }
    &--arrow-dropdown-grey:before,
    &--after--arrow-dropdown-grey:after {
        width: 14px;
        height: 11px;
        background-position: 80.65277777777777% 74.51923076923077%;
    }
    &--arrow-dropdown-orange:before,
    &--after--arrow-dropdown-orange:after {
        width: 14px;
        height: 11px;
        background-position: 61.574074074074076% 28.846153846153847%;
    }
    &--arrow-left-grey:before,
    &--after--arrow-left-grey:after {
        width: 12.75px;
        height: 17.56px;
        background-position: 63.58573072497122% 89.60484511517078%;
    }
    &--arrow-left-orange:before,
    &--after--arrow-left-orange:after {
        width: 12.75px;
        height: 17.56px;
        background-position: 45.97928653624856% 89.60484511517078%;
    }
    &--arrow-left-white:before,
    &--after--arrow-left-white:after {
        width: 12.75px;
        height: 17.56px;
        background-position: 75.32336018411966% 89.60484511517078%;
    }
    &--arrow-mobile-down-orange:before,
    &--after--arrow-mobile-down-orange:after {
        width: 19.67px;
        height: 14px;
        background-position: 57.053202110968485% 75.60975609756098%;
    }
    &--arrow-right-grey:before,
    &--after--arrow-right-grey:after {
        width: 12.75px;
        height: 17.56px;
        background-position: 69.45454545454545% 89.60484511517078%;
    }
    &--arrow-right-orange:before,
    &--after--arrow-right-orange:after {
        width: 12.75px;
        height: 17.56px;
        background-position: 51.848101265822784% 89.60484511517078%;
    }
    &--arrow-right-white:before,
    &--after--arrow-right-white:after {
        width: 12.75px;
        height: 17.56px;
        background-position: 57.71691599539701% 89.60484511517078%;
    }
    &--arrow-slider-left:before,
    &--after--arrow-slider-left:after {
        width: 20.03px;
        height: 30px;
        background-position: 74.29632804686383% 0;
    }
    &--arrow-slider-right:before,
    &--after--arrow-slider-right:after {
        width: 20.03px;
        height: 30px;
        background-position: 63.34238224508263% 15.873015873015873%;
    }
    &--bin:before,
    &--after--bin:after {
        width: 17px;
        height: 20px;
        background-position: 48.35680751173709% 77.8894472361809%;
    }
    &--bookmark:before,
    &--after--bookmark:after {
        width: 16px;
        height: 21.38px;
        background-position: 31.257009345794394% 91.3369092197146%;
    }
    &--clear:before,
    &--after--clear:after {
        width: 15px;
        height: 15px;
        background-position: 0 99.75490196078431%;
    }
    &--document:before,
    &--after--document:after {
        width: 18px;
        height: 23px;
        background-position: 73.58490566037736% 52.55102040816327%;
    }
    &--document-black:before,
    &--after--document-black:after {
        width: 18px;
        height: 23px;
        background-position: 73.58490566037736% 29.081632653061224%;
    }
    &--document-orange:before,
    &--after--document-orange:after {
        width: 18px;
        height: 23px;
        background-position: 73.58490566037736% 40.816326530612244%;
    }
    &--download:before,
    &--after--download:after {
        width: 17px;
        height: 21px;
        background-position: 32.394366197183096% 78.28282828282828%;
    }
    &--download-orange:before,
    &--after--download-orange:after {
        width: 17px;
        height: 21px;
        background-position: 24.413145539906104% 78.28282828282828%;
    }
    &--download-video:before,
    &--after--download-video:after {
        width: 41px;
        height: 41px;
        background-position: 48.67724867724868% 16.853932584269664%;
    }
    &--download-white:before,
    &--after--download-white:after {
        width: 17px;
        height: 21px;
        background-position: 40.375586854460096% 78.28282828282828%;
    }
    &--downloads:before,
    &--after--downloads:after {
        width: 17px;
        height: 18px;
        background-position: 38.91549295774648% 89.80099502487562%;
    }
    &--facebook:before,
    &--after--facebook:after {
        width: 25.13px;
        height: 25.13px;
        background-position: 99.58998389222434% 13.122195285500593%;
    }
    &--facebook-colour:before,
    &--after--facebook-colour:after {
        width: 25.55px;
        height: 25.44px;
        background-position: 99.79457079970653% 0;
    }
    &--filter-advanced-search:before,
    &--after--filter-advanced-search:after {
        width: 24px;
        height: 24px;
        background-position: 99.04368932038835% 51.57435897435897%;
    }
    &--flag-ar-ae:before,
    &--after--flag-ar-ae:after {
        width: 33px;
        height: 21px;
        background-position: 16.751269035532996% 67.67676767676768%;
    }
    &--flag-de:before,
    &--after--flag-de:after {
        width: 33px;
        height: 21px;
        background-position: 0 67.67676767676768%;
    }
    &--flag-en-gb:before,
    &--after--flag-en-gb:after {
        width: 33px;
        height: 21px;
        background-position: 50.253807106598984% 57.07070707070707%;
    }
    &--flag-en-us:before,
    &--after--flag-en-us:after {
        width: 33px;
        height: 21px;
        background-position: 33.50253807106599% 57.07070707070707%;
    }
    &--flag-es:before,
    &--after--flag-es:after {
        width: 33px;
        height: 21px;
        background-position: 16.751269035532996% 57.07070707070707%;
    }
    &--flag-fr:before,
    &--after--flag-fr:after {
        width: 33px;
        height: 21px;
        background-position: 0 57.07070707070707%;
    }
    &--flag-it:before,
    &--after--flag-it:after {
        width: 33px;
        height: 21px;
        background-position: 50.253807106598984% 46.464646464646464%;
    }
    &--flag-jp:before,
    &--after--flag-jp:after {
        width: 33px;
        height: 21px;
        background-position: 33.50253807106599% 46.464646464646464%;
    }
    &--flag-ko-kr:before,
    &--after--flag-ko-kr:after {
        width: 33px;
        height: 21px;
        background-position: 33.50253807106599% 67.67676767676768%;
    }
    &--flag-nl:before,
    &--after--flag-nl:after {
        width: 33px;
        height: 21px;
        background-position: 16.751269035532996% 46.464646464646464%;
    }
    &--flag-zh-cn:before,
    &--after--flag-zh-cn:after {
        width: 33px;
        height: 21px;
        background-position: 0 46.464646464646464%;
    }
    &--flag-zh-hk:before,
    &--after--flag-zh-hk:after {
        width: 33px;
        height: 21px;
        background-position: 46.7005076142132% 35.85858585858586%;
    }
    &--grid-large-active:before,
    &--after--grid-large-active:after {
        width: 26px;
        height: 19px;
        background-position: 61.27450980392157% 67%;
    }
    &--grid-large-inactive:before,
    &--after--grid-large-inactive:after {
        width: 26px;
        height: 19px;
        background-position: 48.529411764705884% 67%;
    }
    &--grid-small-active:before,
    &--after--grid-small-active:after {
        width: 24px;
        height: 19px;
        background-position: 64.07766990291262% 46%;
    }
    &--grid-small-inactive:before,
    &--after--grid-small-inactive:after {
        width: 24px;
        height: 19px;
        background-position: 99.04368932038835% 62.285%;
    }
    &--hamburger:before,
    &--after--hamburger:after {
        width: 26px;
        height: 25.5px;
        background-position: 0 80.10335917312662%;
    }
    &--image:before,
    &--after--image:after {
        width: 27px;
        height: 21px;
        background-position: 86.71428571428571% 48.484848484848484%;
    }
    &--image-orange:before,
    &--after--image-orange:after {
        width: 27px;
        height: 21px;
        background-position: 61.576354679802954% 35.85858585858586%;
    }
    &--instagram:before,
    &--after--instagram:after {
        width: 24px;
        height: 25px;
        background-position: 99.04368932038835% 26.067010309278352%;
    }
    &--list:before,
    &--after--list:after {
        width: 21px;
        height: 18px;
        background-position: 63.1578947368421% 56.21890547263681%;
    }
    &--mail:before,
    &--after--mail:after {
        width: 24px;
        height: 19px;
        background-position: 99.04368932038835% 71.785%;
    }
    &--minus:before,
    &--after--minus:after {
        width: 20px;
        height: 9px;
        background-position: 83.82380952380953% 65.71428571428571%;
    }
    &--modal-close:before,
    &--after--modal-close:after {
        width: 23px;
        height: 23px;
        background-position: 0 92.09183673469387%;
    }
    &--modal-next:before,
    &--after--modal-next:after {
        width: 18px;
        height: 27px;
        background-position: 73.58490566037736% 15.625%;
    }
    &--play:before,
    &--after--play:after {
        width: 92px;
        height: 92px;
        background-position: 0 0;
    }
    &--plus:before,
    &--after--plus:after {
        width: 16px;
        height: 16px;
        background-position: 89.90186915887851% 88.91625615763547%;
    }
    &--remove:before,
    &--after--remove:after {
        width: 15px;
        height: 15px;
        background-position: 96.92558139534884% 88.48039215686275%;
    }
    &--rss:before,
    &--after--rss:after {
        width: 25px;
        height: 25px;
        background-position: 99.52682926829269% 38.95360824742268%;
    }
    &--search:before,
    &--after--search:after {
        width: 27px;
        height: 27px;
        background-position: 86.71428571428571% 35.9375%;
    }
    &--search-small:before,
    &--after--search-small:after {
        width: 22px;
        height: 22px;
        background-position: 11.057692307692308% 91.6243654822335%;
    }
    &--select-dropdown:before,
    &--after--select-dropdown:after {
        width: 21.93px;
        height: 15.31px;
        background-position: 98.05834574902677% 79.81246011095293%;
    }
    &--stack:before,
    &--after--stack:after {
        width: 21.89px;
        height: 21.78px;
        background-position: 21.62318004901254% 91.52215799614643%;
    }
    &--tick:before,
    &--after--tick:after {
        width: 16px;
        height: 16px;
        background-position: 82.42523364485982% 88.91625615763547%;
    }
    &--top:before,
    &--after--top:after {
        width: 16.98px;
        height: 12.41px;
        background-position: 73.80997089475167% 75.02783290575536%;
    }
    &--twitter:before,
    &--after--twitter:after {
        width: 28px;
        height: 24px;
        background-position: 87.14356435643565% 12.307692307692308%;
    }
    &--twitter-colour:before,
    &--after--twitter-colour:after {
        width: 28px;
        height: 24px;
        background-position: 87.14356435643565% 0;
    }
    &--user:before,
    &--after--user:after {
        width: 20px;
        height: 22px;
        background-position: 74.28571428571429% 63.95939086294416%;
    }
    &--video:before,
    &--after--video:after {
        width: 27px;
        height: 21px;
        background-position: 86.71428571428571% 24.242424242424242%;
    }
    &--video-orange:before,
    &--after--video-orange:after {
        width: 27px;
        height: 21px;
        background-position: 86.71428571428571% 59.09090909090909%;
    }
    &--video-white:before,
    &--after--video-white:after {
        width: 26px;
        height: 21px;
        background-position: 12.745098039215685% 78.28282828282828%;
    }
    &--youtube:before,
    &--after--youtube:after {
        width: 64px;
        height: 30px;
        background-position: 55.42168674698795% 0;
    }

    &--margin {
        &--left {
            &--large:before {
                margin-left: 15px;
            }
            &--medium:before,
            &:before {
                margin-left: 10px;
            }
            &--small:before {
                margin-left: 5px;
            }
        }
        &--right {
            &--large:before {
                margin-right: 15px;
            }
            &--medium:before,
            &:before {
                margin-right: 10px;
            }
            &--small:before {
                margin-right: 5px;
            }
        }
    }
    &--after.icon--margin {
        &--left {
            &--large:after {
                margin-left: 15px;
            }
            &--medium:after,
            &:after {
                margin-left: 10px;
            }
            &--small:after {
                margin-left: 5px;
            }
        }
        &--right {
            &--large:after {
                margin-right: 15px;
            }
            &--medium:after,
            &:after {
                margin-right: 10px;
            }
            &--small:after {
                margin-right: 5px;
            }
        }
    }
}