/**
 * Colours
 *
 * Stylesheets will inherit variables from the core _variables.ccss file
 * which can also be replaced in this file. Feel free to use colours set
 * in the core and overwrite them here if they need to be different for
 * the website.
 */

$color-background-header: #333;
$color-background-grey: #f5f5f5;
$color-orange: #e0610e;

$color-grey-dark: #1b1b1b;
$color-grey: #333;
$color-grey-light: #d6d6d6;
$color-grey-lighter: #f0f0f0;
$color-grey-lightest: #e2e2e2;

$color-text-grey: #484848;
$color-text-dark: #545454;
$color-input-text: #737373;

$color-link-dropdown: #1a1a1a;
$color-link-dropdown-sub: #1a1a1a;

$color-title: #767676;
$color-title-sub: #2c2c2c;

$color-release-preview: #646464;

$color-content: #666;
$color-content-modal: #f1f1f1;

$color-border-title: #bababa;
$color-border-image: #d9d9d9;

$color-footer-border: #dbdbdb;
$color-footer-text: #afafaf;


$color-mobile-nav: #cbcbcb;

$color-mobile-border: #666;
$color-mobile-background-nav: #252525;


$mobile-grid-gutter: 20px; // We want to change this to 7px but it's causing issues...
$mobile-wrapper-gutter: 20px;


/**
 * Fonts
 *
 * To add more fonts, please add them via the shared company fonts.com account:
 * 
 * font-family:'Proxima Nova W08 Smbd';
 * font-family:'Proxima Nova W08 Reg';
 * font-family:'HelveticaNeueW01-55Roma';
 * font-family:'HelveticaNeueW01-65Medi';
 * font-family:'HelveticaNeueW01-75Bold';
 * font-family:'HelveticaNeueW01-45Ligh';
 * font-family:'Serene W90 Regular';
 * font-family:'InterFace W02 XBold1373167';
 * font-family:'InterFace W02 Light1373157';
 * font-family:'InterFace W02 Regular1373161';
 * font-family:'InterFace W02 Bold1373151';
 */

$font-family-arial: Arial, Helvetica, sans-serif;

$font-family-base: 'InterFace W02 Regular1373161', 'HelveticaNeueW01-55Roma', Arial, Helvetica, sans-serif;

$font-family-title: 'InterFace W02 Bold1373151', 'HelveticaNeueW01-65Medi', Arial, Helvetica, sans-serif;
$font-family-subtitle: 'InterFace W02 Bold1373151', 'HelveticaNeueW01-65Medi', Arial, Helvetica, sans-serif;

$font-family-content: 'InterFace W02 Regular1373161', 'HelveticaNeueW01-55Roma', Arial, Helvetica, sans-serif;
$font-family-content-light: 'InterFace W02 Light1373157', 'HelveticaNeueW01-45Ligh', Arial, Helvetica, sans-serif;
$font-family-content-medium: 'InterFace W02 Bold1373151', 'HelveticaNeueW01-65Medi', Arial, Helvetica, sans-serif;
$font-family-content-bold: 'InterFace W02 XBold1373167', 'HelveticaNeueW01-75Bold', Arial, Helvetica, sans-serif;

// $font-family-content: 'HelveticaNeueW01-55Roma', Arial, Helvetica, sans-serif;
// $font-family-content-light: 'HelveticaNeueW01-45Ligh', Arial, Helvetica, sans-serif;
// $font-family-content-medium: 'HelveticaNeueW01-65Medi', Arial, Helvetica, sans-serif;
// $font-family-content-bold: 'HelveticaNeueW01-75Bold', Arial, Helvetica, sans-serif;
