<?php

$title = $this->translate('Search');
$this->headTitle($title);

?>
<div class="wrapper">

	<h1 class="page__title page__title--uppercase page__title--margin-bottom"><?= $this->translate('Search') . ($query?': '.$query:'')?></h1>

	<section class="sort cf">
		<div class="grid grid--gutter-30">
			<div class="grid__item one-half l-one-half m-one-half s-full">
				<span class="sort__content"><?= sprintf($this->translate("Showing %s of %s"), '<strong>' . (count($releaseResults) + count($mediaResults)) . '</strong>', '<strong>' . (count($releaseResults) + count($mediaResults)) . '</strong>'); ?></span>
			</div>
			<div class="grid__item one-half l-one-half m-one-half s-full align--right">
				<? /* <label class="sort__label padding--right-15"><?= $this->translate('Sort by'); ?></label>
				<div class="filters__select filters__select--arrow-padding display--inline-block icon icon--select-dropdown">
					<select>
						<option value="-1"><?= $this->translate('Select'); ?></option>
						<? for ($i = 1; $i <= 3; $i++): ?>
							<option>Option <?= $i; ?></option>
						<? endfor; ?>
					</select>
				</div> */ ?>
			</div>
		</div>
	</section>

	<? if (count($releaseResults) > 0): ?>

		<h1 class="page__title page__title--uppercase page__title--margin-bottom"><?= \Index\Model\Index::strtoupper($this->translate('Press releases')); ?></h1>

		<section class="releases--preview">
			<div class="grid l-clearfix m-clearfix">
				<? foreach ($releaseResults as $count => $releaseResult): ?>
					<?= $this->partial('releases/partials/result.phtml', array(
							'release' => $releaseResult
						)); ?>
				<? endforeach; ?>
			</div>
		</section>

	<? endif ?>

	<? if (count($mediaResults) > 0): ?>

		<h1 class="page__title page__title--uppercase page__title--margin-bottom"><?= \Index\Model\Index::strtoupper($this->translate('Media')); ?></h1>

		<section class="releases--preview cf">
			<div class="grid l-clearfix m-clearfix">
                <? foreach ($mediaResults as $mediaResult): ?>
                    <?= $this->partial('gallery/partials/'.$mediaResult["type"].'.phtml', array(
							'media' => $mediaResult,
							'downloads' => $downloads,
							'download' => true
						)); ?>
				<? endforeach; ?>
			</div>
		</section>

	<? endif ?>

	<? if (count($releaseResults) == 0 && count($mediaResults) == 0): ?>

		<p><?= $this->translate('Sorry, there are no results.') ?></p>

	<? endif ?>

	<? // @todo: Add pagination ?>

</div>