<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Newspress</title>
		<style type="text/css">

		    /* --- Reset/Formatting ---------- */

		    *, *:before, *:after {
		    	font-smoothing: antialiased;
		    	-webkit-font-smoothing: antialiased;
		    	text-rendering: optimizeLegibility;
		    }

			table, td, div, p, span  {
				padding: 0;
				margin: 0;
				border: none;
			}
			
			html, body, table, tr, td, div, p {
				font-family: Arial, serif;
				font-size: 13px;
                line-height: 22px !important;
                line-height: 22px;
    			font-weight: 100;
			}
			
			body {
				width: 100% !important;
				background-color: #ebebeb;
				-webkit-text-size-adjust: none;
				-ms-text-size-adjust:100%;
				margin: 0;
				color: #848484;
			}
				
			table td {
				border-collapse: collapse;
			}
				
			p {
				margin: 0;
			}
			
			img {
				display: block;
				outline: none;
				text-decoration: none;
			}
			
			a img {
				border: none;
			}			
			
			a,
			a:hover,
			a:focus,
			a:active {
				text-decoration: none;
				color: #a5a5a5;
			}
			
			h1, .h1,
			h2, .h2,
			h3, .h3,
			h4, .h4,
			h5, .h5,
			h6, .h6 {
				color: #858585 !important;
				font-weight: bold;
			}

		    /* --- Helpers ------------------- */

		    .p5 {
		    	padding: 5px;
		    }
		    .p10 {
		    	padding: 10px;
		    }
		    .p20 {
		    	padding: 20px;
		    }
		    .p30 {
		    	padding: 30px;
		    }
		    .pt5 {
		    	padding-top: 5px;
		    }
		    .pt10 {
		    	padding-top: 10px;
		    }
		    .pt20 {
		    	padding-top: 20px;
		    }
		    .pt30 {
		    	padding-top: 30px;
		    }
		    .pb5 {
		    	padding-bottom: 5px;
		    }
		    .pb10 {
		    	padding-bottom: 10px;
		    }
		    .pb20 {
		    	padding-bottom: 20px;
		    }
		    .pb30 {
		    	padding-bottom: 30px;
		    }
			.center {
				text-align: center;
			}

		    /* --- Template ------------------ */

		    .wrapper {
				margin: 0;
				width: 100%;
				color: #848484;
				background-color: #ebebeb;
				-webkit-text-size-adjust: none;
				-ms-text-size-adjust:100%;
		    }
			.view {
				color: #ffffff;
				font-size: 11px;
				background-color: #c1c1c1;
			}
			.view a {
				color: #ffffff;
				font-weight: normal;
				text-decoration: underline;
			}
			.logo {
				display: inline;
			}
			.content {
				border: 1px #dddddd solid;
				background-color: #ffffff;
			}
			h1 {
				color: #858585;
				font-size: 20px;
				font-weight: bold;
			}
			p {
				line-height: 2em;
			}
			.footer {
				font-size: 11px;
				border-top: 1px #e4e4e4 solid;
			}

		</style>
	</head>
	<body>
		<div class="wrapper">
			<table cellspacing="0" cellpadding="0" border="0" width="100%">
				<tbody>
					<tr>
						<td class="view pt5 pb5" align="center">Having trouble viewing this email? <a href="#">View in your browser</a></td>
					</tr>
					<tr>
						<td class="pt20 pb20" align="center">
							<img class="logo" src="{site_url}/core/img/newspress-logo-email.png" alt="Newspress" />
						</td>
					</tr>
					<tr>
						<td class="p20">
							<table cellspacing="0" cellpadding="0" border="0" width="100%">
								<tbody>
									<tr>
										<td class="content p20">
											<table cellspacing="0" cellpadding="0" border="0" width="100%">
												<tbody>
													<tr>
														<td class="pb20">
															{body}
														</td>
													</tr>
													<tr>
														<td class="footer pt20">
															<p>Please do not respond to this message, it was sent from an unmonitored email address.</p>
															<p>For general enquiries please <a href="#">contact us</a> or call us on: <a href="tel:+441293852233">+44 (0)1293 852 233</a></p>
														</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>