<?php

$title = $this->translate('GT Pitwall');
$this->headTitle($title);

?>
<section class="section">
	<div class="wrapper">
		<h1 class="page__title page__title--uppercase page__title--margin-bottom"><?= $title; ?></h1>
		<div class="page__content">
			<div class="grid">
				<div class="grid__item two-thirds l-two-thirds m-full s-full">
					<div class="page__content">
						<p><strong>Welcome to the McLaren GT Pitwall</strong></p>
						<p>Bringing you closer to the high-octane racing action with live updates from GT championships around the world, with McLaren GT customer teams running around the world. The McLaren GT Pitwall provides real-time updates from selected rounds during the season where McLaren GT customer teams are on track, and gives an insight into the teams, the drivers, the cars and the tracks.</p>
						<p>Live updates will appear below, and further updates and image galleries will be available over race weekends on the official <a href="https://www.facebook.com/McLarenGT" target="_blank">McLaren GT Facebook page</a>.</p>
						<p>If you would like to see your message on the GT Pitwall, you can get in touch or follow McLaren GT on Twitter - <a href="https://twitter.com/McLaren_GT" target="_blank">@McLaren_GT</a>.</p>
					</div>
				</div>
				<div class="grid__item one-third l-one-third m-full s-full">
					<img class="pitwall__lead-image image" src="<?= $this->basePath('/img/placeholders/gt-pitwall/technical.jpg') ?>" alt="Winner">
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section section--grey">
	<div class="wrapper wrapper--funnel">
		<div class="pitwall">
			<? foreach ($posts as $post): ?>
				<? $post = (object) $post; ?>
				<article class="pitwall__post">
					<div class="pitwall__content">
						<? $date = new \Newspress\Date($post->created); ?>
						<div class="pitwall__time"><?= $date->format('d M Y - H:i T') ?></div>
						<?= $post->content ?>
						<? /* <div class="pitwall__date"><?= $date->convertTimestamp() ?></div> */ ?>
					</div>
					<? if ($image = $post->image): ?>
						<div class="pitwall__image">
							<img class="image" src="<?= $image ?>" alt="">
						</div>
					<? endif ?>
				</article>
			<? endforeach ?>
		</div>
	</div>
</section>
