/**
 * Newspress Ltd (http://www.newspress.co.uk)
 *
 * @link      http://www.newspress.co.uk
 * @copyright Copyright (c) 2015 Newspress Ltd (http://www.newspress.co.uk)
 * @license  ISC Licence
 *
 * Version: 1.0.0
 */
body:before{white-space:pre;font-family:monospace;content:"Error: File to import not found or unreadable: includes/sprites.\A        Load paths:\A          /Users/thomas/Sites/mclaren/resource/sass/hacks/ie8\A          /var/folders/c5/d7dzgdqd2x5871vy26tg3w6r0000gn/T/gulp-ruby-sass\A         on line 1 of /var/folders/c5/d7dzgdqd2x5871vy26tg3w6r0000gn/T/gulp-ruby-sass/editor.scss\A \A 1: \A 2: \A 3: .admin {\A 4: 	.mce-tinymce {\A 5: 		margin-bottom: 17px;\A 6: 	}"}
/*# sourceMappingURL=editor.css.map */