<?php

$this->headTitle($event->title);

?><div class="wrapper">
	<div class="grid">
		<div class="grid__item full l-full m-full s-full">
			<h1 class="page__title page__title--margin-bottom"><?= \Index\Model\Index::strtoupper($this->translate('Events') . ': ' . $event->title); ?>
			<div class="release-sidebar__media-info">
				<? if ($releases): ?>
					<a href="#releases" class="page__anchor icon icon--arrow-down-orange"><?= $this->translate('Press Releases') ?></a>
				<? endif ?>
				<? if ($packs): ?>
					<a href="#documents" class="page__anchor icon icon--arrow-down-orange"><?= $this->translate('Documents') ?></a>
				<? endif ?>
				<? if ($images || $videos): ?>
					<a href="#gallery" class="page__anchor icon icon--arrow-down-orange"><?= $this->translate('Gallery') ?></a>
				<? endif ?>
			</div>
			</h1>
            <? if (isset($event->hero) && $event->hero !== null): ?>
                <div class="hero height--auto">
                    <? if ($mediaObject = new \Newspress\Asset\Image($event->hero)): ?>
                        <?= $mediaObject->getTag('hero', 'hero__image image'); ?>
                    <? endif ?>
                </div>
            <? endif ?>
		</div>
		<? if ($releases): ?>
			<div class="grid__item full l-full m-full s-full ">
				<section class="section section--releases padding--top-40 padding--bottom-20">
					<h1 class="page__title page__title--uppercase page__title--margin-bottom" id="releases"><?= \Index\Model\Index::strtoupper($this->translate('Press release') . ': ' . $event->title); ?></h1>
					<div class="releases--preview">

							<div class="grid l-clearfix m-clearfix" id="slick-slider">
								<? foreach ($releases as $release): ?>
									<?= $this->partial('releases/partials/result.phtml', array(
											'release' => $release
										)); ?>
								<? endforeach; ?>
							</div>

					</div>
				</section>
			</div>
		<? endif ?>
		<? if ($packs): ?>
			<div class="grid__item full l-full m-full s-full">
				<h1 class="page__title page__title--uppercase page__title--margin-bottom margin--top-30" id="documents"><?= \Index\Model\Index::strtoupper($this->translate('Documents') . ': ' . $event->title); ?></h1>
			</div>
			<div class="grid__item <?= ($images || $videos || $documents) ? 'two-thirds l-two-thirds' : 'full l-full'; // @todo: Add languages ?> m-full s-full">

                <div class="mobile--hidden">
                    <?= $this->partial('events/partials/packs-desktop.phtml', array(
                        'packs' => $packs
                    )); ?>
                </div>

                <div class="mobile--show">
                    <?= $this->partial('events/partials/packs-mobile.phtml', array(
                        'packs' => $packs
                    )); ?>
                </div>
			</div>
			<? if ($images || $videos || $documents): // @todo: Add languages ?>
				<div class="grid__item one-third l-one-third m-full s-full">
					<div class="release-sidebar">
						<? if ($images || $videos): ?>
							<? $images_count = (isset($images) && $images) ? count($images) : 0 ?>
							<? $videos_count = (isset($videos) && $videos) ? count($videos) : 0 ?>
							<? $media_count = $images_count + $videos_count; ?>
							<h2 class="release-sidebar__title page__subtitle--block"><?= $this->translate('Gallery'); ?><div class="release-sidebar__media-info"><span class="release-sidebar__media-count"><?= $this->translate('Media'); ?>: <span><?= $media_count ?></span></span><a href="#gallery" class="release-sidebar__anchor icon icon--arrow-down-orange"><?= $this->translate('View Gallery') ?></a></div></h2>
							<div class="wrapper--grey">
								<div class="grid grid--flush">
									<? foreach ($images as $image): ?>
										<div class="grid__item one-half l-one-half m-one-half s-full">
											<a href="#gallery" class="page__anchor"><?= $image->getTag('thumbnail', 'image'); ?></a>
										</div>
									<? endforeach ?>
								</div>
							</div>
						<? endif ?>
						<? /* <h2 class="release-sidebar__title page__subtitle--block"><?= $this->translate('Languages'); ?></h2>
						<div class="wrapper--grey">
							<div class="cf">
								<a href="#" class="flag flag--active icon icon--flag-en-gb"></a>
								<a href="#" class="flag icon icon--flag-de"></a>
								<a href="#" class="flag icon icon--flag-fr"></a>
							</div>
						</div> */ ?>
						<? if ($documents): ?>
							<h2 class="release-sidebar__title page__subtitle--block"><?= $this->translate('Documents'); ?></h2>
							<div class="wrapper--grey">
								<? foreach ($documents as $document): ?>
									<div class="media-download__info">
										<span class="media-download__info--prime"><?= $document->getTitle() ?></span>
										<span class="media-download__info--alt"><?= round(((int) $document->getSize()) / (1024 * 1024)) ?>KB</span>
										<span class="media-download__info--alt">PDF</span>
									</div>
								<? endforeach ?>
								<div class="media-download__buttons">
									<a href="#" class="button button--hard button--no-border media-download__button--later margin--right-15 icon icon--list icon--margin--right"><?= $this->translate('Add to downloads'); ?></a>
									<a href="#" class="button button--white button--hard button--no-border media-download__button--now icon icon--download"></a>
								</div>
							</div>
						<? endif ?>
					</div>
				</div>
			<? endif ?>
		<? endif ?>
	</div>
	<? if ($images || $videos): ?>
		<div>
			<div class="float--right">
				<? if ((count($images) + count($videos)) > 6): ?>
					<a href="/gallery/category/events/<?= $event->id ?>" class="view-all icon icon--arrow-right-orange icon--margin--right--small"><?= $this->translate('View all') ?></a>
				<? endif ?>
			</div>
			<h2 class="page__title page__title--uppercase page__title--margin-bottom margin--top-50" id="gallery"><?= \Index\Model\Index::strtoupper($this->translate('Gallery') . ': ' . $event->title); ?></h2>
		</div>
		<div class="release__gallery">
			<div class="grid l-clearfix m-clearfix">
				<? if ($images && count($images) > 0): ?>
					<? foreach ($images as $image): ?>
						<?= $this->partial('gallery/partials/image.phtml', array(
							'media'     => $image,
							'downloads' => $downloads,
							'download'  => true
						)); ?>
					<? endforeach ?>
				<? endif ?>
				<? if ($videos && count($videos) > 0): ?>
					<? foreach ($videos as $videos): ?>
						<?= $this->partial('gallery/partials/video.phtml', array(
							'media'     => $video,
							'downloads' => $downloads,
							'download'  => true,
                            'browser'   => $browser
						)); ?>
					<? endforeach ?>
				<? endif ?>
			</div>
		</div>
	<? endif ?>
	<div class="back-to-top__wrapper align--center">
		<a href="#top" class="back-to-top button--light-grey button--hard display--inline-block icon icon--top icon--margin--right"><?= $this->translate('Back to top') ?></a>
	</div>
</div>