<?php

// $this->headLink(array(
//      'rel' => 'canonical',
//      'href' => '/events'
//  ));

$this->headTitle('Events');

?><div class="wrapper">
	<div class="grid">
		<div class="grid__item full l-full m-full s-full">
			<h1 class="page__title page__title--margin-bottom"><?= \Index\Model\Index::strtoupper($this->translate('Events')); ?></h1>
			<div class="hero height--auto">
				<h2 class="hero__title">Goodwood FOS 2013</h2>
				<img class="hero__image" src="<?= $this->basePath() ?>/img/placeholders/events/hero.jpg" alt="Hero image">
			</div>
		</div>
		<div class="grid__item full l-full m-full s-full">
			<h1 class="page__title page__title--uppercase page__title--margin-bottom margin--top-30"><?= $this->translate('Press Releases'); ?></h1>
			<div class="releases--preview">
				<div class="grid l-clearfix m-clearfix">
					<? foreach ($releases as $count => $release): ?>
						<?= $this->partial('releases/releases/release.phtml', array(
								'release' => $release,
								'count' => $count
							)); ?>
					<? endforeach; ?>
				</div>
			</div>
		</div>
		<div class="grid__item two-thirds l-two-thirds m-full s-full">

			<h1 class="page__title page__title--uppercase page__title--margin-bottom"><?= $this->translate('Documents'); ?></h1>
			<table class="table">
			    <tbody>
			        <tr>
			            <td>
			        		<a class="orange-link orange-link--active" href="#">Can-am</a>
			            </td>
			            <td>
	            			<a class="orange-link" href="#">Formula 1</a>
			            </td>
			            <td>
	            			<a class="orange-link" href="#">24 hours of Le Mans</a>
			            </td>
			            <td>
	            			<a class="orange-link" href="#">Road</a>
			            </td>
			            <td>
	            			<a class="orange-link" href="#">McLaren GT</a>
			            </td>
			        </tr>
			    </tbody>
			</table>

			<div class="document-links">
				<a href="#" class="document-links__item icon icon--document-black icon--margin--right">1970 M8D <span class="document-links__date">Jul 9, 2013</span></a>
				<a href="#" class="document-links__item icon icon--document-black icon--margin--right">1971 M8F <span class="document-links__date">Jul 9, 2013</span></a>
			</div>

			<h2 class="events__title">1970 M8D</h2>
			<table class="table table--styled">
			    <tbody>
			        <tr>
			            <td>Year</td>
			            <td>Chassis</td>
			            <td>Notable Achievements</td>
			            <td>Drivers</td>
			        </tr>
			        <tr>
			            <td>1970</td>
			            <td>1</td>
			            <td>Won nine out of 10 races in 1970 Can-Am season 1970 Can-Am Championship – D. Hulme</td>
			            <td>P. Gethin (GBR), D. Gurney (USA), D. Hulme (NZL), B. McLaren (NZL)</td>
			        </tr>
			    </tbody>
			</table>

			<h2 class="events__title">Specification</h2>
			<table class="table table--styled">
			    <tbody>
			        <tr>
			            <td>Designer</td>
			            <td>Gordon Coppuck</td>
			            <td>Carburation</td>
			            <td>Lucas fuel injection</td>
			        </tr>
			        <tr>
			        	<td>Examples Built</td>
			        	<td>4</td>
			        	<td>Transmission</td>
			        	<td>Hewland DG400 5</td>
			        </tr>
			        <tr>
			            <td>Designer</td>
			            <td>Gordon Coppuck</td>
			            <td>Carburation</td>
			            <td>Lucas fuel injection</td>
			        </tr>
			        <tr>
			        	<td>Examples Built</td>
			        	<td>4</td>
			        	<td>Transmission</td>
			        	<td>Hewland DG400 5</td>
			        </tr>
			        <tr>
			            <td>Designer</td>
			            <td>Gordon Coppuck</td>
			            <td>Carburation</td>
			            <td>Lucas fuel injection</td>
			        </tr>
			        <tr>
			        	<td>Examples Built</td>
			        	<td>4</td>
			        	<td>Transmission</td>
			        	<td>Hewland DG400 5</td>
			        </tr>
			        <tr>
			            <td>Designer</td>
			            <td>Gordon Coppuck</td>
			            <td>Carburation</td>
			            <td>Lucas fuel injection</td>
			        </tr>
			        <tr>
			        	<td>Examples Built</td>
			        	<td>4</td>
			        	<td>Transmission</td>
			        	<td>Hewland DG400 5</td>
			        </tr>
			    </tbody>
			</table>

			<h2 class="events__title">Background</h2>
			<div class="page__content">
				<p>The McLaren M8D is inevitably remembered as the car in which Bruce McLaren died, but it gave his team one of its best years in Can-Am.</p>
				<p>Rallying superbly after the tragedy, Dan Gurney was drafted in to replace Bruce and, in his first race with the team, qualified on pole position despite never having driven the car before. And he won.</p>
				<p>McLaren went on to take nine wins from 10 rounds during the 1970 Can-Am season, and Denny Hulme his second title despite driving with his hands still bandaged after the fire at Indianapolis earlier in the season.</p>
				<p>In the most trying circumstances, McLaren had pulled through. It had been shaken to the core; it was a tribute to the philosophy with which Bruce had imbued every member that they were able not just to carry on, but to keep winning.</p>
			</div>
		</div>
		<div class="grid__item one-third l-one-third m-full s-full">
			<div class="release-sidebar">
				<h2 class="release-sidebar__title page__subtitle--block"><?= $this->translate('Gallery'); ?></h2>
				<div class="wrapper--grey">
					<div class="grid grid--flush">
						<div class="grid__item one-half l-one-half m-one-half s-full">
							<img class="image" src="<?= $this->basePath() ?>/img/placeholders/releases/detail/0.jpg" alt="">
						</div>
						<div class="grid__item one-half l-one-half m-one-half s-full">
							<img class="image" src="<?= $this->basePath() ?>/img/placeholders/releases/detail/0.jpg" alt="">
						</div>
					</div>
				</div>
				<h2 class="release-sidebar__title page__subtitle--block"><?= $this->translate('Documents'); ?></h2>
				<div class="wrapper--grey">
					<table class="table documents">
					    <tbody>
					        <tr>
					            <td class="document__name">17061mclaren_M8D</td>
					            <td class="document__size">57KB</td>
					            <td class="document__type">Word Doc</td>
					        </tr>
					    </tbody>
					</table>
					<div class="media-download__buttons">
						<a href="#" class="button button--solid media-download__button--later margin--right-15 icon icon--list icon--margin--right"><?= $this->translate('Add to downloads'); ?></a>
						<a href="#" class="button button--white button--solid media-download__button--now icon icon--download"></a>
				</div>
				</div>
			</div>
		</div>
	</div>
	<h2 class="page__title page__title--uppercase page__title--margin-bottom margin--top-50"><?= $this->translate('Gallery'); ?></h2>
	<div class="release__gallery">
		<div class="grid">
			<div class="grid__item one-thid l-one-third m-third s-full">
				<img class="image" src="<?= $this->basePath() ?>/img/placeholders/releases/detail/gallery.jpg" alt="Gallery">
			</div>
		</div>
	</div>
</div>