.ie8{
  .select__text:after{
    width: 21.93px;
    height: 15.31px;
    background: url('../../../img/sprites.png') no-repeat 98.53189742599122% 78.55073886788747%;
    content: "";
    display: inline-block;
    vertical-align: middle;
  }
  .icon {
    &--arrow-down-orange:before,
    &--after--arrow-down-orange:after {
      width: 17.56px;
      height: 12.78px;
      background: url('../../../img/sprites.png') no-repeat 86.75274309496784% 75.16244787120552%;
      content: "";
      display: inline-block;
      vertical-align: middle;

    }
    &--arrow-dropdown-grey:before,
    &--after--arrow-dropdown-grey:after {
      width: 14px;
      height: 11px;
      background: url('../../../img/sprites.png') no-repeat 81.87441860465117% 69.23076923076923%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--arrow-dropdown-orange:before,
    &--after--arrow-dropdown-orange:after {
      width: 14px;
      height: 11px;
      background: url('../../../img/sprites.png') no-repeat 88.38604651162791% 69.23076923076923%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--arrow-left-grey:before,
    &--after--arrow-left-grey:after {
      width: 12.75px;
      height: 17.56px;
      background: url('../../../img/sprites.png') no-repeat 16.01849710982659% 89.60484511517078%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--arrow-left-orange:before,
    &--after--arrow-left-orange:after {
      width: 12.75px;
      height: 17.56px;
      background: url('../../../img/sprites.png') no-repeat 78.92716763005781% 76.94598888006354%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--arrow-left-white:before,
    &--after--arrow-left-white:after {
      width: 12.75px;
      height: 17.56px;
      background: url('../../../img/sprites.png') no-repeat 21.91445086705202% 89.60484511517078%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--arrow-mobile-down-orange:before,
    &--after--arrow-mobile-down-orange:after {
      width: 19.67px;
      height: 14px;

    }
    &--arrow-right-grey:before,
    &--after--arrow-right-grey:after {
      width: 12.75px;
      height: 17.56px;
      background: url('../../../img/sprites.png') no-repeat 10.122543352601156% 89.60484511517078%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--arrow-right-orange:before,
    &--after--arrow-right-orange:after {
      width: 12.75px;
      height: 17.56px;
      background: url('../../../img/sprites.png') no-repeat 33.70635838150289% 89.60484511517078%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--arrow-right-white:before,
    &--after--arrow-right-white:after {
      width: 12.75px;
      height: 17.56px;
      background: url('../../../img/sprites.png') no-repeat 27.810404624277457% 89.60484511517078%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--arrow-slider-left:before,
    &--after--arrow-slider-left:after {
      width: 20.03px;
      height: 30px;
      background: url('../../../img/sprites.png') no-repeat 63.64549935397425% 15.873015873015873%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--arrow-slider-right:before,
    &--after--arrow-slider-right:after {
      width: 20.03px;
      height: 30px;
      background: url('../../../img/sprites.png') no-repeat 74.65186390390966% 0;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--bin:before,
    &--after--bin:after {
      width: 17px;
      height: 20px;
      background: url('../../../img/sprites.png') no-repeat 73.58490566037736% 57.47738693467337%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--bookmark:before,
    &--after--bookmark:after {
      width: 16px;
      height: 21.38px;
      background: url('../../../img/sprites.png') no-repeat 73.2394366197183% 15.18064973180852%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--clear:before,
    &--after--clear:after {
      width: 15px;
      height: 15px;
      background: url('../../../img/sprites.png') no-repeat 7.4766355140186915% 99.15686274509804%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--document:before,
    &--after--document:after {
      width: 18px;
      height: 23px;
      background: url('../../../img/sprites.png') no-repeat 96.69668246445498% 23.979591836734695%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--document-black:before,
    &--after--document-black:after {
      width: 18px;
      height: 23px;
      background: url('../../../img/sprites.png') no-repeat 96.69668246445498% 47.44897959183673%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--document-orange:before,
    &--after--document-orange:after {
      width: 18px;
      height: 23px;
      background: url('../../../img/sprites.png') no-repeat 96.69668246445498% 35.714285714285715%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--download:before,
    &--after--download:after {
      width: 17px;
      height: 21px;
      background: url('../../../img/sprites.png') no-repeat 73.58490566037736% 25.949494949494948%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--download-orange:before,
    &--after--download-orange:after {
      width: 17px;
      height: 21px;
      background: url('../../../img/sprites.png') no-repeat 73.58490566037736% 36.55555555555556%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--download-video:before,
    &--after--download-video:after {
      width: 41px;
      height: 41px;
      background: url('../../../img/sprites.png') no-repeat 48.93617021276596% 16.853932584269664%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--download-white:before,
    &--after--download-white:after {
      width: 17px;
      height: 21px;
      background: url('../../../img/sprites.png') no-repeat 73.58490566037736% 47.16161616161616%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--downloads:before,
    &--after--downloads:after {
      width: 17px;
      height: 18px;
      background: url('../../../img/sprites.png') no-repeat 65.09433962264151% 66.66666666666667%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--facebook:before,
    &--after--facebook:after {
      width: 25.13px;
      height: 25.13px;
      background: url('../../../img/sprites.png') no-repeat 25.28572129298082% 79.9504822819415%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--facebook-colour:before,
    &--after--facebook-colour:after {
      width: 25.55px;
      height: 25.44px;
      background: url('../../../img/sprites.png') no-repeat 12.779552715654953% 80.07852862161603%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--filter-advanced-search:before,
    &--after--filter-advanced-search:after {
      width: 24px;
      height: 24px;
      background: url('../../../img/sprites.png') no-repeat 99.52682926829269% 0;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--flag-ar-ae:before,
    &--after--flag-ar-ae:after {
      width: 33px;
      height: 21px;
      background: url('../../../img/sprites.png') no-repeat 50.51020408163265% 57.07070707070707%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--flag-de:before,
    &--after--flag-de:after {
      width: 33px;
      height: 21px;
      background: url('../../../img/sprites.png') no-repeat 33.673469387755105% 57.07070707070707%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--flag-en-gb:before,
    &--after--flag-en-gb:after {
      width: 33px;
      height: 21px;
      background: url('../../../img/sprites.png') no-repeat 16.836734693877553% 57.07070707070707%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--flag-en-us:before,
    &--after--flag-en-us:after {
      width: 33px;
      height: 21px;
      background: url('../../../img/sprites.png') no-repeat 0 57.07070707070707%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--flag-es:before,
    &--after--flag-es:after {
      width: 33px;
      height: 21px;
      background: url('../../../img/sprites.png') no-repeat 50.51020408163265% 46.464646464646464%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--flag-fr:before,
    &--after--flag-fr:after {
      width: 33px;
      height: 21px;
      background: url('../../../img/sprites.png') no-repeat 33.673469387755105% 46.464646464646464%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--flag-it:before,
    &--after--flag-it:after {
      width: 33px;
      height: 21px;
      background: url('../../../img/sprites.png') no-repeat 0 67.67676767676768%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--flag-jp:before,
    &--after--flag-jp:after {
      width: 33px;
      height: 21px;
      background: url('../../../img/sprites.png') no-repeat 16.836734693877553% 46.464646464646464%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--flag-nl:before,
    &--after--flag-nl:after {
      width: 33px;
      height: 21px;
      background: url('../../../img/sprites.png') no-repeat 0 46.464646464646464%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--flag-zh-hk:before,
    &--after--flag-zh-hk:after {
      width: 33px;
      height: 21px;
      background: url('../../../img/sprites.png') no-repeat 46.93877551020408% 35.85858585858586%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--grid-large-active:before,
    &--after--grid-large-active:after {
      width: 26px;
      height: 19px;
      background: url('../../../img/sprites.png') no-repeat 55.172413793103445% 67%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--grid-large-inactive:before,
    &--after--grid-large-inactive:after {
      width: 26px;
      height: 19px;
      background: url('../../../img/sprites.png') no-repeat 42.364532019704434% 67%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--grid-small-active:before,
    &--after--grid-small-active:after {
      width: 24px;
      height: 19px;
      background: url('../../../img/sprites.png') no-repeat 64.39024390243902% 46%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--grid-small-inactive:before,
    &--after--grid-small-inactive:after {
      width: 24px;
      height: 19px;
      background: url('../../../img/sprites.png') no-repeat 64.39024390243902% 56.5%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--hamburger:before,
    &--after--hamburger:after {
      width: 26px;
      height: 25.5px;
      background: url('../../../img/sprites.png') no-repeat 0 80.10335917312662%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--image:before,
    &--after--image:after {
      width: 27px;
      height: 21px;
      background: url('../../../img/sprites.png') no-repeat 87.14356435643565% 62.121212121212125%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--image-orange:before,
    &--after--image-orange:after {
      width: 27px;
      height: 21px;
      background: url('../../../img/sprites.png') no-repeat 61.881188118811885% 35.85858585858586%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--instagram:before,
    &--after--instagram:after {
      width: 24px;
      height: 25px;
      background: url('../../../img/sprites.png') no-repeat 49.6% 79.89690721649484%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--list:before,
    &--after--list:after {
      width: 21px;
      height: 18px;
      background: url('../../../img/sprites.png') no-repeat 71.96153846153847% 77.11442786069652%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--mail:before,
    &--after--mail:after {
      width: 24px;
      height: 19px;
      background: url('../../../img/sprites.png') no-repeat 61.30731707317073% 77.5%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--modal-close:before,
    &--after--modal-close:after {
      width: 23px;
      height: 23px;
      background: url('../../../img/sprites.png') no-repeat 99.04368932038835% 12.244897959183673%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--modal-next:before,
    &--after--modal-next:after {
      width: 18px;
      height: 27px;
      background: url('../../../img/sprites.png') no-repeat 83.42654028436019% 25%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--play:before,
    &--after--play:after {
      width: 92px;
      height: 92px;
      background: url('../../../img/sprites.png') no-repeat 0 0;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--remove:before,
    &--after--remove:after {
      width: 15px;
      height: 15px;
      background: url('../../../img/sprites.png') no-repeat 14.485981308411215% 99.15686274509804%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--rss:before,
    &--after--rss:after {
      width: 25px;
      height: 25px;
      background: url('../../../img/sprites.png') no-repeat 37.588235294117645% 79.89690721649484%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--search:before,
    &--after--search:after {
      width: 27px;
      height: 27px;
      background: url('../../../img/sprites.png') no-repeat 87.14356435643565% 39.0625%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--search-small:before,
    &--after--search-small:after {
      width: 22px;
      height: 22px;
      background: url('../../../img/sprites.png') no-repeat 98.56521739130434% 58.88324873096447%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--select-dropdown:before,
    &--after--select-dropdown:after {
      width: 21.93px;
      height: 15.31px;
      background: url('../../../img/sprites.png') no-repeat 98.53189742599122% 78.55073886788747%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--stack:before,
    &--after--stack:after {
      width: 21.89px;
      height: 21.78px;
      background: url('../../../img/sprites.png') no-repeat 0 91.52215799614643%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--tick:before,
    &--after--tick:after {
      width: 16px;
      height: 16px;
      background: url('../../../img/sprites.png') no-repeat 0 99.64532019704434%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--top:before,
    &--after--top:after {
      width: 16.98px;
      height: 12.41px;
      background: url('../../../img/sprites.png') no-repeat 40.39241580982926% 87.37112154508931%;
      content: "";
      display: inline-block;
      vertical-align: middle;

    }
    &--twitter:before,
    &--after--twitter:after {
      width: 28px;
      height: 24px;
      background: url('../../../img/sprites.png') no-repeat 87.57711442786069% 0;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--twitter-colour:before,
    &--after--twitter-colour:after {
      width: 28px;
      height: 24px;
      background: url('../../../img/sprites.png') no-repeat 87.57711442786069% 12.307692307692308%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--user:before,
    &--after--user:after {
      width: 20px;
      height: 22px;
      background: url('../../../img/sprites.png') no-repeat 97.622009569378% 70.05076142131979%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--video:before,
    &--after--video:after {
      width: 27px;
      height: 21px;
      background: url('../../../img/sprites.png') no-repeat 16.336633663366335% 67.67676767676768%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--video-orange:before,
    &--after--video-orange:after {
      width: 27px;
      height: 21px;
      background: url('../../../img/sprites.png') no-repeat 87.14356435643565% 51.515151515151516%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--video-white:before,
    &--after--video-white:after {
      width: 26px;
      height: 21px;
      background: url('../../../img/sprites.png') no-repeat 29.55665024630542% 67.67676767676768%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    &--youtube:before,
    &--after--youtube:after {
      width: 64px;
      height: 30px;
      background: url('../../../img/sprites.png') no-repeat 55.75757575757576% 0;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }

    &--margin {
      &--left {
        &--large:before {
          margin-left: 15px;
        }
        &--medium:before,
        &:before {
          margin-left: 10px;
        }
        &--small:before {
          margin-left: 5px;
        }
      }
      &--right {
        &--large:before {
          margin-right: 15px;
        }
        &--medium:before,
        &:before {
          margin-right: 10px;
        }
        &--small:before {
          margin-right: 5px;
        }
      }
    }
    &--after.icon--margin {
      &--left {
        &--large:after {
          margin-left: 15px;
        }
        &--medium:after,
        &:after {
          margin-left: 10px;
        }
        &--small:after {
          margin-left: 5px;
        }
      }
      &--right {
        &--large:after {
          margin-right: 15px;
        }
        &--medium:after,
        &:after {
          margin-right: 10px;
        }
        &--small:after {
          margin-right: 5px;
        }
      }
    }
  }

  .checkbox span {
    display: none;
  }

  .media__thumbnail-title{
    background: #000000;
    width: 300px;
  }
  .sort__label--checkbox {
    position: relative;
    left: 70px;
  }
  .media-download{
    width: 100%;
    z-index: 10;
  }

  .clearfix .one-fifth:nth-child(5n+1), .clearfix .one-fourth:nth-child(4n+1), .clearfix .one-half:nth-child(2n+1), .clearfix .one-quarter:nth-child(4n+1), .clearfix .one-sixth:nth-child(6n+1), .clearfix .one-tenth:nth-child(10n+1), .clearfix .one-third:nth-child(3n+1) {
    clear: both;
    content: "";
    display: table
  }
  
  .filters__input{
    width: 220px;
  }

  .media--play-button{
    top: 50px;
    left: 114px;
  }

  .modal{
    top: 25%;
    left: 25%;
    width: 50%;
  }

  .ie8-margin-bottom{
    margin-bottom: 430px;
  }

  .media--active:after{
    display: none;
  }

}