<?= $this->doctype(); ?>
<!--[if IE 7]>
<html class="ie ie7" lang="en" prefix="og: http://ogp.me/ns#">
<![endif]-->

<!--[if IE 9]>
<html class="ie ie9" lang="en" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if !(IE 7)|!(IE 8)|!(IE 9)]>
<html lang="en" prefix="og: http://ogp.me/ns#">
<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta name="google-site-verification" content="Jy4bl0szmjvvv5PUe4S0ZN2Pi5fnXN4zUk_e5pJGcgw" />
        <?= $this->headTitle('McLaren ' . $this->translate('Media Site'))
            ->setSeparator(' - ')
            ->setAutoEscape(true);
        ?>
        <?= $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge');
        ?>
        <?= (\Newspress::isProduction()) ? '' : $this->headMeta()
            ->appendName('robots', 'noindex');
        ?>
        <? if ($canonicalLink = $this->page()->getCanonicalLink()): ?>
            <? $this->headLink(array('rel' => 'canonical', 'href' => $canonicalLink)); ?>
        <? endif ?>
        <?= $this->headLink(array(
                'rel' => 'shortcut icon',
                'type' => 'image/vnd.microsoft.icon',
                'href' => $this->basePath() . '/img/favicon.ico'
            ))
            ->prependStylesheet($this->basePath() . '/css/style.css');
        ?>
        <!--[if IE 8]>
        <html class="ie ie8" lang="en" prefix="og: http://ogp.me/ns#">
        <?= $this->headLink()->prependStylesheet($this->basePath() . '/css/hacks/ie8/style.css');?>
        <![endif]-->
        <?
//          If browser is IE8 use older version of JQuery
            $jQueryVersion = (isset($_SERVER['HTTP_USER_AGENT']) && boolval(preg_match('/(?i)msie [8]/',$_SERVER['HTTP_USER_AGENT'])?'1.11.1':'2.1.1'));

            echo $this->headScript()
            ->offsetSetFile(40, $this->basePath('/js/global.js'))
            ->offsetSetFile(30, $this->basePath('/core/js/global.js'))
            // Leave some numbers blank here to allow in-page script loading
            // Or add to a custom ViewHelper class
            ->offsetSetFile(5, $this->basePath('/core/js/modernizr.js'))
            // ->offsetSetFile(4, '//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.3/jquery.mobile.min.js')
            ->offsetSetFile(3, '//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js')
            ->offsetSetFile(2, '//ajax.googleapis.com/ajax/libs/jquery/'.$jQueryVersion.'/jquery.min.js')
            ->offsetSetFile(1, '//fast.fonts.net/jsapi/17450549-8a7d-4698-953f-a256380f2391.js');
        ?>
    </head>
    <body<?= (!empty($this->bodyClass)) ? ' class="' . $this->bodyClass . '"' : ''; ?>>
        <div class="nav-overlay"></div>
        <?= $this->content; ?>
        <?= $this->inlineScript(); ?>
    </body>
</html>