<?php
	
$document = (object) $media;

?><div class="grid__item one-third l-one-third m-one-half s-full">
	<div class="media<?= ((isset($download) && !$download) ? ' media--no-hover' : '') ?>">
		<? if (!$document instanceof \Newspress\Asset\Document) { $document = new \Newspress\Asset\Document($document->id); } ?>

        <? if($document->getMime() == 'application/pdf'):?>
            <?= $document->getTag('pdf-placeholder', 'image') ?>
        <? else: ?>
            <?= $document->getTag('placeholder', 'image') ?>
        <? endif;?>
        <div class="media__thumbnail-title mobile--hidden tablet--hidden"><?= $document->getTitle() ?></div>

	</div>
	<? if (isset($download) && $download): ?>

		<?= $this->partial('gallery/partials/download.phtml', array('media' => $document, 'downloads' => $downloads)); ?>
	<? endif ?>
</div>