<?php

$escaper = new \Zend\Escaper\Escaper('utf-8');

$crops = array();

foreach (array('small', 'medium', 'original') as $crop):
    $dimensions = $media->getDimensions($crop);
    $size = $media->getSize('MB', $crop, 1);

    $crops[$crop]['selected'] = ($this->downloads->getItem($media->getId(), $media->getTypeFromMime(), $crop) ? true : false);
    $crops[$crop]['name'] = ($crop == 'original') ? 'Large' : ucwords($crop);
    if ($dimensions):
        $crops[$crop]['dimensions'] = $dimensions;
    endif;
    if ($size):
        $crops[$crop]['size'] = $size;
    endif;
endforeach;

$crops = \Newspress\Arr::convertArrayToObject($crops);

if (isset($crops->original) && isset($crops->medium)):
	if (isset($crops->original->size) && isset($crops->medium->size)):
		if ($crops->medium->size > $crops->original->size):
			unset($crops->medium);
		endif;
	endif;
endif;

if (isset($crops->medium) && isset($crops->small)):
	if (isset($crops->medium->size) && isset($crops->small->size)):
		if ($crops->small->size > $crops->medium->size):
			unset($crops->small);
		endif;
	endif;
endif;

if (isset($crops->original) && isset($crops->small)):
	if (isset($crops->original->size) && isset($crops->small->size)):
		if ($crops->small->size > $crops->original->size):
			unset($crops->small);
		endif;
	endif;
endif;

?>


<div class="media-download">
	<div class="wrapper">
		<a href="#" class="media-download__close icon icon--modal-close"></a>
		<div class="grid grid--gutter-30">
			<div class="grid__item one-half l-one-half m-one-half s-full">
                <? if($media->getMime() == 'application/pdf'):?>
                    <?= $media->getTag('pdf-placeholder', 'image') ?>
                <? else: ?>
                    <?= $media->getTag('thumbnail', 'image media-download__image'); ?>
                <? endif;?>
			</div>
			<div class="grid__item one-half l-one-half m-one-half s-full">
				<form action="/downloads/direct-download" method="post">
					<h3 class="media-download__title"><?= $media->getTitle() ?></h3>
					<p class="media-download__description">
						<?= $this->translate('Added') ?>: <?= $this->date($media->getPublished()) ?> | <?= $this->translate('ID') ?>: <?= $media->getId() ?>
						<br /><?= implode(', ', array_map('ucwords', array_map('trim', explode(',', $media->getKeywords())))); ?>
					</p>
					<? if ($media->getType() == 'image'): ?>
						<table class="media-download__table">
						    <tbody>
                                <? foreach ($crops as $crop): ?>
                                    <? if (isset($crop->dimensions)): ?>
							        <tr>
							            <td>
							            	<label class="checkbox">
							            		<input type="checkbox" name="crop[]" data-added="false" value="<?= $crop->name ?>"<?= $crop->selected ? ' checked="checked"' : '' ?>>

								            	<span></span>
								            </label>
							            </td>
							            <td><?= $crop->name ?></td>

								            <td><?= $crop->dimensions->width ?> x <?= $crop->dimensions->height ?></td>

							            <? if (isset($crop->size)): ?>
								            <td><?= $crop->size ?></td>
								        <? endif ?>
                                        <td><a class="media-download__link icon icon--download" target="_blank" href="<?=  $media->getDirectLink(strtolower($crop->name)) ?>" download></a></td>
                                        <? endif ?>
							        </tr>
							    <? endforeach ?>
						    </tbody>
						</table>
					<? elseif ($media->getType() == 'video'): ?>
						<input class="media-download__embed-code action--select-all" type="text" value="<?= $escaper->escapeHtml($media->getEmbedCode()); ?>">
						<span class="media-download__meta icon icon--video-white icon--margin--right"><?= $media->getTypeName() ?></span>
						<span class="media-download__meta icon icon--stack icon--margin--right"><?= $media->getFramesPerSecond() ?> <?= $this->translate('fps') ?></span>
					<? endif ?>
					<div class="media-download__buttons">
						<input type="hidden" name="type" value="<?= $media->getTypeFromMime() ?>">
						<input type="hidden" name="id" value="<?= $media->getId() ?>">
						<input type="hidden" name="title" value="<?= $media->getTitle() ?>">
						<input type="hidden" name="direct_url" value="<?= $media->getUrl() ?>">
						<? if (!($media->getType() == 'video' && $media->isThirdParty())): ?>
                            <? if (($media->getType() == 'video' && $this->layout()->hasIdentity) || $media->getType() != 'video') : ?>

                                <a href="#" class="basket-action--add button button--hard button--no-border media-download__button--later margin--right-15 icon icon--list icon--margin--right"><?= $this->translate('Add to downloads'); ?></a>

                                <? if($media->getType() == 'video'): ?>

                                    <a href="#" class="button button--white button--hard button--no-border media-download__button--now icon icon--download media-download__action--download-now"></a>

                                <? endif; ?>

                            <? else : ?>

                                <div class="media-download__description">
                                    PLEASE <a href="/login">LOG IN</a> OR <a href="/sign-up">SIGN-UP</a> TO DOWNLOAD VIDEOS.
                                </div>

                            <? endif; ?>

                        <? endif; ?>
					</div>
					<p class="media-download__notice"><?= $this->translate('Please note that you must be logged in to use the My Downloads feature.') ?><br />&copy; <?= $this->translate('Copyright') ?> McLaren Automotive Limited. <?= $this->translate('Reproduction free for editorial use only.') ?></p>
				</form>
			</div>
		</div>
	</div>
</div>