<video width="100%" height="100%" controls autoplay>
	<source src="<?= $video->getUrl(false, 'mp4') ?>" type="video/mp4">
    <source src="<?= $video->getUrl(false, 'webm') ?>" type="video/webm">
    <? /* <source src="<?= $video->getUrl(false, 'ogg') ?>" type="video/ogg"> */ ?>
    <object width="100%" height="100%" type="application/x-shockwave-flash" data="<?= $video->getUrl(false, 'flash') ?>">
        <param name="movie" value="<?= $video->getUrl(false, 'flv') ?>">
        <param name="flashvars" value="controlbar=over&amp;image=<?= $video->getUrl('thumbnail') ?>&amp;file=<?= $video->getUrl(false, 'flash') ?>">
        <embed src="<?= $video->getUrl(false, 'flash') ?>" width="100%" height="100%"></embed>
        <img src="<?= $video->getUrl('thumbnail') ?>" width="100%" height="100%" alt="<?= $video->getTitle() ?>" title="No video playback capabilities, please download the video below">
    </object>
</video>