<?php
	
if (!$media instanceof \Newspress\Asset\Image) {
	$media = (object) $media;
	$media = new \Newspress\Asset\Image($media->id);
}

?><div class="grid__item one-third l-one-third m-one-half s-full">
	<div class="media<?= ((isset($download) && !$download) ? ' media--no-hover' : '') ?>">
		<?= $media->getTag('thumbnail', 'image') ?>
        <div class="media__thumbnail-title mobile--hidden tablet--hidden"><?= $media->getTitle() ?></div>
	</div>
	<? if (isset($download) && $download): ?>
		<?= $this->partial('gallery/partials/download.phtml', array('media' => $media, 'downloads' => $downloads)); ?>
	<? endif ?>
</div>