<?php
	
if (!$media instanceof \Newspress\Asset\Video) {
	$media = (object) $media;
	$media = new \Newspress\Asset\Video($media->id);
}

?><div class="grid__item one-third l-one-third m-one-half s-full">
	<div class="media media--no-hover">
		<div class="position--relative">
			<? if ($media->isThirdParty()): ?>
				<a href="<?= $media->getUrl() ?>" target="_blank" class="media--label icon icon--<?= $media->getThirdParty() ?>"></a>
			<? endif ?>
            <? if(isset($browser) && $browser == 'ie8'): ?>

                <? if($media->getThirdParty() == 'youtube'): ?>
                    <span class="media--play-button icon icon--play" data-video-id="<?= $media->getId() ?>"></span>
                <? endif; ?>

            <? else: ?>
                <span class="media--play-button icon icon--play" data-video-id="<?= $media->getId() ?>"></span>
            <? endif; ?>

			<?= $media->getTag('thumbnail', 'image') ?>
            <div class="media__thumbnail-title mobile--hidden tablet--hidden"><?= $media->getTitle() ?></div>
		</div>
	</div>
	<? if (isset($download) && $download): ?>
		<?= $this->partial('gallery/partials/download.phtml', array('media' => $media, 'downloads' => $downloads)); ?>
	<? endif ?>
</div>